In [1]:
import json
import os
import re
import collections
import numpy as np
import pandas as pd
import tensorflow as tf
import LAC
import happybase
from sklearn.cluster import KMeans 
import joblib
from sklearn.feature_selection import RFE
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from bayes_opt import BayesianOptimization
from sklearn.model_selection import cross_val_score
from sklearn.metrics import r2_score
import time

In [1]:
!pip install bayesian-optimization

Requirement already satisfied: bayesian-optimization in c:\ana\lib\site-packages (1.0.1)
Requirement already satisfied: numpy>=1.9.0 in c:\users\zero丶\appdata\roaming\python\python36\site-packages (from bayesian-optimization) (1.19.1)
Requirement already satisfied: scipy>=0.14.0 in c:\ana\lib\site-packages (from bayesian-optimization) (1.4.1)
Requirement already satisfied: scikit-learn>=0.18.0 in c:\ana\lib\site-packages (from bayesian-optimization) (0.19.1)

WARNING: You are using pip version 20.2.2; however, version 20.2.4 is available.
You should consider upgrading via the 'c:\ana\python.exe -m pip install --upgrade pip' command.

In [3]:
df_list = []
with open("D:/predict_user_attribute20200911/raw_data/user_profile/position_data") as f:
    for line in f:
        df_list.append(line.strip().split('\001'))
df = pd.DataFrame(df_list)

In [3]:
all_set = set([v.lower() for v in df[1]])

In [4]:
#企业创始人/CEO
ceo_set = set()
ceo_pattern = re.compile('|'.join(map(re.escape, ["董事长","总裁","ceo","董事","合伙人","总经理","副总经理","老板"])),flags=re.IGNORECASE)

In [5]:
#企业业务决策层
decision_level_set = set()
decision_level_pattern = re.compile('|'.join(map(re.escape, ['cio', 'cfo', 'coo', 'cto', 'cko', 'cpo', 'cgo', 'cmo', 'cso',"首席","行长","投资经理"])),flags=re.IGNORECASE)

In [6]:
#企业一般管理人员
manager_set = set()
manager_pattern = re.compile('|'.join(map(re.escape, ["总监","主管","总助","负责人","中层干部"])),flags=re.IGNORECASE)

In [7]:
# 事业单位员工
public_institution_set = set()
public_institution_pattern = re.compile('|'.join(map(re.escape, ["主任","教务","老师","教师","列车","政府","常委","教師","人民公仆","院长","医","驻华大使"])),flags=re.IGNORECASE)

In [8]:
# 高校学生
student_set = set()
student_pattern = re.compile('|'.join(map(re.escape, ["学生","研究生","博士","大学","应届生"])),flags=re.IGNORECASE)

In [9]:
# 其他（自由职业）
other_set = set()
other_pattern = re.compile('|'.join(map(re.escape, ["自由",])),flags=re.IGNORECASE)

In [10]:
#企业普通员工
staff_set = set()
staff_pattern =  re.compile('|'.join(map(re.escape, ["工程师","民工","分析师","设计师","苦力","编程",
    "清洁","经理助理","客户经理","项目经理","从业者","规划师","部经理","公务员","销售经理"])),flags=re.IGNORECASE)

In [11]:
for v in all_set:
    if list(re.finditer(ceo_pattern,v)):
        ceo_set.add(v)
    elif list(re.finditer(decision_level_pattern,v)):
        decision_level_set.add(v)
    elif list(re.finditer(manager_pattern,v)):
        manager_set.add(v)
    elif list(re.finditer(public_institution_pattern,v)):
        public_institution_set.add(v)
    elif list(re.finditer(student_pattern,v)):
        student_set.add(v)
    else:
        if list(re.finditer(other_pattern,v)) or len(v) > 10:
            other_set.add(v)
        else:
            staff_set.add(v)

In [12]:
all_set = all_set - ceo_set - decision_level_set - manager_set - staff_set - public_institution_set - student_set - other_set
print(len(all_set))

0

In [13]:
print(len(ceo_set))
print(ceo_set)
print(len(decision_level_set))
print(decision_level_set)
print(len(manager_set))
print(manager_set)
print(len(public_institution_set))
print(public_institution_set)
print(len(student_set))
print(student_set)
print(len(other_set))
print(len(staff_set))

69
{'董事长兼司机', '董事总经理', '创业格子ceo', '合伙人', '品牌公关，营销传播，ceo-pr', '创新业务部总经理', '副总经理', '執行董事', '非总裁', '董事长/总裁/ceo/董事/合伙人', '市场部总经理', '高级副总裁', '总裁', '总经理', '华南副总经理', '总经理助理', '副总 & 合伙人', '战略投资管理中心副总经理', '高级合伙人', 'ceo与创始人', '产品经理，创业者，老板', '吉家集团全国发展副总经理', '老板', '小老板', '未来总经理', '干将、莫邪ceo，原双乾支付法人。', '创业者@合伙人', '执行总裁', '总经理，导演，视频设计师', 'ceo/董事/合伙人', '执行总经理', '梵溪花園品牌ceo', '高级副总裁 数字化转型顾问 区块链创新', '业务线总经理', '创始人/ceo', '城市总经理', '常务副总裁', '董事长兼ceo', '销售总经理', '创始ceo', '总经理/副总经理', '执行合伙人', '外贸公司总经理', '基金合伙人', '劲旅网副总裁', '创始人兼ceo', '不入流的总经理', 'ceo', '律所合伙人', '董事长秘书', '投资人 董事总经理', '首席执行官兼总经理', '董事长助理', '执行董事', '副总裁', '副总经理兼coo', '创始人&ceo', '创始合伙人', '创办人兼ceo', '创始人暨ceo', '北方区总经理', '总裁兼cgo', '渔你同行ceo', '董事长', '助理总裁', '投资银行部 助理董事', '老板娘', '公司创办人/ceo', '副ceo'}
31
{'联合创始人兼 cmo', '首席执行官', '首席策略官', 'coo', 'coo（首席运营官）', '帝国首席奇术师', '首席铲屎官', '首席搬砖官', '首席战略顾问', 'cto兼coo', 'cfo（首席财务官）', 'cpo', '投资经理', 'cto（首席技术官）', 'doctor', '高级投资经理', '首席顾问', '中国区首席执行官', 'cso', 'managing director', 'cio（首席信息官）', '首席律师', 'executive director', 'ctoooo', '首席编辑', '首席服务员', '银行行长', 'cto', '首席创想家', 'cgo', 'cmo'}
94
{'技术战略负责人', '网络营销总监', '电商运营总监', '内容总监', '电商o2o项目福建省销售总监', '投资人，技术总监', '总监', '市场总监助理（品牌方向）', '品牌公关总监', '教务总监', '产品总监的徒弟', '品牌总监', '研发总监', '市场营销总监', '某部门运营总监', '主管会计', '部门主管', '投资总监', '研究总监', '设计师/设计团队负责人', '产品运营总监', '高级技术总监', '艺术总监', '市场总监', '凤凰娱乐主管', '线下渠道总监', '中层干部', '项目负责人', '后勤部主管', '采购总监', '财富社区内容生态负责人', '运营总监', '销售总监', '运营主管', '整合营销副总监', '项目总监', '产品主管', '产品总监', '经理/主管', '媒介负责人', '媒体总监', '外发跟单主管', '海外营销总监', '营销主管', '天猫运营主管', '销售主管', '运营副总监', '零售供应链订货管理总监', 'mcn内容运营总监', '电商部营销主管', '产业地产运营总监', '市场副总监', '营销总监', '电子商务主管', '总监（财务总监，市场总监等）', '技术主管', '产品负责人', '原猫扑网运营总监、360手机粉丝运营总监、酷我音乐产品总监', '广告部总监', '技术总监', '租赁业务产品负责人', '总助', '房地产开发公司总监', '业务总监 精英理财师', '投资负责人', '品牌策划主管', '项目实施主管', '咨询总监', '反洗钱主管', '新媒体运营总监', '供应链负责人', '主管', '活动运营主管', '招商总监', '网络事业部总监', '房产总监', '策划执行总监', '负责人', '市场及品牌主管', '策划总监', '市场公关合作副总监', '工程运营总监', '主要负责人', '返朴编辑部编辑主管', '打杂总监', '发行负责人', '外贸总监', '电商主管', '品牌传播总监', '融峰集团莫等闲app商务技术中心主管', '设计总监', '媒介总监', '营销运营总监', '公共关系负责人'}
70
{'医疗器械工程师', '为政府打工', '医疗', '医疗服务', '医药代表', '想做好厨子的医生', '大学教师', '皮肤性病科医生', '驻华大使', '中医养生', '部门主任', '医学检验', '医务工作', '医学编辑', '英语教师', '高中教师', '教师，写手', '动物医学专业生，金融领域初涉者，泛媒体人，主持人', '精准医学', '临床医学', '秃头医学狗', '高校教师', '主任', '医师', '中学教师', '医生，中医', '老师', '常委', '兽医', '医疗官', '合规、政府关系、gsp质量管理', '医药信息沟通专员', '列车长', '前医生', '政府部门', '医院小会计', '医学', '医疗相关', '政府人员', '茶水间主任', '生物医药', '副院长', '医学生', '课程主任', '地理教师', '口腔科医生', '兽医职业经理人', '英文数学教师', '协助政府融资', '中医', '人民公仆', '中医按摩师', '教授/教师', '医', '办公室副主任', '医药', '中医师', '教师+编剧', '瑜伽老师', '临床医生', '书法老师', '人工智能知适应系统+专业真人老师辅导', '医药专员', '上医', '教师', '执行主任', '教師', '粉红科主治医师', '医生', '教务管理'}
46
{'学生一枚', '学生或业余摄影师', '房地产开发与管理研究生', '法学生', '在读工学博士', '应届生', '天津大学在读博士生', '博士', '大二学生', '在读大学生', '学生用美好的心灵看世界，总是用乐观的精神面对一生，多一分自信', '在读学生', '市场营销在读学生', '北京大学经济学在读', '工业设计学生', '西南大学在读生', '高三学生', '学生', '留学生', '管理科学与工程研究生在读', '24岁，是学生', '大学学生', '高二学生', '华北停电断水大学大三苦学生一个', '中学生', '大学本科学生', '大学生', '在校学生', '互联网人的在线大学', '小学生', '学生qqq', 'hrm研究生', '终生荣誉学生', '高一在校学生', '在读研究生', '大学的大学生', '博士研究生', '传媒学生党', '学生狗', '懒宅学生', '在校大学生', '初一学生', '学生ing', '考研学生', '大学党', '研究生'}
222
2049

In [14]:
def temp_function(x,ceo_set=ceo_set,decision_level_set=decision_level_set,manager_set=manager_set,
    public_institution_set=public_institution_set,staff_set=staff_set,student_set=student_set,other_set=other_set):
    #x = datetime.datetime.now().year - int(x.split("-")[0])
    y = 0
    if x in ceo_set:
        y = "企业创始人/CEO"
    elif x in decision_level_set:
        y = "企业业务决策层"
    elif x in manager_set:
        y = "企业一般管理人员"
    elif x in public_institution_set:
        y = "事业单位员工"
    elif x in staff_set:
        y = "企业普通员工"
    elif x in student_set:
        y = "高校学生"
    else:
        y = "其他（自由职业）"
    return y

In [15]:
df[1] = df[1].apply(lambda x : temp_function(x))

In [16]:
df[1].unique()

array(['其他（自由职业）', '企业普通员工', '企业一般管理人员', '企业创始人/CEO', '高校学生', '企业业务决策层',
       '事业单位员工'], dtype=object)

In [17]:
df.columns = ["aid","position",*["c{}".format(v) for v in range(10)]]
df

,aid,position,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9
0,1,其他（自由职业）,380021,379528,380043,380126,379521,379529,379451,379526,378915,379489
1,10073,其他（自由职业）,349684,349389,349248,349729,347400,349431,349650,349540,349572,348987
2,10113,其他（自由职业）,378020,378036,377965,377980,378047,378021,377903,377873,378033,378025
3,10140,企业普通员工,381349,381108,381299,381252,380842,381326,379187,381311,381059,380919
4,101966,其他（自由职业）,381295,381108,381284,381313,381106,380842,381316,381279,381315,381310
...,...,...,...,...,...,...,...,...,...,...,...,...
13129,92106,企业普通员工,380768,380727,380481,375323,379814,380669,380484,379839,380482,381027
13130,93648,企业普通员工,381369,381411,381424,381338,381299,381425,381554,381393,381309,381280
13131,95954,企业普通员工,374274,373823,373982,373774,374270,374217,373884,374259,373955,374257
13132,97037,企业创始人/CEO,364501,373305,372948,373553,373574,373512,373551,373497,373480,373603
13133,98706,其他（自由职业）,363108,363154,363094,363024,363136,363088,358476,360535,363142,363102

In [21]:
a_dict = {}
with open("../data/predict_user_attribute20200911/raw_data/user_profile/title_tokenize.jsonl") as f:
    for line in f:
        temp_dict = json.loads(line.strip())
        aid = temp_dict["aid"]
        a_dict[aid] = {}
        title_tokenize = temp_dict["title_tokenize"]
        a_dict[aid]["title_tokenize"] = title_tokenize

In [22]:
with open("../data/predict_user_attribute20200911/raw_data/user_profile/content_tokenize.jsonl") as f:
    for line in f:
        temp_dict = json.loads(line.strip())
        aid = temp_dict["aid"]
        if not aid in a_dict:
            print(aid)
            continue
        content_tokenize = temp_dict["content_tokenize"]
        a_dict[aid]["content_tokenize"] = content_tokenize

In [23]:
df

,aid,position,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9
0,1,其他（自由职业）,380021,379528,380043,380126,379521,379529,379451,379526,378915,379489
1,10073,其他（自由职业）,349684,349389,349248,349729,347400,349431,349650,349540,349572,348987
2,10113,其他（自由职业）,378020,378036,377965,377980,378047,378021,377903,377873,378033,378025
3,10140,企业普通员工,381349,381108,381299,381252,380842,381326,379187,381311,381059,380919
4,101966,其他（自由职业）,381295,381108,381284,381313,381106,380842,381316,381279,381315,381310
...,...,...,...,...,...,...,...,...,...,...,...,...
13129,92106,企业普通员工,380768,380727,380481,375323,379814,380669,380484,379839,380482,381027
13130,93648,企业普通员工,381369,381411,381424,381338,381299,381425,381554,381393,381309,381280
13131,95954,企业普通员工,374274,373823,373982,373774,374270,374217,373884,374259,373955,374257
13132,97037,企业创始人/CEO,364501,373305,372948,373553,373574,373512,373551,373497,373480,373603
13133,98706,其他（自由职业）,363108,363154,363094,363024,363136,363088,358476,360535,363142,363102

In [24]:
text_list = []
y_list = []
for index in df.index:
    y = df.loc[index,"position"]
    temp_text_list = []
    for i in range(10):
        c_text_list = []
        c = "c{}".format(i)
        aid = str(df.loc[index,c]).strip()
        if aid:
            if aid in a_dict:
                c_text_list = [*a_dict[aid]["title_tokenize"],"<PADDING>",*a_dict[aid]["content_tokenize"][:512]]
            else:
                print("aid不存在",index,c,aid)
        else:
            print(index)
        temp_text_list.append(c_text_list)     
    text_list.append(temp_text_list)
    y_list.append(y)

aid不存在 156 c3 130
aid不存在 386 c3 130
aid不存在 563 c8 161
aid不存在 662 c3 130
aid不存在 675 c3 130
aid不存在 720 c8 142
aid不存在 906 c2 161
aid不存在 1229 c0 169
aid不存在 1231 c6 154
aid不存在 1639 c4 130
aid不存在 1684 c6 134
aid不存在 1935 c1 108
aid不存在 3234 c2 130
aid不存在 3647 c8 96
aid不存在 3870 c5 130
aid不存在 4503 c6 130
aid不存在 5290 c8 126
aid不存在 5308 c3 130
aid不存在 5806 c5 130
aid不存在 5933 c2 213
aid不存在 5969 c5 130
aid不存在 6370 c1 130
aid不存在 6410 c7 134
aid不存在 8428 c9 96
aid不存在 8801 c2 161
aid不存在 9226 c1 130
aid不存在 11043 c5 154
aid不存在 11634 c2 184
aid不存在 11906 c9 142
aid不存在 12117 c3 130

In [26]:
with open("../data/predict_user_attribute20200911/raw_data/user_profile/position/原始最终数据集tokenize.jsonl","w") as f:
    for tag,content_tokenize in zip(y_list,text_list):
        f.write(json.dumps({"tag":tag,"all_content_tokenize":content_tokenize},ensure_ascii=False) + "\n")

In [3]:
import tensorflow as tf

def build_model(
    input_number:int,
    sentence_maxlen:int,
    vocab_size:int,
    tag_size:int,
    embedding_dim:int,
    embedding_matrix=None,
    is_embedding_training:bool=True,
    embedding_dropout_rate:float = 0.0,
    learning_rate = 1e-3,
    ):
    """建立模型
    input:
        sentence_maxlen : 句子的长度
        vocab_size : 词的个数
        tag_size : 分类的个数
        embedding_dim : word2vec训练时设置的向量长度
        embedding_matrix : word2vec词向量矩阵
        is_embedding_training : embedding层是否加入训练
        embedding_dropout_rate : embedding层dropout的比率
    """

    input_list =[ 
        tf.keras.layers.Input(shape=(sentence_maxlen,),name="input{}".format(i))
        for i in range(input_number)
    ]
    #embedding层
    if not (embedding_matrix is None):
        embedding_layer = tf.keras.layers.Embedding(
            input_dim = vocab_size,
            output_dim = embedding_dim,
            embeddings_initializer = tf.keras.initializers.Constant(embedding_matrix),
            trainable = is_embedding_training,
            input_length = sentence_maxlen,
        )
    else:
        embedding_layer = tf.keras.layers.Embedding(
            input_dim = vocab_size,
            output_dim = embedding_dim,
            trainable = is_embedding_training,
            input_length = sentence_maxlen,
        )
    output_list = [
        embedding_layer(input_list[i]) for i in range(input_number)
    ]

    embedding_dropout_layer = tf.keras.layers.Dropout(embedding_dropout_rate)
    cnn_layer0 = tf.keras.layers.Conv1D(filters=128, kernel_size=10, strides=1, padding='valid',activation="tanh")
    cnn_layer1 = tf.keras.layers.MaxPool1D(2, padding='valid')
    cnn_layer2 = tf.keras.layers.Flatten()
    for layer in [embedding_dropout_layer,cnn_layer0,cnn_layer1,cnn_layer2]:
        output_list = [
            layer(output_list[i]) for i in range(input_number)
        ]
    output = tf.keras.layers.Concatenate()(output_list)
    
    # output = tf.keras.layers.Concatenate()(output_list)
    # output = tf.keras.layers.Dropout(embedding_dropout_rate)(output)
    # output = tf.keras.layers.Conv1D(filters=512, kernel_size=20, strides=1, padding='valid',activation="tanh")(output)
    # output = tf.keras.layers.MaxPool1D(2, padding='valid')(output)
    # output = tf.keras.layers.Flatten()(output)

    output = tf.keras.layers.Dropout(0.5)(output)
    #output = tf.keras.layers.Dense(16, activation='tanh',kernel_regularizer=tf.keras.regularizers.l2())(output)

    if tag_size > 2:
        output = tf.keras.layers.Dense(tag_size, activation='softmax',use_bias=True,kernel_regularizer=tf.keras.regularizers.l2())(output)
        # output = tf.keras.layers.Dense(tag_size, activation='softmax',use_bias=True)(output)
        print("这是一个多分类模型")
    elif tag_size == 2:
        output = tf.keras.layers.Dense(1, activation='sigmoid',use_bias=True,kernel_regularizer=tf.keras.regularizers.l2())(output)
        # output = tf.keras.layers.Dense(1, activation='sigmoid',use_bias=True)(output)
        print("这是一个二分类模型")
    else:
        raise Exception("类别错误")

    model = tf.keras.Model(inputs=input_list, outputs=output, name='multi_textcnn')

    if tag_size > 2:
        metric_list = [
            tf.keras.metrics.SparseCategoricalAccuracy(),
        ]
        model.compile(
            loss = tf.keras.losses.SparseCategoricalCrossentropy(from_logits=False),
            optimizer = tf.keras.optimizers.Adam(learning_rate=learning_rate,
                clipnorm=1.0,
                clipvalue=0.5,
            ),
            metrics = metric_list,
        )
    else:
        metric_list = [
            tf.keras.metrics.BinaryAccuracy(),
            tf.keras.metrics.AUC(num_thresholds=10000)
        ]
        model.compile(
            loss = tf.keras.losses.BinaryCrossentropy(),
            optimizer = tf.keras.optimizers.Adam(learning_rate=1e-3,
                clipnorm=1.0,
                clipvalue=0.5,
            ),
            metrics = metric_list,
        )
    return model

In [5]:
import os
import time
import collections
import sklearn.model_selection
import gensim
import numpy as np
import tensorflow as tf
#from utils import trans_gensim_word2vec2tf_embedding,trans_data2tf_data,trans_tokenize_data2tf_data,trans_multi_input_tokenize_data2npa
#from model_multi_textcnn import build_model

APP_DIR  = os.path.dirname(os.path.realpath('__file__'))
if not os.path.exists(os.path.join(APP_DIR,"data")):
    os.makedirs(os.path.join(APP_DIR,"data"))

def split_train_eval_test_dataset(dataset):
    """区分训练验证测试集
    """
    dataset_size = tf.data.experimental.cardinality(dataset).numpy()
    print("总共有数据{}条".format(dataset_size))
    dataset = dataset.shuffle(dataset_size,seed=1)
    train_size = int(0.6 * dataset_size)
    eval_size = int(0.2 * dataset_size)
    test_size = int(0.2 * dataset_size)

    train_dataset = dataset.take(train_size)
    test_dataset = dataset.skip(train_size)
    eval_dataset = test_dataset.skip(eval_size)
    test_dataset = test_dataset.take(test_size)
    return train_dataset.prefetch(tf.data.experimental.AUTOTUNE), \
        eval_dataset.prefetch(tf.data.experimental.AUTOTUNE), \
        test_dataset.prefetch(tf.data.experimental.AUTOTUNE)

def split_train_eval_test_npa(x_npa,y_npa):
    x_train,x_test,y_train,y_test =  sklearn.model_selection.train_test_split(x_npa, y_npa, test_size=0.2, random_state=24)
    return x_train,y_train,x_test,y_test

def build_model_callback():
    callback_path = os.path.join(APP_DIR,"model_callback","weights.{epoch:02d}-{val_loss:.2f}.hdf5")
    if not os.path.exists(os.path.dirname(callback_path)):
        os.makedirs(os.path.dirname(callback_path))

    model_callback = tf.keras.callbacks.ModelCheckpoint(
        filepath=callback_path,
        monitor='val_loss',
        verbose=1,
        save_best_only=False,
        save_weights_only=True,
        mode='auto',
        save_freq='epoch',
    )

    tf_board_dir = os.path.join(APP_DIR,"model_tensorboard")
    if not os.path.exists(os.path.dirname(tf_board_dir)):
         os.makedirs(os.path.dirname(tf_board_dir))

    tensorboard_callback = tf.keras.callbacks.TensorBoard(log_dir=tf_board_dir,histogram_freq=1,update_freq='batch')
    return model_callback,tensorboard_callback


if __name__ == "__main__":

    input_number = 10
    #句子的最大长度
    sentence_maxlen = 512
    #训练次数
    epochs = 7
    #批大小
    batch_size = 64
    #学习率
    learning_rate = 1e-3
    # learning_rate = tf.keras.optimizers.schedules.ExponentialDecay(
    #     1e-3, decay_steps=100, decay_rate=0.1, staircase=False
    # )

    #embedding layer是否参加训练
    is_embedding_training = False
    # is_embedding_training = True
    #embedding的dropout比率
    #embedding_dropout_rate = 0.35
    embedding_dropout_rate = 0.2


    #数据文件
    #data_csv = os.path.join(APP_DIR,"data","最终数据集.csv")
    #data_jsonl = os.path.join(APP_DIR,"data","最终数据集tokenize.jsonl")
    #data_jsonl = "/mnt1/zhaodachuan/data/predict_user_attribute20200911/raw_data/user_profile/age/最终数据集tokenize.jsonl"
    data_jsonl = r"/mnt/d/zourui/predict_user_attribute20201214/age/raw_data/user_profile/position/最终数据集tokenize8.jsonl"
    #word2vec路径
    #word2vector_file_path = os.path.join(APP_DIR,"data","word2vector.bin")
    word2vector_file_path = r"/home/zourui/data/dim256/word2vector.bin"
    #模型保存路径
    model_path = os.path.join(APP_DIR,"model_output1")
    ###以上是需要修改的部分

    if not os.path.exists(os.path.dirname(model_path)):
        os.makedirs(os.path.dirname(model_path))

    #导入gensim的word2vector
    embedding_matrix,word2vector_dict,word2index_dict = trans_gensim_word2vec2tf_embedding(word2vector_file_path)
    vocab_size,embedding_dim = embedding_matrix.shape

    #划分训练集+验证集，测试集
    #x_npa,y_npa,tag2index_dict = trans_data2tf_data(data_csv,sentence_maxlen,word2index_dict)
    x_npa,y_npa,tag2index_dict = trans_multi_input_tokenize_data2npa(data_jsonl,sentence_maxlen,word2index_dict)
    class_weight_dict = {tag:np.sqrt(len(y_npa)/number) for tag,number in enumerate(np.bincount(y_npa))}
    x_train_eval,y_train_eval,x_test,y_test = split_train_eval_test_npa(x_npa,y_npa)
    print(x_train_eval[:3])
    print(y_train_eval[:3])
    print(class_weight_dict)
    print(collections.Counter(y_train_eval))
    print(collections.Counter(y_test))
    tag_size = len(tag2index_dict)
    
     #建模模型
    #strategy = tf.distribute.MirroredStrategy(devices=["/gpu:0", "/gpu:1"])
    #with strategy.scope():
    model = build_model(
        input_number = input_number,
        sentence_maxlen = sentence_maxlen,
        vocab_size = vocab_size,
        tag_size = tag_size,
        embedding_dim = embedding_dim,
        embedding_matrix = embedding_matrix,
        is_embedding_training = is_embedding_training,
        embedding_dropout_rate = embedding_dropout_rate,
        learning_rate = learning_rate
    )

    #model_callback = build_model_callback()

    print(model.summary())

    history = model.fit(
        {"input{}".format(i):x_train_eval[:,i] for i in range(input_number)},
        y_train_eval,
        validation_split = 0.25,
        batch_size=batch_size,
        epochs=epochs,
        verbose=1,
        #callbacks=list(model_callback),
        #class_weight = class_weight_dict,
    )

    #测试集
    model.evaluate({"input{}".format(i):x_test[:,i] for i in range(input_number)},y_test)
    #保存模型
    print("即将保存模型：{}".format(model_path))
    model.save(model_path)

x_list[:1]:[[[64145, 60511, 11, 32049, 1674, 6, 129, 0, 31305, 9802, 2, 1, 11, 22136, 7621, 1518, 2, 28247, 341, 54, 12126, 11, 1006, 11786, 39276, 11, 1, 18, 1, 20828, 15290, 8973, 692, 11, 244, 341, 740, 8909, 112, 67716, 4256, 98, 11, 463, 2732, 129, 1583, 15550, 24570, 11, 21143, 19024, 389, 55, 14236, 57, 18, 11367, 54, 60511, 8, 14236, 6205, 11, 281, 1669, 19591, 245, 2897, 341, 740, 4256, 18, 40, 244, 20139, 11, 21560, 1036, 54, 5066, 274, 17043, 1380, 103, 8, 2361, 1, 18, 15357, 281, 128, 5649, 102, 20681, 8, 11, 54, 10361, 1333, 8479, 8, 33166, 18, 60511, 514, 71010, 76381, 8, 13568, 11, 32049, 4197, 6227, 12447, 3898, 6725, 103, 8, 291, 11, 991, 7631, 2585, 5203, 8, 2065, 18, 2789, 11367, 28422, 14236, 8, 15550, 24570, 2793, 11, 4155, 4450, 1507, 8, 6924, 1763, 11, 32049, 12552, 388, 3595, 1583, 2993, 2, 21421, 281, 883, 128, 6725, 103, 8, 1, 11, 991, 5203, 2502, 1, 60511, 11, 6, 281, 21560, 24034, 291, 1, 1, 18, 32049, 535, 12793, 3613, 50327, 11, 5649, 14521, 535, 5221, 15148, 18, 21421, 244, 1, 8, 1015, 11, 5649, 7827, 1011, 19136, 18311, 11, 128, 914, 796, 98, 13213, 1011, 47267, 8, 44, 11, 5649, 127, 128, 5223, 274, 12237, 8, 835, 11, 1152, 32049, 8, 12793, 2002, 782, 18, 1, 3591, 16365, 32049, 28142, 5649, 93324, 8, 3901, 11, 991, 894, 16636, 11, 244, 32049, 8, 747, 248, 11, 5649, 4, 11567, 60511, 12161, 8, 731, 2314, 514, 1, 53459, 11, 128, 1348, 689, 1, 82, 689, 2416, 8, 871, 71, 18, 32049, 28142, 5649, 114, 11, 8909, 112, 1316, 345, 333, 8, 4835, 343, 11, 535, 1866, 15973, 18684, 731, 11, 32049, 2219, 12182, 8, 8909, 112, 21025, 11, 127, 1669, 38106, 8, 9621, 8100, 1882, 1757, 1, 18, 4894, 32, 26455, 41575, 8, 5156, 112, 1, 514, 34591, 11, 244, 332, 8, 14495, 127, 725, 12793, 18, 341, 1840, 32049, 4024, 129, 13631, 442, 1682, 8, 12591, 4870, 18, 17804, 11, 818, 5649, 1866, 6, 5649, 244, 1, 8, 731, 1653, 257, 7569, 313, 26497, 11, 32049, 9502, 248, 8, 5649, 4, 542, 88, 6190, 179, 1761, 8, 556, 11, 5171, 19384, 2832, 8, 4613, 871, 2976, 11, 1840, 25, 6, 32049, 2784, 856, 18, 36697, 11, 12126, 32049, 15357, 60511, 256, 11, 5649, 7827, 92, 12439, 11, 991, 28142, 5335, 433, 11, 77, 5976, 11, 5649, 673, 1011, 47321, 7827, 11, 4626, 4476, 333, 11, 341, 475, 2230, 15290, 4865, 129, 17278, 18, 341, 2415, 754, 16212, 7287, 8, 4892, 18, 3326, 47433, 7765, 85181, 1964, 41588, 90, 16729, 8, 1, 11, 244, 3898, 291, 8, 50936, 11883, 11, 3326, 8, 7827, 88, 1, 2408, 179, 1, 313, 1, 15357, 25384, 28142, 11613, 8, 13568, 11, 103, 7827, 88, 23489, 315, 308, 1, 11, 1327, 281, 8, 8675, 1840, 11613, 7827, 153, 129, 2101, 18, 651, 9942, 1406, 46715, 32049, 341, 24655, 11, 88, 689, 3777, 8, 1, 91, 11, 32049, 7806, 883, 128, 274, 17043, 8, 1, 11, 245, 472, 475, 18, 12929, 11, 244, 254, 12450, 255, 256, 11, 32049], [4495, 11643, 11, 17079, 2196, 865, 2754, 30014, 1993, 0, 31305, 1518, 21201, 2, 1, 109, 7752, 2, 1, 15053, 111, 11, 9802, 2, 1, 11, 30268, 2, 1, 82, 1, 11, 41389, 6177, 2, 483, 4495, 11643, 11, 17079, 2196, 1, 30014, 86437, 112, 1, 1993, 2, 26295, 2178, 1, 495, 11, 22136, 7621, 1518, 2, 28247, 155, 877, 65512, 12, 112, 4490, 112, 11541, 3873, 11, 1583, 284, 8800, 4016, 129, 18, 4552, 11, 5542, 54, 244, 8314, 9264, 11, 17079, 2361, 89223, 467, 68643, 237, 129, 1489, 9614, 865, 2754, 30014, 112, 74020, 112, 86437, 112, 593, 112, 345, 8, 12161, 2946, 19735, 112, 74020, 112, 86437, 112, 1, 82, 86437, 112, 1, 82, 86437, 112, 1, 18, 55, 3550, 4495, 2502, 31452, 11, 89222, 2706, 112, 32116, 112, 7066, 35741, 8, 3574, 11, 57, 89223, 11420, 18, 55, 88, 2706, 82, 9903, 4650, 2763, 82, 48397, 82, 3006, 82, 21974, 82, 1, 112, 107531, 82, 1, 82, 17924, 82, 27132, 82, 1761, 12, 1845, 7829, 7829, 112, 272, 244, 888, 3880, 49107, 112, 32116, 112, 8, 4495, 11, 16, 196, 129, 2358, 1535, 18, 57, 36810, 2, 1, 100517, 6750, 14157, 433, 37, 12794, 18, 485, 6663, 237, 11, 2926, 6695, 37, 1839, 72, 7260, 8085, 18, 991, 7490, 1519, 7433, 8, 2679, 112, 74020, 112, 86437, 112, 593, 112, 345, 8, 4495, 514, 7740, 18, 1964, 6323, 68495, 8, 54694, 2679, 11, 514, 112, 1, 112, 16895, 2885, 11, 991, 4011, 1864, 129, 4943, 18, 84, 112, 1, 112, 689, 54, 112, 32116, 112, 67, 8, 1, 11, 89223, 39, 472, 81, 112, 1, 109, 93731, 112, 1, 111, 18, 2120, 1, 32116, 8, 9926, 622, 127, 3493, 146, 244, 129, 17079, 34, 2241, 98, 2, 8920, 2196, 112, 32116, 244, 4364, 2310, 82, 51603, 19906, 8, 1622, 1, 433, 11, 89223, 8866, 88, 36079, 100517, 6750, 8, 1, 433, 11, 6638, 129, 129, 8483, 112, 86437, 112, 1, 11, 819, 752, 2826, 112, 1, 112, 345, 18, 33430, 11, 74020, 112, 86437, 112, 593, 112, 345, 12171, 5181, 129, 112, 32116, 112, 753, 8, 5098, 55, 1247, 57, 2, 2752, 9361, 112, 1, 112, 1, 112, 1, 8, 5558, 24778, 1861, 313, 1676, 439, 112, 1, 112, 18711, 112, 8, 112, 32116, 11, 8483, 30014, 2254, 196, 112, 1, 112, 906, 26737, 1010, 112, 1, 112, 5558, 313, 1676, 439, 112, 1, 112, 1, 8, 3092, 112, 32116, 11, 196, 741, 689, 2570, 8, 14548, 44627, 2542, 19843, 8, 1, 18, 274, 1, 8, 112, 74020, 112, 86437, 112, 1, 11, 1537, 2502, 358, 88, 1, 1763, 15465, 18, 86437, 112, 1, 112, 54, 5223, 5061, 112, 37262, 112, 5558, 112, 32116, 18, 6870, 6494, 112, 37262, 325, 244, 17079, 4628, 11, 19843, 8, 1307, 1588, 1840, 13170, 682, 2468, 3549, 1, 11, 1840, 13976, 4009, 57741, 892, 60880, 8, 5558, 12477, 11, 1553, 1840, 7484, 2468, 7807, 11, 9352, 42208, 82, 70161, 1, 12, 33169, 34075, 18, 5548, 30014, 689, 20321, 112, 1, 112, 345, 11, 1306, 98, 9614, 55, 249, 66, 148, 57, 8, 63226, 30014, 112, 74020, 112, 86437, 112, 1, 112, 1], [73706, 6870, 1046, 3289, 325, 0, 31305, 1518, 10361, 13527, 2, 1, 871, 401, 109, 7752, 2, 1, 111, 11, 9802, 2, 235, 1, 82, 1, 11, 22136, 7621, 1518, 2, 28247, 11172, 11, 8377, 1623, 55, 11437, 73706, 57, 8, 4151, 11, 244, 3712, 98, 5831, 129, 2119, 8, 32225, 18, 4892, 8, 29015, 54, 3869, 38204, 244, 1320, 98, 18635, 692, 129, 11437, 8, 73706, 343, 11, 1, 7697, 1952, 1, 11, 3520, 245, 19400, 18, 21560, 38204, 10539, 2, 13949, 12982, 8, 1, 1, 1964, 325, 346, 6522, 55, 1, 57, 8, 493, 11, 1, 45836, 46493, 18, 13955, 244, 3440, 346, 3237, 256, 11, 3236, 5473, 55, 4713, 1711, 57, 55, 378, 37, 1, 57, 11, 52532, 67, 129, 11552, 13291, 8, 5532, 11, 22112, 11437, 73706, 22112, 6498, 244, 4151, 445, 14195, 2258, 8, 11129, 151, 11, 211, 95712, 401, 11, 689, 520, 1484, 535, 19758, 8, 55, 24070, 9565, 57, 3415, 26183, 179, 129, 5695, 25672, 18, 475, 82, 73706, 37, 463, 3289, 325, 21, 34, 1090, 1, 8, 1928, 1244, 896, 1, 11, 2034, 129, 877, 895, 8, 1928, 5971, 18098, 967, 50, 11, 73706, 2376, 3160, 1, 18, 991, 34, 1928, 14486, 73706, 8, 796, 1333, 1507, 18, 87151, 11, 34, 88, 4144, 2830, 129, 34728, 73706, 9656, 11, 991, 73706, 22709, 1731, 3289, 129, 11, 74522, 73706, 358, 6207, 1, 11, 633, 8475, 141, 1928, 781, 244, 654, 2760, 1, 30080, 8, 1, 18, 28127, 16899, 11, 73706, 7063, 819, 244, 980, 31812, 6740, 18, 8475, 11, 65136, 16117, 36753, 2178, 248, 52188, 1, 483, 1, 495, 8, 1, 2330, 11, 244, 716, 7913, 8156, 50, 18, 147, 11, 3155, 698, 1326, 2283, 2283, 20204, 8, 1, 82, 1, 8, 1, 82, 1, 8, 1, 12, 1, 8, 91071, 11, 127, 7156, 191, 34, 50, 18, 333, 11, 2010, 235, 352, 6758, 116, 12, 1928, 3767, 396, 7285, 8, 120, 1307, 11, 73706, 82, 1, 82, 1, 244, 34, 50, 8, 17360, 120, 1307, 11, 131, 73706, 8, 17360, 724, 1239, 178, 11, 341, 155, 1360, 1928, 396, 3288, 54, 24466, 8, 8358, 18, 991, 1346, 16505, 650, 1076, 198, 414, 1138, 1, 279, 8, 4889, 11, 73706, 8820, 4668, 967, 819, 129, 1235, 8, 55, 865, 557, 57, 3413, 18, 21, 22283, 8, 73706, 11, 1041, 741, 52048, 622, 81, 2970, 11, 1322, 12629, 1, 73706, 109, 1138, 10275, 36678, 111, 82, 1, 73706, 109, 10275, 8933, 27973, 36678, 111, 12, 5476, 73706, 109, 1657, 27973, 36678, 111, 18, 27162, 1054, 2, 7621, 67, 8, 55, 1, 57, 1634, 81, 55, 1, 57, 7567, 3498, 1928, 8, 1, 81, 21573, 11, 13978, 90, 2288, 4846, 11, 12542, 1894, 2909, 4846, 6744, 9569, 73706, 11, 1046, 21560, 1928, 4843, 976, 654, 1, 1, 83, 95, 1, 1964, 73706, 18, 741, 1, 1894, 8733, 10275, 82, 14277, 1964, 73706, 1894, 8733, 26520, 1242, 11, 341, 7744, 1928, 4843, 976, 21396, 41265, 11, 4228, 1, 4108, 81, 6550, 11, 3192, 2679, 64519, 18, 1041, 6744, 33232, 2542, 82, 73706, 622, 689, 3289, 82, 1, 7761, 11, 21396, 6927, 2542, 18, 2883], [48001, 3560, 8, 4467, 4216, 1, 129, 325, 0, 1061, 3560, 8, 4467, 68810, 9805, 4216, 11, 8866, 40, 55, 535, 57, 1, 129, 18, 496, 11, 4680, 244, 20371, 1211, 67, 675, 11, 5223, 2336, 2678, 274, 1728, 8, 69697, 4216, 472, 475, 2283, 2283, 63051, 514, 85949, 748, 3383, 527, 2336, 8, 93058, 76, 1, 883, 8134, 235, 899, 8018, 18, 125, 1211, 10199, 11, 874, 2183, 6799, 11, 34, 514, 6715, 13, 25121, 7154, 8, 6070, 1036, 810, 32, 4250, 21110, 4918, 8, 873, 313, 118, 11, 125, 4216, 1036, 1333, 11535, 10458, 4216, 2793, 403, 18, 12571, 11, 341, 475, 2648, 6949, 2317, 325, 63051, 8, 68810, 4216, 1489, 2678, 1673, 7000, 325, 855, 4250, 1, 129, 325, 1322, 4962, 8, 54, 11, 63051, 8, 108379, 6930, 245, 4631, 659, 25578, 6715, 1648, 4250, 4918, 18, 8590, 244, 7032, 6715, 2675, 1, 15290, 646, 11, 112864, 109, 1, 111, 724, 514, 63051, 15, 527, 11, 4799, 2971, 514, 1, 8, 1583, 774, 3383, 17023, 244, 17319, 148, 235, 95419, 819, 4250, 4918, 11, 448, 886, 1281, 244, 762, 2301, 3718, 21110, 774, 18, 1047, 2454, 11, 125, 784, 234, 128, 6715, 3812, 71571, 4250, 4918, 18, 2205, 13063, 11, 1, 414, 1056, 257, 2, 55, 1041, 4216, 535, 3765, 403, 11, 1046, 762, 47323, 4645, 244, 6715, 45, 4368, 11, 1280, 5909, 3789, 1083, 27443, 308, 1, 18, 57, 21421, 54, 12669, 6, 11661, 188, 23692, 17867, 8, 3015, 11, 127, 1, 6715, 1273, 6, 1, 8, 2888, 18, 1537, 11, 341, 514, 63051, 2816, 1, 514, 6715, 3356, 8, 9154, 3093, 127, 1, 18, 1, 35611, 3332, 17852, 78001, 11, 1, 1056, 244, 1, 1982, 6858, 11, 38244, 129, 6715, 61224, 18, 12571, 1437, 4195, 1076, 433, 11, 6715, 33542, 9034, 821, 2775, 11, 341, 7964, 4216, 55, 14, 1743, 34, 571, 715, 25578, 6715, 57, 11, 84, 1, 244, 4716, 164, 335, 6695, 18300, 18, 4680, 244, 1211, 67, 414, 2294, 11, 10470, 11, 1, 244, 8604, 67, 31, 129, 341, 475, 6166, 11, 448, 257, 12552, 3585, 125, 527, 11, 234, 4799, 7870, 308, 10458, 4216, 8907, 47217, 18, 40, 244, 14984, 11, 6715, 724, 8127, 514, 1, 69377, 12, 25182, 109, 514, 87304, 2799, 3850, 111, 4194, 11, 741, 395, 6715, 71571, 8, 1440, 18, 43892, 234, 63051, 12, 6715, 527, 4779, 8, 874, 8221, 81, 55, 34, 1, 78, 8, 1, 57, 11, 448, 39, 341, 54, 1, 244, 255, 67, 1145, 10199, 8, 18, 1727, 2641, 22818, 234, 3645, 9692, 81, 32037, 1032, 2585, 8, 69045, 18, 5366, 11, 63051, 244, 11519, 237, 705, 4169, 39, 11, 1, 514, 103, 8, 527, 7631, 4779, 313, 4178, 6923, 6924, 148, 11, 103, 6874, 7631, 254, 24, 485, 4216, 244, 6715, 4250, 4918, 850, 8, 255, 18, 280, 244, 623, 4628, 11, 346, 527, 12621, 54, 9120, 129, 18, 991, 18715, 514, 6715, 8, 527, 4779, 11, 1588, 6, 63051, 8, 4250, 21110, 679, 1482, 1603, 810, 14248, 325, 7781, 4978, 18, 496, 11, 63051, 20480, 55823, 244, 2113, 1303, 1380, 2898, 98, 127, 3899, 11, 103, 4, 514, 463, 464, 461, 2799], [17764, 17760, 819, 31245, 325, 0, 28628, 11, 24040, 237, 129, 877, 2752, 1, 248, 48493, 4835, 2283, 2283, 52711, 52712, 112, 7486, 11, 13763, 129, 13949, 5585, 8, 530, 1912, 427, 729, 11, 1, 52712, 112, 7486, 8801, 12148, 14327, 2720, 1716, 20130, 1974, 13880, 325, 1, 362, 463, 271, 11, 272, 1376, 91, 4835, 11, 52712, 112, 7486, 17764, 81, 1, 2255, 32370, 11, 48493, 456, 1565, 4844, 23912, 8, 1, 18, 1841, 244, 1961, 12, 74, 13, 8263, 404, 11, 52712, 112, 7486, 5709, 12609, 8, 15707, 15708, 1899, 4844, 11, 4844, 56497, 1961, 11, 1, 18, 3519, 48397, 572, 5709, 906, 8769, 25450, 48397, 2763, 18, 48493, 456, 414, 5709, 129, 2201, 31781, 2773, 19845, 17763, 8, 5284, 11, 1322, 244, 2134, 8, 1176, 248, 244, 74, 2976, 12, 1961, 2976, 248, 13476, 1774, 3909, 14540, 185, 1, 11, 341, 16892, 248, 17760, 18715, 54, 54685, 129, 112, 18, 29225, 11, 5548, 4835, 318, 1819, 2632, 11, 1728, 2405, 2574, 76139, 8, 6938, 1882, 15747, 14077, 833], [15708, 17987, 2827, 10596, 0, 7143, 4563, 1, 401, 109, 7752, 2, 1, 111, 9802, 4563, 71288, 741, 1, 11, 30268, 4563, 1, 311, 1, 1, 4563, 1, 15708, 8, 622, 11, 315, 315, 27531, 883, 1259, 4106, 18, 31901, 762, 3405, 8, 5048, 82, 13455, 4299, 4515, 50, 27171, 15707, 11, 22457, 750, 11, 7063, 1912, 1753, 129, 193, 413, 8, 4799, 18, 12571, 11, 414, 9041, 26339, 15708, 622, 88, 4025, 3932, 11, 126, 88, 23534, 1, 11, 100921, 11, 6746, 8, 877, 56097, 22457, 15708, 71, 11, 1589, 1669, 4502, 1400, 7832, 11, 535, 18236, 129, 815, 32706, 8, 38, 18, 4271, 3191, 70283, 11, 11958, 127, 1056, 54, 25965, 8, 55955, 472, 4510, 2, 28127, 16899, 8, 141, 62429, 32211, 644, 472, 475, 313, 16859, 244, 15704, 82, 10065, 472, 185, 11, 244, 1195, 40, 5377, 46957, 22457, 4502, 1400, 8, 1, 18, 9454, 2986, 1481, 38760, 11, 1, 8, 100921, 11, 1588, 244, 19172, 433, 1016, 433, 41623, 8344, 18, 280, 11, 11958, 8, 263, 11, 448, 2415, 34, 15708, 750, 8, 263, 18, 14294, 11, 1184, 8, 15708, 472, 13529, 11, 11958, 2421, 34, 15708, 750, 1, 11, 2358, 15708, 2505, 88, 3405, 6919, 188, 11, 179, 37187, 17980, 11, 1774, 179, 34, 1408, 8, 107909, 18, 2462, 32833, 11958, 8, 4515, 11, 572, 752, 6289, 389, 877, 15708, 750, 88, 4144, 179, 3405, 11, 1774, 88, 3405, 179, 34, 8, 1074, 88305, 11, 752, 2760, 15704, 514, 10065, 1, 27815, 98, 129, 1, 18, 26899, 595, 112, 1, 1899, 877, 895, 8, 9824, 12968, 379, 11, 1195, 11, 877, 53, 8, 62429, 7066, 1, 112, 25443, 112, 8788, 18, 5204, 5542, 244, 1, 11, 9824, 15708, 12795, 378, 379, 14376, 5403, 82, 4409, 82, 2134, 333, 6671, 859, 23829, 12440, 11, 10122, 2068, 1, 18, 877, 3789, 535, 3405, 82, 34, 9931, 1553, 4144, 9436, 4693, 5250, 18, 1, 11, 414, 362, 31812, 12520, 5387, 1, 11, 7490, 92092, 9256, 8, 11, 12166, 2502, 12520, 5387, 2570, 16892, 18, 11176, 1, 11, 20568, 1220, 11, 3919, 12, 5612, 9999, 646, 11, 461, 234, 465, 439, 46957, 2258, 46960, 76, 22457, 15708, 9656, 18, 830, 389, 426, 15803, 11, 7743, 1518, 4144, 8, 1, 64743, 2283, 2283, 1195, 4207, 11, 11958, 646, 741, 53025, 254, 73547, 41128, 31253, 15708, 4368, 530, 1553, 1, 8, 3667, 18, 155, 4552, 4029, 107, 8132, 5980, 846, 8, 11958, 3873, 11, 1, 2418, 2178, 8377, 73547, 1504, 40, 11421, 8, 46957, 1400, 11, 448, 3613, 37516, 7326, 288, 26032, 8, 2224, 18, 244, 8475, 11, 1, 47518, 883, 128, 50, 8, 2427, 866, 11, 12571, 73547, 2530, 40, 3783, 8, 46957, 1400, 11, 336, 368, 4368, 8, 12166, 54, 1, 1553, 1, 823, 20219, 15708, 18, 97, 11, 989, 16570, 129, 188, 38256, 11, 991, 4708, 4108, 1, 18, 991, 6724, 14949, 2417, 91, 11, 1841, 1, 341, 14622, 46957, 1400, 11, 13016, 8, 5029, 48230, 475, 44373, 11, 1376, 13583, 7163, 2703, 1, 129, 87299, 2581, 7071, 18, 161, 13016, 1284, 1, 43820, 8, 766, 17567, 1149, 18288, 81, 34121, 622, 1242, 11, 2255], [241, 2011, 13888, 13888, 129, 6929, 325, 0, 7677, 27113, 908, 18090, 63532, 2333, 109, 1, 3591, 20677, 11, 7677, 51846, 2244, 63532, 111, 18, 835, 10764, 7050, 237, 4649, 129, 11, 272, 1882, 15747, 341, 131, 10026, 892, 8, 1226, 4310, 12, 1081, 18, 5061, 5867, 631, 463, 8, 54, 10189, 535, 43988, 95921, 8, 241, 11, 762, 800, 434, 13588, 37, 241, 8, 1372, 1086, 7066, 11236, 4180, 8, 174, 18, 341, 358, 321, 1467, 325, 3520, 174, 8, 4011, 1481, 11592, 11, 341, 54, 321, 7287, 8, 325, 241, 1379, 1588, 19208, 1582, 6929, 325, 1041, 1461, 241, 82, 20412, 11, 12166, 1088, 187, 1363, 8, 184, 1999, 376, 116, 7349, 18, 54, 1819, 126, 2787, 196, 631, 188, 8, 376, 116, 325, 3767, 25, 1322, 7000, 2175, 325, 1433, 54, 818, 2632, 2333, 54742, 11, 10916, 18, 434, 188, 241, 800, 2267, 11, 13861, 174, 13063, 55, 1, 57, 325, 1927, 11, 112, 1363, 67, 2120, 241, 8, 1460, 9449, 1731, 188, 8, 2657, 11, 50, 883, 13547, 540, 254, 129, 18, 2713, 11, 11753, 241, 174, 4011, 11592, 11, 341, 11989, 241, 8, 871, 2976, 11, 2267, 448, 44052, 2679, 1957, 25082, 24669, 9255, 8, 279, 11, 1727, 1322, 528, 18618, 8, 268, 244, 4131, 21143, 2418, 1674, 11654, 11, 9352, 5722, 6341, 463, 1226, 1999, 5539, 174, 313, 84, 241, 3356, 127, 1588, 9833, 33476, 18, 272, 9344, 362, 1855, 241, 11, 874, 2679, 244, 352, 1086, 177, 8, 2426, 11, 241, 54, 352, 8, 1, 11, 358, 1674, 1226, 55, 14337, 57, 18], [2703, 1006, 650, 8626, 483, 27797, 495, 23545, 13768, 23546, 0, 727, 112, 2376, 112, 2909, 112, 1076, 112, 2033, 112, 621, 18, 1, 483, 1, 495, 244, 716, 1, 11, 27813, 9802, 1, 2897, 18, 565, 281, 254, 610, 255, 11, 1346, 535, 25639, 483, 27797, 495, 6870, 3613, 26200, 13790, 8626, 325, 1, 271, 11, 55, 13790, 8, 1, 11, 5564, 82, 367, 1322, 390, 1322, 33222, 11, 991, 2538, 3613, 390, 11, 392, 1, 18, 483, 27797, 495, 7037, 129, 341, 14622, 274, 10139, 8, 4976, 18, 57, 3198, 11, 1, 625, 5440, 8, 31219, 392, 408, 2427, 31219, 11, 17429, 483, 27797, 495, 127, 7037, 129, 11, 55, 2415, 271, 5306, 3613, 8626, 11, 5204, 906, 1698, 8, 5440, 54, 4450, 3147, 8, 18, 57, 991, 4548, 11, 44149, 112, 3008, 54, 358, 8626, 483, 27797, 495, 129, 18, 44149, 8, 483, 27797, 495, 109506, 234, 2760, 483, 92921, 495, 79773, 3087, 112, 1, 12, 20122, 595, 9667, 595, 112, 1, 2998, 483, 1, 495, 1, 250, 650, 88223, 112, 1, 1960, 11, 1, 1, 12, 12573, 1, 1, 3539, 1271, 60590, 11, 1, 82, 1, 12, 1, 8, 1, 112, 9667, 3539, 2109, 40081, 18, 1, 724, 8015, 1, 18, 3087, 112, 1, 12, 20122, 595, 9667, 595, 112, 1, 39, 11, 483, 27797, 495, 54, 894, 1145, 10227, 107, 8, 274, 23786, 8, 18114, 345, 11, 894, 1974, 389, 1964, 413, 1726, 90, 234, 32, 34474, 4021, 11, 83295, 9208, 12158, 18, 4021, 11131, 88, 26818, 1882, 325, 88, 7119, 1882, 18, 1041, 5306, 16566, 1061, 244, 726, 483, 27797, 495, 8, 65842, 11, 40, 9682, 15748, 1, 472, 185, 1177, 8, 5564, 18, 29879, 112, 2376, 11, 483, 27797, 495, 5440, 27497, 11, 2760, 1, 67614, 11, 1, 82, 1, 57997, 18, 341, 5440, 32343, 112, 29879, 112, 2376, 40, 8626, 4649, 129, 11, 2925, 244, 112, 75, 112, 2376, 112, 1060, 112, 1685, 12614, 11, 2460, 40, 1, 129, 11, 1223, 1, 1, 12, 20266, 11, 32708, 45387, 18, 8590, 244, 7119, 4552, 3309, 248, 483, 27797, 495, 11131, 256, 11, 8475, 8, 7119, 13387, 291, 1, 109, 1, 111, 13949, 3440, 5203, 8, 12793, 2, 55, 34, 12091, 82, 98, 14591, 2732, 8, 13949, 8845, 17043, 8, 1, 11, 6494, 18677, 2223, 1882, 8626, 11, 358, 35895, 127, 358, 35895, 179, 272, 18677, 6848, 18, 57, 76464, 112, 29879, 112, 2376, 8, 3712, 353, 11, 1, 9682, 54, 3595, 8, 2, 7119, 13387, 271, 2223, 1, 11, 52048, 10, 112, 2901, 112, 5084, 11, 358, 8626, 1, 18, 7119, 1, 271, 358, 8626, 34, 8, 483, 1, 495, 18, 1, 4511, 129, 1, 11, 70013, 271, 22, 1, 22529, 1719, 68836, 10, 18, 7918, 8475, 157, 13916, 11, 9461, 3021, 5440, 54, 9041, 2732, 18, 991, 1, 78889, 9041, 2570, 2732, 1853, 58610, 11, 472, 185, 4450, 1507, 6924, 11, 85710, 4151, 1481, 11005, 8, 54, 2, 5440, 483, 27797, 495, 244, 1, 448, 16574, 389, 10958, 8, 1674, 4031, 68836, 11, 2327, 65729, 28581, 6023, 11, 20826, 1974, 18, 429, 414, 1702, 107, 13949, 8377, 4151, 11, 9682, 61612, 54, 2, 483, 31417], [58307, 8, 1, 11, 1467, 2720, 33473, 8, 1, 3415, 0, 31305, 1518, 21201, 55, 19202, 1, 57, 109, 7752, 2, 1, 111, 11, 9802, 2, 1, 11, 30268, 2, 1, 11, 22136, 7621, 1518, 48753, 112, 1, 18, 34, 1, 45889, 8, 4889, 11, 358, 7677, 5711, 1, 18, 483, 1, 495, 81953, 35673, 1390, 5084, 11, 1, 483, 1, 495, 1055, 8088, 40, 5944, 98, 129, 11, 34611, 483, 109374, 495, 2348, 42450, 19422, 617, 2116, 58279, 18, 1, 2980, 11, 26464, 47943, 11, 1, 3356, 1481, 12093, 55, 1, 57, 8, 9043, 129, 18, 2720, 12548, 1, 806, 245, 8733, 11, 362, 29886, 2348, 1, 55, 1, 21447, 1, 90, 57, 8, 57167, 51912, 18, 113, 1, 652, 157, 483, 1, 495, 11, 514, 1, 5850, 55, 4601, 32896, 1, 57, 18, 55, 1, 127, 1686, 57, 8, 1, 1, 11, 1840, 5203, 6541, 1, 129, 1, 8, 1, 18, 23189, 63024, 1, 652, 514, 1, 54622, 11, 1, 271, 55, 2223, 54, 1, 8, 57, 18, 1, 39417, 1, 2, 55, 4964, 43756, 514, 1, 3757, 11857, 11, 2223, 9459, 1, 11, 164, 1, 1, 129, 11, 2223, 9459, 2348, 67137, 14499, 129, 18, 57, 1, 1953, 2725, 11, 48875, 3554, 1672, 18, 26464, 1, 11, 572, 358, 62244, 7686, 18, 26464, 1774, 9617, 11, 11367, 5440, 127, 2415, 894, 8626, 8, 18, 84, 1, 1774, 1, 11, 272, 127, 13319, 6, 281, 271, 55, 1, 8314, 26464, 81869, 57, 18, 989, 1, 8, 5440, 1531, 35673, 7986, 244, 877, 1, 11, 1529, 2939, 1, 12, 1, 11, 991, 281, 5185, 54, 879, 1184, 7881, 34, 69443, 15554, 8, 5711, 32896, 18, 23635, 6747, 37, 11173, 65214, 23540, 11, 1, 26953, 3117

KeyboardInterrupt:

In [41]:
import os
import time
import collections
import sklearn.model_selection
import gensim
import numpy as np
import tensorflow as tf
import json
import gensim
import LAC
import pandas as pd
import sklearn.utils

class Position_model(object):
    
    def build_model(self,
        input_number:int,
        sentence_maxlen:int,
        vocab_size:int,
        tag_size:int,
        embedding_dim:int,
        embedding_matrix=None,
        is_embedding_training:bool=True,
        embedding_dropout_rate:float = 0.0,
        learning_rate = 1e-3,
        ):
        """建立模型
        input:
            sentence_maxlen : 句子的长度
            vocab_size : 词的个数
            tag_size : 分类的个数
            embedding_dim : word2vec训练时设置的向量长度
            embedding_matrix : word2vec词向量矩阵
            is_embedding_training : embedding层是否加入训练
            embedding_dropout_rate : embedding层dropout的比率
        """

        input_list =[ 
            tf.keras.layers.Input(shape=(sentence_maxlen,),name="input{}".format(i))
            for i in range(input_number)
        ]
        #embedding层
        if not (embedding_matrix is None):
            embedding_layer = tf.keras.layers.Embedding(
                input_dim = vocab_size,
                output_dim = embedding_dim,
                embeddings_initializer = tf.keras.initializers.Constant(embedding_matrix),
                trainable = is_embedding_training,
                input_length = sentence_maxlen,
            )
        else:
            embedding_layer = tf.keras.layers.Embedding(
                input_dim = vocab_size,
                output_dim = embedding_dim,
                trainable = is_embedding_training,
                input_length = sentence_maxlen,
            )
        output_list = [
            embedding_layer(input_list[i]) for i in range(input_number)
        ]

        embedding_dropout_layer = tf.keras.layers.Dropout(embedding_dropout_rate)
        cnn_layer0 = tf.keras.layers.Conv1D(filters=128, kernel_size=10, strides=1, padding='valid',activation="tanh")
        cnn_layer1 = tf.keras.layers.MaxPool1D(2, padding='valid')
        cnn_layer2 = tf.keras.layers.Flatten()
        for layer in [embedding_dropout_layer,cnn_layer0,cnn_layer1,cnn_layer2]:
            output_list = [
                layer(output_list[i]) for i in range(input_number)
            ]
        output = tf.keras.layers.Concatenate()(output_list)

        # output = tf.keras.layers.Concatenate()(output_list)
        # output = tf.keras.layers.Dropout(embedding_dropout_rate)(output)
        # output = tf.keras.layers.Conv1D(filters=512, kernel_size=20, strides=1, padding='valid',activation="tanh")(output)
        # output = tf.keras.layers.MaxPool1D(2, padding='valid')(output)
        # output = tf.keras.layers.Flatten()(output)

        output = tf.keras.layers.Dropout(0.5)(output)
        #output = tf.keras.layers.Dense(16, activation='tanh',kernel_regularizer=tf.keras.regularizers.l2())(output)

        if tag_size > 2:
            output = tf.keras.layers.Dense(tag_size, activation='softmax',use_bias=True,kernel_regularizer=tf.keras.regularizers.l2())(output)
            # output = tf.keras.layers.Dense(tag_size, activation='softmax',use_bias=True)(output)
            print("这是一个多分类模型")
        elif tag_size == 2:
            output = tf.keras.layers.Dense(1, activation='sigmoid',use_bias=True,kernel_regularizer=tf.keras.regularizers.l2())(output)
            # output = tf.keras.layers.Dense(1, activation='sigmoid',use_bias=True)(output)
            print("这是一个二分类模型")
        else:
            raise Exception("类别错误")

        model = tf.keras.Model(inputs=input_list, outputs=output, name='multi_textcnn')

        if tag_size > 2:
            metric_list = [
                tf.keras.metrics.SparseCategoricalAccuracy(),
            ]
            model.compile(
                loss = tf.keras.losses.SparseCategoricalCrossentropy(from_logits=False),
                optimizer = tf.keras.optimizers.Adam(learning_rate=learning_rate,
                    clipnorm=1.0,
                    clipvalue=0.5,
                ),
                metrics = metric_list,
            )
        else:
            metric_list = [
                tf.keras.metrics.BinaryAccuracy(),
                tf.keras.metrics.AUC(num_thresholds=10000)
            ]
            model.compile(
                loss = tf.keras.losses.BinaryCrossentropy(),
                optimizer = tf.keras.optimizers.Adam(learning_rate=1e-3,
                    clipnorm=1.0,
                    clipvalue=0.5,
                ),
                metrics = metric_list,
            )
        return model

    APP_DIR  = os.path.dirname(os.path.realpath('__file__'))
    if not os.path.exists(os.path.join(APP_DIR,"data")):
        os.makedirs(os.path.join(APP_DIR,"data"))

    def split_train_eval_test_dataset(self,dataset):
        """区分训练验证测试集
        """
        dataset_size = tf.data.experimental.cardinality(dataset).numpy()
        print("总共有数据{}条".format(dataset_size))
        dataset = dataset.shuffle(dataset_size,seed=1)
        train_size = int(0.6 * dataset_size)
        eval_size = int(0.2 * dataset_size)
        test_size = int(0.2 * dataset_size)

        train_dataset = dataset.take(train_size)
        test_dataset = dataset.skip(train_size)
        eval_dataset = test_dataset.skip(eval_size)
        test_dataset = test_dataset.take(test_size)
        return train_dataset.prefetch(tf.data.experimental.AUTOTUNE), \
            eval_dataset.prefetch(tf.data.experimental.AUTOTUNE), \
            test_dataset.prefetch(tf.data.experimental.AUTOTUNE)

    def split_train_eval_test_npa(self,x_npa,y_npa):
        x_train,x_test,y_train,y_test =  sklearn.model_selection.train_test_split(x_npa, y_npa, test_size=0.2, random_state=24)
        return x_train,y_train,x_test,y_test

    def build_model_callback(self):
        callback_path = os.path.join(APP_DIR,"model_callback","weights.{epoch:02d}-{val_loss:.2f}.hdf5")
        if not os.path.exists(os.path.dirname(callback_path)):
            os.makedirs(os.path.dirname(callback_path))

        model_callback = tf.keras.callbacks.ModelCheckpoint(
            filepath=callback_path,
            monitor='val_loss',
            verbose=1,
            save_best_only=False,
            save_weights_only=True,
            mode='auto',
            save_freq='epoch',
        )

        tf_board_dir = os.path.join(APP_DIR,"model_tensorboard")
        if not os.path.exists(os.path.dirname(tf_board_dir)):
             os.makedirs(os.path.dirname(tf_board_dir))

        tensorboard_callback = tf.keras.callbacks.TensorBoard(log_dir=tf_board_dir,histogram_freq=1,update_freq='batch')
        return model_callback,tensorboard_callback


    APP_DIR  = os.path.dirname(os.path.realpath('__file__'))

#     def trans_gensim_word2vec2tf_embedding(self,word2vector_file_path:str):
#         """把gensim的word2vec结果转化为tf.keras.layers.Embedding需要的结果
#         """

#         word2vec_model = gensim.models.Word2Vec.load(word2vector_file_path)

#         #所有的词
#         word_list = [word for word, word_info in word2vec_model.wv.vocab.items()]

#         #词到index的映射
#         word2index_dict = {"<PADDING>": 0, "<UNK>":1}

#         #保存特殊词的padding
#         specical_word_count = len(word2index_dict)

#         #词到词向量的映射
#         word2vector_dict = {}

#         #初始化embeddings_matrix

#         embeddings_matrix = np.zeros((len(word_list) + specical_word_count, word2vec_model.vector_size))
#         #初始化unk为-1,1分布
#         embeddings_matrix[word2index_dict["<UNK>"]] = (1 / np.sqrt(len(word_list) + specical_word_count) * (2 * np.random.rand(word2vec_model.vector_size) - 1))

#         for i,word in enumerate(word_list):
#             #从0开始
#             word_index = i + specical_word_count
#             word2index_dict[str(word)] = word_index
#             word2vector_dict[str(word)] = word2vec_model.wv[word] # 词语：词向量
#             embeddings_matrix[word_index] = word2vec_model.wv[word]  # 词向量矩阵

#         #写入文件
#         with open(os.path.join(APP_DIR,"data","word2index.json"),"w",encoding="utf8") as f:
#             json.dump(word2index_dict,f,ensure_ascii=False)

#         return embeddings_matrix,word2vector_dict,word2index_dict


#     def trans2index(self,word2index_dict,word):
#         """转换"""
#         if word in word2index_dict:
#             return word2index_dict[word]
#         else:
#             if "<UNK>" in word2index_dict:
#                 return word2index_dict["<UNK>"]
#             else:
#                 raise ValueError("没有这个值，请检查")


#     # def trans_data2tf_data(data_file_path:str,x_max_length:int=None,word2index_dict=None):
#     #     """把data文件转化为tf.data
#     #     """

#     #     tag2index_dict = {}
#     #     tag_index_count = len(tag2index_dict)
#     #     lac = LAC.LAC(mode="seg")

#     #     df = pd.read_csv(data_file_path)

#     #     x_list = []
#     #     for doc in df["content"]:
#     #         word_list = lac.run(doc)
#     #         x_list.append([trans2index(word2index_dict,word) for word in word_list])
#     #     x_npa = np.array(x_list)

#     #     y_list = []
#     #     for tag in df["tag"]:
#     #         tag = tag.strip()
#     #         if not (tag in tag2index_dict):
#     #             tag2index_dict[tag] = tag_index_count
#     #             tag_index_count += 1
#     #         y_list.append(tag2index_dict[tag])
#     #     y_npa = np.array(y_list,dtype=np.uint8)

#     #     print("x_list[:1]:{}".format(x_list[:1]))
#     #     print("y_list[:1]:{}".format(y_list[:1]))

#     #     #写入文件
#     #     with open(os.path.join(APP_DIR,"data/tag2index.json"),"w",encoding="utf8") as f:
#     #         json.dump(tag2index_dict,f,ensure_ascii=False)

#     #     if not x_max_length:
#     #         x_max_length0 = np.max(np.array([len(v) for v in x_list]))
#     #         x_max_length = int(np.max(np.percentile(np.array([len(v) for v in x_list]),99.7)))
#     #         print("数据集中最长的句子长度为:{},设定的最长的句子长度为:{}".format(x_max_length0,x_max_length))

#     #     x_npa = tf.keras.preprocessing.sequence.pad_sequences(x_npa,maxlen=x_max_length,dtype=np.int32,truncating="post", padding='post',value=0)

#     #     x_npa,y_npa = sklearn.utils.shuffle(x_npa,y_npa,random_state=0)
#     #     print("x_npa[:1]:{}".format(x_npa[:1]))
#     #     print("y_npa[:1]:{}".format(y_npa[:1]))
#     #     print("x_npa.shape = {}".format(x_npa.shape))
#     #     print("y_npa.shape = {}".format(y_npa.shape))

#     #     return x_npa,y_npa,tag2index_dict



#     # def trans_tokenize_data2tf_data(data_file_path:str,x_max_length:int=None,word2index_dict=None):
#     #     """把已经分好词的data文件转化为tf.data
#     #     """

#     #     tag2index_dict = {}
#     #     tag_index_count = len(tag2index_dict)
#     #     lac = LAC.LAC(mode="seg")

#     #     x_list = []
#     #     y_list = []
#     #     with open(data_file_path) as f:
#     #         for line in f:
#     #             temp_dict = json.loads(line.strip())
#     #             word_list = temp_dict["content_tokenize"]
#     #             tag = temp_dict["tag"].strip()
#     #             if not (tag in tag2index_dict):
#     #                 tag2index_dict[tag] = tag_index_count
#     #                 tag_index_count += 1
#     #             x_list.append([trans2index(word2index_dict,word) for word in word_list])
#     #             y_list.append(tag2index_dict[tag])
#     #     x_npa = np.array(x_list)
#     #     y_npa = np.array(y_list,dtype=np.uint8)

#     #     print("x_list[:1]:{}".format(x_list[:1]))
#     #     print("y_list[:1]:{}".format(y_list[:1]))

#     #     #写入文件
#     #     with open(os.path.join(APP_DIR,"data/tag2index.json"),"w",encoding="utf8") as f:
#     #         json.dump(tag2index_dict,f,ensure_ascii=False)

#     #     if not x_max_length:
#     #         x_max_length0 = np.max(np.array([len(v) for v in x_list]))
#     #         x_max_length = int(np.max(np.percentile(np.array([len(v) for v in x_list]),99.7)))
#     #         print("数据集中最长的句子长度为:{},设定的最长的句子长度为:{}".format(x_max_length0,x_max_length))

#     #     x_npa = tf.keras.preprocessing.sequence.pad_sequences(x_npa,maxlen=x_max_length,dtype=np.int32,truncating="post", padding='post',value=0)

#     #     x_npa,y_npa = sklearn.utils.shuffle(x_npa,y_npa,random_state=0)
#     #     print("x_npa[:1]:{}".format(x_npa[:1]))
#     #     print("y_npa[:1]:{}".format(y_npa[:1]))
#     #     print("x_npa.shape = {}".format(x_npa.shape))
#     #     print("y_npa.shape = {}".format(y_npa.shape))

#     #     return x_npa,y_npa,tag2index_dict


#     def trans_multi_input_tokenize_data2npa(self,data_file_path:str,x_max_length:int=None,word2index_dict=None):
#         """把已经分好词的data文件转化为tf.data , 多输入版本
#         """

#         tag2index_dict = {}
#         tag_index_count = len(tag2index_dict)

#         x_list = []
#         y_list = []
#         with open(data_file_path) as f:
#             for line in f:
#                 temp_dict = json.loads(line.strip())
#                 text_tokenize_list = temp_dict["all_content_tokenize"]
#                 tag = temp_dict["tag"].strip()
#                 if not (tag in tag2index_dict):
#                     tag2index_dict[tag] = tag_index_count
#                     tag_index_count += 1
#                 x_list.append([[a.trans2index(word2index_dict,word) for word in word_list] for word_list in text_tokenize_list])
#                 y_list.append(tag2index_dict[tag])
#         y_npa = np.array(y_list,dtype=np.uint8)

#         print("x_list[:1]:{}".format(x_list[:1]))
#         print("y_list[:1]:{}".format(y_list[:1]))

#         #写入文件
#         with open(os.path.join(APP_DIR,"data/tag2index.json"),"w",encoding="utf8") as f:
#             json.dump(tag2index_dict,f,ensure_ascii=False)

#         if not x_max_length:
#             x_max_length0 = np.max(np.array([len(v) for v in x_list]))
#             x_max_length = int(np.max(np.percentile(np.array([len(v) for v in x_list]),99.7)))
#             print("数据集中最长的句子长度为:{},设定的最长的句子长度为:{}".format(x_max_length0,x_max_length))

#         for i in range(len(x_list)):
#             x_list[i] = tf.keras.preprocessing.sequence.pad_sequences(x_list[i],maxlen=x_max_length,dtype=np.int32,truncating="post", padding='post',value=0)
#         x_npa = np.array(x_list,dtype=np.int32)

#         x_npa,y_npa = sklearn.utils.shuffle(x_npa,y_npa,random_state=0)
#         print("x_npa[:1]:{}".format(x_npa[:1]))
#         print("y_npa[:1]:{}".format(y_npa[:1]))
#         print("x_npa.shape = {}".format(x_npa.shape))
#         print("y_npa.shape = {}".format(y_npa.shape))

#         return x_npa,y_npa,tag2index_dict

    def train(self,input_number = 10,sentence_maxlen = 512,epochs = 7,batch_size = 64,learning_rate = 1e-3,
              is_embedding_training = False,embedding_dropout_rate = 0.2):
        #建模模型
        #strategy = tf.distribute.MirroredStrategy(devices=["/gpu:0", "/gpu:1"])
        #with strategy.scope():
        model = a.build_model(
            input_number = input_number,
            sentence_maxlen = sentence_maxlen,
            vocab_size = vocab_size,
            tag_size = tag_size,
            embedding_dim = embedding_dim,
            embedding_matrix = embedding_matrix,
            is_embedding_training = is_embedding_training,
            embedding_dropout_rate = embedding_dropout_rate,
            learning_rate = learning_rate
        )

        #model_callback = build_model_callback()

        print(model.summary())

        history = model.fit(
            {"input{}".format(i):x_train_eval[:,i] for i in range(input_number)},
            y_train_eval,
            validation_split = 0.25,
            batch_size=batch_size,
            epochs=epochs,
            verbose=1,
            #callbacks=list(model_callback),
            #class_weight = class_weight_dict,
        )

        #测试集
        model.evaluate({"input{}".format(i):x_test[:,i] for i in range(input_number)},y_test)
        #保存模型
        print("即将保存模型：{}".format(model_path))
        model.save(model_path)


if __name__ == "__main__":

#     input_number = 10
#     #句子的最大长度
#     sentence_maxlen = 512
#     #训练次数
#     epochs = 7
#     #批大小
#     batch_size = 64
#     #学习率
#     learning_rate = 1e-3
#     # learning_rate = tf.keras.optimizers.schedules.ExponentialDecay(
#     #     1e-3, decay_steps=100, decay_rate=0.1, staircase=False
#     # )

#     #embedding layer是否参加训练
#     is_embedding_training = False
#     # is_embedding_training = True
#     #embedding的dropout比率
#     #embedding_dropout_rate = 0.35
#     embedding_dropout_rate = 0.2


    #数据文件
    #data_csv = os.path.join(APP_DIR,"data","最终数据集.csv")
    #data_jsonl = os.path.join(APP_DIR,"data","最终数据集tokenize.jsonl")
    #data_jsonl = "/mnt1/zhaodachuan/data/predict_user_attribute20200911/raw_data/user_profile/age/最终数据集tokenize.jsonl"
    data_jsonl = r"/mnt/d/zourui/predict_user_attribute20201214/age/raw_data/user_profile/position/最终数据集tokenize8.jsonl"
    #word2vec路径
    #word2vector_file_path = os.path.join(APP_DIR,"data","word2vector.bin")
    word2vector_file_path = r"/home/zourui/data/dim256/word2vector.bin"
    #模型保存路径
    model_path = os.path.join(APP_DIR,"model_output1")
    ###以上是需要修改的部分
    a = Position_model()
    if not os.path.exists(os.path.dirname(model_path)):
        os.makedirs(os.path.dirname(model_path))

    #导入gensim的word2vector
    embedding_matrix,word2vector_dict,word2index_dict = a.trans_gensim_word2vec2tf_embedding(word2vector_file_path)
    vocab_size,embedding_dim = embedding_matrix.shape

    #划分训练集+验证集，测试集
    #x_npa,y_npa,tag2index_dict = trans_data2tf_data(data_csv,sentence_maxlen,word2index_dict)
    x_npa,y_npa,tag2index_dict = a.trans_multi_input_tokenize_data2npa(data_jsonl,sentence_maxlen,word2index_dict)
    class_weight_dict = {tag:np.sqrt(len(y_npa)/number) for tag,number in enumerate(np.bincount(y_npa))}
    x_train_eval,y_train_eval,x_test,y_test = a.split_train_eval_test_npa(x_npa,y_npa)
#     print(x_train_eval[:3])
#     print(y_train_eval[:3])
#     print(class_weight_dict)
#     print(collections.Counter(y_train_eval))
#     print(collections.Counter(y_test))
    tag_size = len(tag2index_dict)
    
#      #建模模型
#     #strategy = tf.distribute.MirroredStrategy(devices=["/gpu:0", "/gpu:1"])
#     #with strategy.scope():
#     model = build_model(
#         input_number = input_number,
#         sentence_maxlen = sentence_maxlen,
#         vocab_size = vocab_size,
#         tag_size = tag_size,
#         embedding_dim = embedding_dim,
#         embedding_matrix = embedding_matrix,
#         is_embedding_training = is_embedding_training,
#         embedding_dropout_rate = embedding_dropout_rate,
#         learning_rate = learning_rate
#     )

#     #model_callback = build_model_callback()

#     print(model.summary())

#     history = model.fit(
#         {"input{}".format(i):x_train_eval[:,i] for i in range(input_number)},
#         y_train_eval,
#         validation_split = 0.25,
#         batch_size=batch_size,
#         epochs=epochs,
#         verbose=1,
#         #callbacks=list(model_callback),
#         #class_weight = class_weight_dict,
#     )

#     #测试集
#     model.evaluate({"input{}".format(i):x_test[:,i] for i in range(input_number)},y_test)
#     #保存模型
#     print("即将保存模型：{}".format(model_path))
#     model.save(model_path)

x_list[:1]:[[[64145, 60511, 11, 32049, 1674, 6, 129, 0, 31305, 9802, 2, 1, 11, 22136, 7621, 1518, 2, 28247, 341, 54, 12126, 11, 1006, 11786, 39276, 11, 1, 18, 1, 20828, 15290, 8973, 692, 11, 244, 341, 740, 8909, 112, 67716, 4256, 98, 11, 463, 2732, 129, 1583, 15550, 24570, 11, 21143, 19024, 389, 55, 14236, 57, 18, 11367, 54, 60511, 8, 14236, 6205, 11, 281, 1669, 19591, 245, 2897, 341, 740, 4256, 18, 40, 244, 20139, 11, 21560, 1036, 54, 5066, 274, 17043, 1380, 103, 8, 2361, 1, 18, 15357, 281, 128, 5649, 102, 20681, 8, 11, 54, 10361, 1333, 8479, 8, 33166, 18, 60511, 514, 71010, 76381, 8, 13568, 11, 32049, 4197, 6227, 12447, 3898, 6725, 103, 8, 291, 11, 991, 7631, 2585, 5203, 8, 2065, 18, 2789, 11367, 28422, 14236, 8, 15550, 24570, 2793, 11, 4155, 4450, 1507, 8, 6924, 1763, 11, 32049, 12552, 388, 3595, 1583, 2993, 2, 21421, 281, 883, 128, 6725, 103, 8, 1, 11, 991, 5203, 2502, 1, 60511, 11, 6, 281, 21560, 24034, 291, 1, 1, 18, 32049, 535, 12793, 3613, 50327, 11, 5649, 14521, 535, 5221, 15148, 18, 21421, 244, 1, 8, 1015, 11, 5649, 7827, 1011, 19136, 18311, 11, 128, 914, 796, 98, 13213, 1011, 47267, 8, 44, 11, 5649, 127, 128, 5223, 274, 12237, 8, 835, 11, 1152, 32049, 8, 12793, 2002, 782, 18, 1, 3591, 16365, 32049, 28142, 5649, 93324, 8, 3901, 11, 991, 894, 16636, 11, 244, 32049, 8, 747, 248, 11, 5649, 4, 11567, 60511, 12161, 8, 731, 2314, 514, 1, 53459, 11, 128, 1348, 689, 1, 82, 689, 2416, 8, 871, 71, 18, 32049, 28142, 5649, 114, 11, 8909, 112, 1316, 345, 333, 8, 4835, 343, 11, 535, 1866, 15973, 18684, 731, 11, 32049, 2219, 12182, 8, 8909, 112, 21025, 11, 127, 1669, 38106, 8, 9621, 8100, 1882, 1757, 1, 18, 4894, 32, 26455, 41575, 8, 5156, 112, 1, 514, 34591, 11, 244, 332, 8, 14495, 127, 725, 12793, 18, 341, 1840, 32049, 4024, 129, 13631, 442, 1682, 8, 12591, 4870, 18, 17804, 11, 818, 5649, 1866, 6, 5649, 244, 1, 8, 731, 1653, 257, 7569, 313, 26497, 11, 32049, 9502, 248, 8, 5649, 4, 542, 88, 6190, 179, 1761, 8, 556, 11, 5171, 19384, 2832, 8, 4613, 871, 2976, 11, 1840, 25, 6, 32049, 2784, 856, 18, 36697, 11, 12126, 32049, 15357, 60511, 256, 11, 5649, 7827, 92, 12439, 11, 991, 28142, 5335, 433, 11, 77, 5976, 11, 5649, 673, 1011, 47321, 7827, 11, 4626, 4476, 333, 11, 341, 475, 2230, 15290, 4865, 129, 17278, 18, 341, 2415, 754, 16212, 7287, 8, 4892, 18, 3326, 47433, 7765, 85181, 1964, 41588, 90, 16729, 8, 1, 11, 244, 3898, 291, 8, 50936, 11883, 11, 3326, 8, 7827, 88, 1, 2408, 179, 1, 313, 1, 15357, 25384, 28142, 11613, 8, 13568, 11, 103, 7827, 88, 23489, 315, 308, 1, 11, 1327, 281, 8, 8675, 1840, 11613, 7827, 153, 129, 2101, 18, 651, 9942, 1406, 46715, 32049, 341, 24655, 11, 88, 689, 3777, 8, 1, 91, 11, 32049, 7806, 883, 128, 274, 17043, 8, 1, 11, 245, 472, 475, 18, 12929, 11, 244, 254, 12450, 255, 256, 11, 32049], [4495, 11643, 11, 17079, 2196, 865, 2754, 30014, 1993, 0, 31305, 1518, 21201, 2, 1, 109, 7752, 2, 1, 15053, 111, 11, 9802, 2, 1, 11, 30268, 2, 1, 82, 1, 11, 41389, 6177, 2, 483, 4495, 11643, 11, 17079, 2196, 1, 30014, 86437, 112, 1, 1993, 2, 26295, 2178, 1, 495, 11, 22136, 7621, 1518, 2, 28247, 155, 877, 65512, 12, 112, 4490, 112, 11541, 3873, 11, 1583, 284, 8800, 4016, 129, 18, 4552, 11, 5542, 54, 244, 8314, 9264, 11, 17079, 2361, 89223, 467, 68643, 237, 129, 1489, 9614, 865, 2754, 30014, 112, 74020, 112, 86437, 112, 593, 112, 345, 8, 12161, 2946, 19735, 112, 74020, 112, 86437, 112, 1, 82, 86437, 112, 1, 82, 86437, 112, 1, 18, 55, 3550, 4495, 2502, 31452, 11, 89222, 2706, 112, 32116, 112, 7066, 35741, 8, 3574, 11, 57, 89223, 11420, 18, 55, 88, 2706, 82, 9903, 4650, 2763, 82, 48397, 82, 3006, 82, 21974, 82, 1, 112, 107531, 82, 1, 82, 17924, 82, 27132, 82, 1761, 12, 1845, 7829, 7829, 112, 272, 244, 888, 3880, 49107, 112, 32116, 112, 8, 4495, 11, 16, 196, 129, 2358, 1535, 18, 57, 36810, 2, 1, 100517, 6750, 14157, 433, 37, 12794, 18, 485, 6663, 237, 11, 2926, 6695, 37, 1839, 72, 7260, 8085, 18, 991, 7490, 1519, 7433, 8, 2679, 112, 74020, 112, 86437, 112, 593, 112, 345, 8, 4495, 514, 7740, 18, 1964, 6323, 68495, 8, 54694, 2679, 11, 514, 112, 1, 112, 16895, 2885, 11, 991, 4011, 1864, 129, 4943, 18, 84, 112, 1, 112, 689, 54, 112, 32116, 112, 67, 8, 1, 11, 89223, 39, 472, 81, 112, 1, 109, 93731, 112, 1, 111, 18, 2120, 1, 32116, 8, 9926, 622, 127, 3493, 146, 244, 129, 17079, 34, 2241, 98, 2, 8920, 2196, 112, 32116, 244, 4364, 2310, 82, 51603, 19906, 8, 1622, 1, 433, 11, 89223, 8866, 88, 36079, 100517, 6750, 8, 1, 433, 11, 6638, 129, 129, 8483, 112, 86437, 112, 1, 11, 819, 752, 2826, 112, 1, 112, 345, 18, 33430, 11, 74020, 112, 86437, 112, 593, 112, 345, 12171, 5181, 129, 112, 32116, 112, 753, 8, 5098, 55, 1247, 57, 2, 2752, 9361, 112, 1, 112, 1, 112, 1, 8, 5558, 24778, 1861, 313, 1676, 439, 112, 1, 112, 18711, 112, 8, 112, 32116, 11, 8483, 30014, 2254, 196, 112, 1, 112, 906, 26737, 1010, 112, 1, 112, 5558, 313, 1676, 439, 112, 1, 112, 1, 8, 3092, 112, 32116, 11, 196, 741, 689, 2570, 8, 14548, 44627, 2542, 19843, 8, 1, 18, 274, 1, 8, 112, 74020, 112, 86437, 112, 1, 11, 1537, 2502, 358, 88, 1, 1763, 15465, 18, 86437, 112, 1, 112, 54, 5223, 5061, 112, 37262, 112, 5558, 112, 32116, 18, 6870, 6494, 112, 37262, 325, 244, 17079, 4628, 11, 19843, 8, 1307, 1588, 1840, 13170, 682, 2468, 3549, 1, 11, 1840, 13976, 4009, 57741, 892, 60880, 8, 5558, 12477, 11, 1553, 1840, 7484, 2468, 7807, 11, 9352, 42208, 82, 70161, 1, 12, 33169, 34075, 18, 5548, 30014, 689, 20321, 112, 1, 112, 345, 11, 1306, 98, 9614, 55, 249, 66, 148, 57, 8, 63226, 30014, 112, 74020, 112, 86437, 112, 1, 112, 1], [73706, 6870, 1046, 3289, 325, 0, 31305, 1518, 10361, 13527, 2, 1, 871, 401, 109, 7752, 2, 1, 111, 11, 9802, 2, 235, 1, 82, 1, 11, 22136, 7621, 1518, 2, 28247, 11172, 11, 8377, 1623, 55, 11437, 73706, 57, 8, 4151, 11, 244, 3712, 98, 5831, 129, 2119, 8, 32225, 18, 4892, 8, 29015, 54, 3869, 38204, 244, 1320, 98, 18635, 692, 129, 11437, 8, 73706, 343, 11, 1, 7697, 1952, 1, 11, 3520, 245, 19400, 18, 21560, 38204, 10539, 2, 13949, 12982, 8, 1, 1, 1964, 325, 346, 6522, 55, 1, 57, 8, 493, 11, 1, 45836, 46493, 18, 13955, 244, 3440, 346, 3237, 256, 11, 3236, 5473, 55, 4713, 1711, 57, 55, 378, 37, 1, 57, 11, 52532, 67, 129, 11552, 13291, 8, 5532, 11, 22112, 11437, 73706, 22112, 6498, 244, 4151, 445, 14195, 2258, 8, 11129, 151, 11, 211, 95712, 401, 11, 689, 520, 1484, 535, 19758, 8, 55, 24070, 9565, 57, 3415, 26183, 179, 129, 5695, 25672, 18, 475, 82, 73706, 37, 463, 3289, 325, 21, 34, 1090, 1, 8, 1928, 1244, 896, 1, 11, 2034, 129, 877, 895, 8, 1928, 5971, 18098, 967, 50, 11, 73706, 2376, 3160, 1, 18, 991, 34, 1928, 14486, 73706, 8, 796, 1333, 1507, 18, 87151, 11, 34, 88, 4144, 2830, 129, 34728, 73706, 9656, 11, 991, 73706, 22709, 1731, 3289, 129, 11, 74522, 73706, 358, 6207, 1, 11, 633, 8475, 141, 1928, 781, 244, 654, 2760, 1, 30080, 8, 1, 18, 28127, 16899, 11, 73706, 7063, 819, 244, 980, 31812, 6740, 18, 8475, 11, 65136, 16117, 36753, 2178, 248, 52188, 1, 483, 1, 495, 8, 1, 2330, 11, 244, 716, 7913, 8156, 50, 18, 147, 11, 3155, 698, 1326, 2283, 2283, 20204, 8, 1, 82, 1, 8, 1, 82, 1, 8, 1, 12, 1, 8, 91071, 11, 127, 7156, 191, 34, 50, 18, 333, 11, 2010, 235, 352, 6758, 116, 12, 1928, 3767, 396, 7285, 8, 120, 1307, 11, 73706, 82, 1, 82, 1, 244, 34, 50, 8, 17360, 120, 1307, 11, 131, 73706, 8, 17360, 724, 1239, 178, 11, 341, 155, 1360, 1928, 396, 3288, 54, 24466, 8, 8358, 18, 991, 1346, 16505, 650, 1076, 198, 414, 1138, 1, 279, 8, 4889, 11, 73706, 8820, 4668, 967, 819, 129, 1235, 8, 55, 865, 557, 57, 3413, 18, 21, 22283, 8, 73706, 11, 1041, 741, 52048, 622, 81, 2970, 11, 1322, 12629, 1, 73706, 109, 1138, 10275, 36678, 111, 82, 1, 73706, 109, 10275, 8933, 27973, 36678, 111, 12, 5476, 73706, 109, 1657, 27973, 36678, 111, 18, 27162, 1054, 2, 7621, 67, 8, 55, 1, 57, 1634, 81, 55, 1, 57, 7567, 3498, 1928, 8, 1, 81, 21573, 11, 13978, 90, 2288, 4846, 11, 12542, 1894, 2909, 4846, 6744, 9569, 73706, 11, 1046, 21560, 1928, 4843, 976, 654, 1, 1, 83, 95, 1, 1964, 73706, 18, 741, 1, 1894, 8733, 10275, 82, 14277, 1964, 73706, 1894, 8733, 26520, 1242, 11, 341, 7744, 1928, 4843, 976, 21396, 41265, 11, 4228, 1, 4108, 81, 6550, 11, 3192, 2679, 64519, 18, 1041, 6744, 33232, 2542, 82, 73706, 622, 689, 3289, 82, 1, 7761, 11, 21396, 6927, 2542, 18, 2883], [48001, 3560, 8, 4467, 4216, 1, 129, 325, 0, 1061, 3560, 8, 4467, 68810, 9805, 4216, 11, 8866, 40, 55, 535, 57, 1, 129, 18, 496, 11, 4680, 244, 20371, 1211, 67, 675, 11, 5223, 2336, 2678, 274, 1728, 8, 69697, 4216, 472, 475, 2283, 2283, 63051, 514, 85949, 748, 3383, 527, 2336, 8, 93058, 76, 1, 883, 8134, 235, 899, 8018, 18, 125, 1211, 10199, 11, 874, 2183, 6799, 11, 34, 514, 6715, 13, 25121, 7154, 8, 6070, 1036, 810, 32, 4250, 21110, 4918, 8, 873, 313, 118, 11, 125, 4216, 1036, 1333, 11535, 10458, 4216, 2793, 403, 18, 12571, 11, 341, 475, 2648, 6949, 2317, 325, 63051, 8, 68810, 4216, 1489, 2678, 1673, 7000, 325, 855, 4250, 1, 129, 325, 1322, 4962, 8, 54, 11, 63051, 8, 108379, 6930, 245, 4631, 659, 25578, 6715, 1648, 4250, 4918, 18, 8590, 244, 7032, 6715, 2675, 1, 15290, 646, 11, 112864, 109, 1, 111, 724, 514, 63051, 15, 527, 11, 4799, 2971, 514, 1, 8, 1583, 774, 3383, 17023, 244, 17319, 148, 235, 95419, 819, 4250, 4918, 11, 448, 886, 1281, 244, 762, 2301, 3718, 21110, 774, 18, 1047, 2454, 11, 125, 784, 234, 128, 6715, 3812, 71571, 4250, 4918, 18, 2205, 13063, 11, 1, 414, 1056, 257, 2, 55, 1041, 4216, 535, 3765, 403, 11, 1046, 762, 47323, 4645, 244, 6715, 45, 4368, 11, 1280, 5909, 3789, 1083, 27443, 308, 1, 18, 57, 21421, 54, 12669, 6, 11661, 188, 23692, 17867, 8, 3015, 11, 127, 1, 6715, 1273, 6, 1, 8, 2888, 18, 1537, 11, 341, 514, 63051, 2816, 1, 514, 6715, 3356, 8, 9154, 3093, 127, 1, 18, 1, 35611, 3332, 17852, 78001, 11, 1, 1056, 244, 1, 1982, 6858, 11, 38244, 129, 6715, 61224, 18, 12571, 1437, 4195, 1076, 433, 11, 6715, 33542, 9034, 821, 2775, 11, 341, 7964, 4216, 55, 14, 1743, 34, 571, 715, 25578, 6715, 57, 11, 84, 1, 244, 4716, 164, 335, 6695, 18300, 18, 4680, 244, 1211, 67, 414, 2294, 11, 10470, 11, 1, 244, 8604, 67, 31, 129, 341, 475, 6166, 11, 448, 257, 12552, 3585, 125, 527, 11, 234, 4799, 7870, 308, 10458, 4216, 8907, 47217, 18, 40, 244, 14984, 11, 6715, 724, 8127, 514, 1, 69377, 12, 25182, 109, 514, 87304, 2799, 3850, 111, 4194, 11, 741, 395, 6715, 71571, 8, 1440, 18, 43892, 234, 63051, 12, 6715, 527, 4779, 8, 874, 8221, 81, 55, 34, 1, 78, 8, 1, 57, 11, 448, 39, 341, 54, 1, 244, 255, 67, 1145, 10199, 8, 18, 1727, 2641, 22818, 234, 3645, 9692, 81, 32037, 1032, 2585, 8, 69045, 18, 5366, 11, 63051, 244, 11519, 237, 705, 4169, 39, 11, 1, 514, 103, 8, 527, 7631, 4779, 313, 4178, 6923, 6924, 148, 11, 103, 6874, 7631, 254, 24, 485, 4216, 244, 6715, 4250, 4918, 850, 8, 255, 18, 280, 244, 623, 4628, 11, 346, 527, 12621, 54, 9120, 129, 18, 991, 18715, 514, 6715, 8, 527, 4779, 11, 1588, 6, 63051, 8, 4250, 21110, 679, 1482, 1603, 810, 14248, 325, 7781, 4978, 18, 496, 11, 63051, 20480, 55823, 244, 2113, 1303, 1380, 2898, 98, 127, 3899, 11, 103, 4, 514, 463, 464, 461, 2799], [17764, 17760, 819, 31245, 325, 0, 28628, 11, 24040, 237, 129, 877, 2752, 1, 248, 48493, 4835, 2283, 2283, 52711, 52712, 112, 7486, 11, 13763, 129, 13949, 5585, 8, 530, 1912, 427, 729, 11, 1, 52712, 112, 7486, 8801, 12148, 14327, 2720, 1716, 20130, 1974, 13880, 325, 1, 362, 463, 271, 11, 272, 1376, 91, 4835, 11, 52712, 112, 7486, 17764, 81, 1, 2255, 32370, 11, 48493, 456, 1565, 4844, 23912, 8, 1, 18, 1841, 244, 1961, 12, 74, 13, 8263, 404, 11, 52712, 112, 7486, 5709, 12609, 8, 15707, 15708, 1899, 4844, 11, 4844, 56497, 1961, 11, 1, 18, 3519, 48397, 572, 5709, 906, 8769, 25450, 48397, 2763, 18, 48493, 456, 414, 5709, 129, 2201, 31781, 2773, 19845, 17763, 8, 5284, 11, 1322, 244, 2134, 8, 1176, 248, 244, 74, 2976, 12, 1961, 2976, 248, 13476, 1774, 3909, 14540, 185, 1, 11, 341, 16892, 248, 17760, 18715, 54, 54685, 129, 112, 18, 29225, 11, 5548, 4835, 318, 1819, 2632, 11, 1728, 2405, 2574, 76139, 8, 6938, 1882, 15747, 14077, 833], [15708, 17987, 2827, 10596, 0, 7143, 4563, 1, 401, 109, 7752, 2, 1, 111, 9802, 4563, 71288, 741, 1, 11, 30268, 4563, 1, 311, 1, 1, 4563, 1, 15708, 8, 622, 11, 315, 315, 27531, 883, 1259, 4106, 18, 31901, 762, 3405, 8, 5048, 82, 13455, 4299, 4515, 50, 27171, 15707, 11, 22457, 750, 11, 7063, 1912, 1753, 129, 193, 413, 8, 4799, 18, 12571, 11, 414, 9041, 26339, 15708, 622, 88, 4025, 3932, 11, 126, 88, 23534, 1, 11, 100921, 11, 6746, 8, 877, 56097, 22457, 15708, 71, 11, 1589, 1669, 4502, 1400, 7832, 11, 535, 18236, 129, 815, 32706, 8, 38, 18, 4271, 3191, 70283, 11, 11958, 127, 1056, 54, 25965, 8, 55955, 472, 4510, 2, 28127, 16899, 8, 141, 62429, 32211, 644, 472, 475, 313, 16859, 244, 15704, 82, 10065, 472, 185, 11, 244, 1195, 40, 5377, 46957, 22457, 4502, 1400, 8, 1, 18, 9454, 2986, 1481, 38760, 11, 1, 8, 100921, 11, 1588, 244, 19172, 433, 1016, 433, 41623, 8344, 18, 280, 11, 11958, 8, 263, 11, 448, 2415, 34, 15708, 750, 8, 263, 18, 14294, 11, 1184, 8, 15708, 472, 13529, 11, 11958, 2421, 34, 15708, 750, 1, 11, 2358, 15708, 2505, 88, 3405, 6919, 188, 11, 179, 37187, 17980, 11, 1774, 179, 34, 1408, 8, 107909, 18, 2462, 32833, 11958, 8, 4515, 11, 572, 752, 6289, 389, 877, 15708, 750, 88, 4144, 179, 3405, 11, 1774, 88, 3405, 179, 34, 8, 1074, 88305, 11, 752, 2760, 15704, 514, 10065, 1, 27815, 98, 129, 1, 18, 26899, 595, 112, 1, 1899, 877, 895, 8, 9824, 12968, 379, 11, 1195, 11, 877, 53, 8, 62429, 7066, 1, 112, 25443, 112, 8788, 18, 5204, 5542, 244, 1, 11, 9824, 15708, 12795, 378, 379, 14376, 5403, 82, 4409, 82, 2134, 333, 6671, 859, 23829, 12440, 11, 10122, 2068, 1, 18, 877, 3789, 535, 3405, 82, 34, 9931, 1553, 4144, 9436, 4693, 5250, 18, 1, 11, 414, 362, 31812, 12520, 5387, 1, 11, 7490, 92092, 9256, 8, 11, 12166, 2502, 12520, 5387, 2570, 16892, 18, 11176, 1, 11, 20568, 1220, 11, 3919, 12, 5612, 9999, 646, 11, 461, 234, 465, 439, 46957, 2258, 46960, 76, 22457, 15708, 9656, 18, 830, 389, 426, 15803, 11, 7743, 1518, 4144, 8, 1, 64743, 2283, 2283, 1195, 4207, 11, 11958, 646, 741, 53025, 254, 73547, 41128, 31253, 15708, 4368, 530, 1553, 1, 8, 3667, 18, 155, 4552, 4029, 107, 8132, 5980, 846, 8, 11958, 3873, 11, 1, 2418, 2178, 8377, 73547, 1504, 40, 11421, 8, 46957, 1400, 11, 448, 3613, 37516, 7326, 288, 26032, 8, 2224, 18, 244, 8475, 11, 1, 47518, 883, 128, 50, 8, 2427, 866, 11, 12571, 73547, 2530, 40, 3783, 8, 46957, 1400, 11, 336, 368, 4368, 8, 12166, 54, 1, 1553, 1, 823, 20219, 15708, 18, 97, 11, 989, 16570, 129, 188, 38256, 11, 991, 4708, 4108, 1, 18, 991, 6724, 14949, 2417, 91, 11, 1841, 1, 341, 14622, 46957, 1400, 11, 13016, 8, 5029, 48230, 475, 44373, 11, 1376, 13583, 7163, 2703, 1, 129, 87299, 2581, 7071, 18, 161, 13016, 1284, 1, 43820, 8, 766, 17567, 1149, 18288, 81, 34121, 622, 1242, 11, 2255], [241, 2011, 13888, 13888, 129, 6929, 325, 0, 7677, 27113, 908, 18090, 63532, 2333, 109, 1, 3591, 20677, 11, 7677, 51846, 2244, 63532, 111, 18, 835, 10764, 7050, 237, 4649, 129, 11, 272, 1882, 15747, 341, 131, 10026, 892, 8, 1226, 4310, 12, 1081, 18, 5061, 5867, 631, 463, 8, 54, 10189, 535, 43988, 95921, 8, 241, 11, 762, 800, 434, 13588, 37, 241, 8, 1372, 1086, 7066, 11236, 4180, 8, 174, 18, 341, 358, 321, 1467, 325, 3520, 174, 8, 4011, 1481, 11592, 11, 341, 54, 321, 7287, 8, 325, 241, 1379, 1588, 19208, 1582, 6929, 325, 1041, 1461, 241, 82, 20412, 11, 12166, 1088, 187, 1363, 8, 184, 1999, 376, 116, 7349, 18, 54, 1819, 126, 2787, 196, 631, 188, 8, 376, 116, 325, 3767, 25, 1322, 7000, 2175, 325, 1433, 54, 818, 2632, 2333, 54742, 11, 10916, 18, 434, 188, 241, 800, 2267, 11, 13861, 174, 13063, 55, 1, 57, 325, 1927, 11, 112, 1363, 67, 2120, 241, 8, 1460, 9449, 1731, 188, 8, 2657, 11, 50, 883, 13547, 540, 254, 129, 18, 2713, 11, 11753, 241, 174, 4011, 11592, 11, 341, 11989, 241, 8, 871, 2976, 11, 2267, 448, 44052, 2679, 1957, 25082, 24669, 9255, 8, 279, 11, 1727, 1322, 528, 18618, 8, 268, 244, 4131, 21143, 2418, 1674, 11654, 11, 9352, 5722, 6341, 463, 1226, 1999, 5539, 174, 313, 84, 241, 3356, 127, 1588, 9833, 33476, 18, 272, 9344, 362, 1855, 241, 11, 874, 2679, 244, 352, 1086, 177, 8, 2426, 11, 241, 54, 352, 8, 1, 11, 358, 1674, 1226, 55, 14337, 57, 18], [2703, 1006, 650, 8626, 483, 27797, 495, 23545, 13768, 23546, 0, 727, 112, 2376, 112, 2909, 112, 1076, 112, 2033, 112, 621, 18, 1, 483, 1, 495, 244, 716, 1, 11, 27813, 9802, 1, 2897, 18, 565, 281, 254, 610, 255, 11, 1346, 535, 25639, 483, 27797, 495, 6870, 3613, 26200, 13790, 8626, 325, 1, 271, 11, 55, 13790, 8, 1, 11, 5564, 82, 367, 1322, 390, 1322, 33222, 11, 991, 2538, 3613, 390, 11, 392, 1, 18, 483, 27797, 495, 7037, 129, 341, 14622, 274, 10139, 8, 4976, 18, 57, 3198, 11, 1, 625, 5440, 8, 31219, 392, 408, 2427, 31219, 11, 17429, 483, 27797, 495, 127, 7037, 129, 11, 55, 2415, 271, 5306, 3613, 8626, 11, 5204, 906, 1698, 8, 5440, 54, 4450, 3147, 8, 18, 57, 991, 4548, 11, 44149, 112, 3008, 54, 358, 8626, 483, 27797, 495, 129, 18, 44149, 8, 483, 27797, 495, 109506, 234, 2760, 483, 92921, 495, 79773, 3087, 112, 1, 12, 20122, 595, 9667, 595, 112, 1, 2998, 483, 1, 495, 1, 250, 650, 88223, 112, 1, 1960, 11, 1, 1, 12, 12573, 1, 1, 3539, 1271, 60590, 11, 1, 82, 1, 12, 1, 8, 1, 112, 9667, 3539, 2109, 40081, 18, 1, 724, 8015, 1, 18, 3087, 112, 1, 12, 20122, 595, 9667, 595, 112, 1, 39, 11, 483, 27797, 495, 54, 894, 1145, 10227, 107, 8, 274, 23786, 8, 18114, 345, 11, 894, 1974, 389, 1964, 413, 1726, 90, 234, 32, 34474, 4021, 11, 83295, 9208, 12158, 18, 4021, 11131, 88, 26818, 1882, 325, 88, 7119, 1882, 18, 1041, 5306, 16566, 1061, 244, 726, 483, 27797, 495, 8, 65842, 11, 40, 9682, 15748, 1, 472, 185, 1177, 8, 5564, 18, 29879, 112, 2376, 11, 483, 27797, 495, 5440, 27497, 11, 2760, 1, 67614, 11, 1, 82, 1, 57997, 18, 341, 5440, 32343, 112, 29879, 112, 2376, 40, 8626, 4649, 129, 11, 2925, 244, 112, 75, 112, 2376, 112, 1060, 112, 1685, 12614, 11, 2460, 40, 1, 129, 11, 1223, 1, 1, 12, 20266, 11, 32708, 45387, 18, 8590, 244, 7119, 4552, 3309, 248, 483, 27797, 495, 11131, 256, 11, 8475, 8, 7119, 13387, 291, 1, 109, 1, 111, 13949, 3440, 5203, 8, 12793, 2, 55, 34, 12091, 82, 98, 14591, 2732, 8, 13949, 8845, 17043, 8, 1, 11, 6494, 18677, 2223, 1882, 8626, 11, 358, 35895, 127, 358, 35895, 179, 272, 18677, 6848, 18, 57, 76464, 112, 29879, 112, 2376, 8, 3712, 353, 11, 1, 9682, 54, 3595, 8, 2, 7119, 13387, 271, 2223, 1, 11, 52048, 10, 112, 2901, 112, 5084, 11, 358, 8626, 1, 18, 7119, 1, 271, 358, 8626, 34, 8, 483, 1, 495, 18, 1, 4511, 129, 1, 11, 70013, 271, 22, 1, 22529, 1719, 68836, 10, 18, 7918, 8475, 157, 13916, 11, 9461, 3021, 5440, 54, 9041, 2732, 18, 991, 1, 78889, 9041, 2570, 2732, 1853, 58610, 11, 472, 185, 4450, 1507, 6924, 11, 85710, 4151, 1481, 11005, 8, 54, 2, 5440, 483, 27797, 495, 244, 1, 448, 16574, 389, 10958, 8, 1674, 4031, 68836, 11, 2327, 65729, 28581, 6023, 11, 20826, 1974, 18, 429, 414, 1702, 107, 13949, 8377, 4151, 11, 9682, 61612, 54, 2, 483, 31417], [58307, 8, 1, 11, 1467, 2720, 33473, 8, 1, 3415, 0, 31305, 1518, 21201, 55, 19202, 1, 57, 109, 7752, 2, 1, 111, 11, 9802, 2, 1, 11, 30268, 2, 1, 11, 22136, 7621, 1518, 48753, 112, 1, 18, 34, 1, 45889, 8, 4889, 11, 358, 7677, 5711, 1, 18, 483, 1, 495, 81953, 35673, 1390, 5084, 11, 1, 483, 1, 495, 1055, 8088, 40, 5944, 98, 129, 11, 34611, 483, 109374, 495, 2348, 42450, 19422, 617, 2116, 58279, 18, 1, 2980, 11, 26464, 47943, 11, 1, 3356, 1481, 12093, 55, 1, 57, 8, 9043, 129, 18, 2720, 12548, 1, 806, 245, 8733, 11, 362, 29886, 2348, 1, 55, 1, 21447, 1, 90, 57, 8, 57167, 51912, 18, 113, 1, 652, 157, 483, 1, 495, 11, 514, 1, 5850, 55, 4601, 32896, 1, 57, 18, 55, 1, 127, 1686, 57, 8, 1, 1, 11, 1840, 5203, 6541, 1, 129, 1, 8, 1, 18, 23189, 63024, 1, 652, 514, 1, 54622, 11, 1, 271, 55, 2223, 54, 1, 8, 57, 18, 1, 39417, 1, 2, 55, 4964, 43756, 514, 1, 3757, 11857, 11, 2223, 9459, 1, 11, 164, 1, 1, 129, 11, 2223, 9459, 2348, 67137, 14499, 129, 18, 57, 1, 1953, 2725, 11, 48875, 3554, 1672, 18, 26464, 1, 11, 572, 358, 62244, 7686, 18, 26464, 1774, 9617, 11, 11367, 5440, 127, 2415, 894, 8626, 8, 18, 84, 1, 1774, 1, 11, 272, 127, 13319, 6, 281, 271, 55, 1, 8314, 26464, 81869, 57, 18, 989, 1, 8, 5440, 1531, 35673, 7986, 244, 877, 1, 11, 1529, 2939, 1, 12, 1, 11, 991, 281, 5185, 54, 879, 1184, 7881, 34, 69443, 15554, 8, 5711, 32896, 18, 23635, 6747, 37, 11173, 65214, 23540, 11, 1, 26953, 3117

In [42]:
a.train()

这是一个多分类模型
Model: "multi_textcnn"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input0 (InputLayer)             [(None, 512)]        0
__________________________________________________________________________________________________
input1 (InputLayer)             [(None, 512)]        0
__________________________________________________________________________________________________
input2 (InputLayer)             [(None, 512)]        0
__________________________________________________________________________________________________
input3 (InputLayer)             [(None, 512)]        0
__________________________________________________________________________________________________
input4 (InputLayer)             [(None, 512)]        0
__________________________________________________________________________________________________
input5 (InputLayer)             [(None, 512)]        0
__________________________________________________________________________________________________
input6 (InputLayer)             [(None, 512)]        0
__________________________________________________________________________________________________
input7 (InputLayer)             [(None, 512)]        0
__________________________________________________________________________________________________
input8 (InputLayer)             [(None, 512)]        0
__________________________________________________________________________________________________
input9 (InputLayer)             [(None, 512)]        0
__________________________________________________________________________________________________
embedding (Embedding)           (None, 512, 256)     31448064    input0[0][0]
                                                                 input1[0][0]
                                                                 input2[0][0]
                                                                 input3[0][0]
                                                                 input4[0][0]
                                                                 input5[0][0]
                                                                 input6[0][0]
                                                                 input7[0][0]
                                                                 input8[0][0]
                                                                 input9[0][0]
__________________________________________________________________________________________________
dropout (Dropout)               (None, 512, 256)     0           embedding[0][0]
                                                                 embedding[1][0]
                                                                 embedding[2][0]
                                                                 embedding[3][0]
                                                                 embedding[4][0]
                                                                 embedding[5][0]
                                                                 embedding[6][0]
                                                                 embedding[7][0]
                                                                 embedding[8][0]
                                                                 embedding[9][0]
__________________________________________________________________________________________________
conv1d (Conv1D)                 (None, 503, 128)     327808      dropout[0][0]
                                                                 dropout[1][0]
                                                                 dropout[2][0]
                                                                 dropout[3][0]
                                                                 dropout[4][0]
                                                                 dropout[5][0]
                                                                 dropout[6][0]
                                                                 dropout[7][0]
                                                                 dropout[8][0]
                                                                 dropout[9][0]
__________________________________________________________________________________________________
max_pooling1d (MaxPooling1D)    (None, 251, 128)     0           conv1d[0][0]
                                                                 conv1d[1][0]
                                                                 conv1d[2][0]
                                                                 conv1d[3][0]
                                                                 conv1d[4][0]
                                                                 conv1d[5][0]
                                                                 conv1d[6][0]
                                                                 conv1d[7][0]
                                                                 conv1d[8][0]
                                                                 conv1d[9][0]
__________________________________________________________________________________________________
flatten (Flatten)               (None, 32128)        0           max_pooling1d[0][0]
                                                                 max_pooling1d[1][0]
                                                                 max_pooling1d[2][0]
                                                                 max_pooling1d[3][0]
                                                                 max_pooling1d[4][0]
                                                                 max_pooling1d[5][0]
                                                                 max_pooling1d[6][0]
                                                                 max_pooling1d[7][0]
                                                                 max_pooling1d[8][0]
                                                                 max_pooling1d[9][0]
__________________________________________________________________________________________________
concatenate (Concatenate)       (None, 321280)       0           flatten[0][0]
                                                                 flatten[1][0]
                                                                 flatten[2][0]
                                                                 flatten[3][0]
                                                                 flatten[4][0]
                                                                 flatten[5][0]
                                                                 flatten[6][0]
                                                                 flatten[7][0]
                                                                 flatten[8][0]
                                                                 flatten[9][0]
__________________________________________________________________________________________________
dropout_1 (Dropout)             (None, 321280)       0           concatenate[0][0]
__________________________________________________________________________________________________
dense (Dense)                   (None, 7)            2248967     dropout_1[0][0]
==================================================================================================
Total params: 34,024,839
Trainable params: 2,576,775
Non-trainable params: 31,448,064
__________________________________________________________________________________________________
None
Epoch 1/7
124/124 [==============================] - 221s 2s/step - loss: 24.8416 - sparse_categorical_accuracy: 0.2746 - val_loss: 16.8752 - val_sparse_categorical_accuracy: 0.1972
Epoch 2/7
106/124 [========================>.....] - ETA: 30s - loss: 11.5305 - sparse_categorical_accuracy: 0.5491

KeyboardInterrupt:

In [2]:
import os
import time
import collections
import sklearn.model_selection
import gensim
import numpy as np
import tensorflow as tf
#from utils import trans_gensim_word2vec2tf_embedding,trans_data2tf_data,trans_tokenize_data2tf_data,trans_multi_input_tokenize_data2npa
#from model_multi_textcnn import build_model

APP_DIR  = os.path.dirname(os.path.realpath('__file__'))
if not os.path.exists(os.path.join(APP_DIR,"data")):
    os.makedirs(os.path.join(APP_DIR,"data"))

# def split_train_eval_test_dataset(dataset):
#     """区分训练验证测试集
#     """
#     dataset_size = tf.data.experimental.cardinality(dataset).numpy()
#     print("总共有数据{}条".format(dataset_size))
#     dataset = dataset.shuffle(dataset_size,seed=1)
#     train_size = int(0.6 * dataset_size)
#     eval_size = int(0.2 * dataset_size)
#     test_size = int(0.2 * dataset_size)

#     train_dataset = dataset.take(train_size)
#     test_dataset = dataset.skip(train_size)
#     eval_dataset = test_dataset.skip(eval_size)
#     test_dataset = test_dataset.take(test_size)
#     return train_dataset.prefetch(tf.data.experimental.AUTOTUNE), \
#         eval_dataset.prefetch(tf.data.experimental.AUTOTUNE), \
#         test_dataset.prefetch(tf.data.experimental.AUTOTUNE)

# def split_train_eval_test_npa(x_npa,y_npa):
#     x_train,x_test,y_train,y_test =  sklearn.model_selection.train_test_split(x_npa, y_npa, test_size=0.2, random_state=24)
#     return x_train,y_train,x_test,y_test

# def build_model_callback():
#     callback_path = os.path.join(APP_DIR,"model_callback","weights.{epoch:02d}-{val_loss:.2f}.hdf5")
#     if not os.path.exists(os.path.dirname(callback_path)):
#         os.makedirs(os.path.dirname(callback_path))

#     model_callback = tf.keras.callbacks.ModelCheckpoint(
#         filepath=callback_path,
#         monitor='val_loss',
#         verbose=1,
#         save_best_only=False,
#         save_weights_only=True,
#         mode='auto',
#         save_freq='epoch',
#     )

#     tf_board_dir = os.path.join(APP_DIR,"model_tensorboard")
#     if not os.path.exists(os.path.dirname(tf_board_dir)):
#          os.makedirs(os.path.dirname(tf_board_dir))

#     tensorboard_callback = tf.keras.callbacks.TensorBoard(log_dir=tf_board_dir,histogram_freq=1,update_freq='batch')
#     return model_callback,tensorboard_callback


if __name__ == "__main__":

    input_number = 10
    #句子的最大长度
    sentence_maxlen = 512
    #训练次数
#     epochs = 7
#     #批大小
#     batch_size = 64
#     #学习率
#     learning_rate = 1e-3
#     # learning_rate = tf.keras.optimizers.schedules.ExponentialDecay(
#     #     1e-3, decay_steps=100, decay_rate=0.1, staircase=False
#     # )

#     #embedding layer是否参加训练
#     is_embedding_training = False
#     # is_embedding_training = True
#     #embedding的dropout比率
#     #embedding_dropout_rate = 0.35
#     embedding_dropout_rate = 0.2


    #数据文件
    #data_csv = os.path.join(APP_DIR,"data","最终数据集.csv")
    #data_jsonl = os.path.join(APP_DIR,"data","最终数据集tokenize.jsonl")
    #data_jsonl = "/mnt1/zhaodachuan/data/predict_user_attribute20200911/raw_data/user_profile/age/最终数据集tokenize.jsonl"
    data_jsonl = r"/mnt/d/zourui/predict_user_attribute20201214/age/raw_data/user_profile/position/最终数据集tokenize8.jsonl"
    #word2vec路径
    #word2vector_file_path = os.path.join(APP_DIR,"data","word2vector.bin")
    word2vector_file_path = r"/home/zourui/data/dim256/word2vector.bin"
    #模型保存路径
    #model_path = os.path.join(APP_DIR,"model_output2")
    ###以上是需要修改的部分

#     if not os.path.exists(os.path.dirname(model_path)):
#         os.makedirs(os.path.dirname(model_path))

    #导入gensim的word2vector
    embedding_matrix,word2vector_dict,word2index_dict = trans_gensim_word2vec2tf_embedding(word2vector_file_path)
    vocab_size,embedding_dim = embedding_matrix.shape

    #划分训练集+验证集，测试集
    #x_npa,y_npa,tag2index_dict = trans_data2tf_data(data_csv,sentence_maxlen,word2index_dict)
    x_npa,y_npa,tag2index_dict = trans_multi_input_tokenize_data2npa(data_jsonl,sentence_maxlen,word2index_dict)
    class_weight_dict = {tag:np.sqrt(len(y_npa)/number) for tag,number in enumerate(np.bincount(y_npa))}
#    x_train_eval,y_train_eval,x_test,y_test = split_train_eval_test_npa(x_npa,y_npa)
  #  print(x_train_eval[:3])
   # print(y_train_eval[:3])
  #  print(class_weight_dict)
  #  print(collections.Counter(y_train_eval))
   # print(collections.Counter(y_test))
    tag_size = len(tag2index_dict)

x_list[:1]:[[[64145, 60511, 11, 32049, 1674, 6, 129, 0, 31305, 9802, 2, 1, 11, 22136, 7621, 1518, 2, 28247, 341, 54, 12126, 11, 1006, 11786, 39276, 11, 1, 18, 1, 20828, 15290, 8973, 692, 11, 244, 341, 740, 8909, 112, 67716, 4256, 98, 11, 463, 2732, 129, 1583, 15550, 24570, 11, 21143, 19024, 389, 55, 14236, 57, 18, 11367, 54, 60511, 8, 14236, 6205, 11, 281, 1669, 19591, 245, 2897, 341, 740, 4256, 18, 40, 244, 20139, 11, 21560, 1036, 54, 5066, 274, 17043, 1380, 103, 8, 2361, 1, 18, 15357, 281, 128, 5649, 102, 20681, 8, 11, 54, 10361, 1333, 8479, 8, 33166, 18, 60511, 514, 71010, 76381, 8, 13568, 11, 32049, 4197, 6227, 12447, 3898, 6725, 103, 8, 291, 11, 991, 7631, 2585, 5203, 8, 2065, 18, 2789, 11367, 28422, 14236, 8, 15550, 24570, 2793, 11, 4155, 4450, 1507, 8, 6924, 1763, 11, 32049, 12552, 388, 3595, 1583, 2993, 2, 21421, 281, 883, 128, 6725, 103, 8, 1, 11, 991, 5203, 2502, 1, 60511, 11, 6, 281, 21560, 24034, 291, 1, 1, 18, 32049, 535, 12793, 3613, 50327, 11, 5649, 14521, 535, 5221, 15148, 18, 21421, 244, 1, 8, 1015, 11, 5649, 7827, 1011, 19136, 18311, 11, 128, 914, 796, 98, 13213, 1011, 47267, 8, 44, 11, 5649, 127, 128, 5223, 274, 12237, 8, 835, 11, 1152, 32049, 8, 12793, 2002, 782, 18, 1, 3591, 16365, 32049, 28142, 5649, 93324, 8, 3901, 11, 991, 894, 16636, 11, 244, 32049, 8, 747, 248, 11, 5649, 4, 11567, 60511, 12161, 8, 731, 2314, 514, 1, 53459, 11, 128, 1348, 689, 1, 82, 689, 2416, 8, 871, 71, 18, 32049, 28142, 5649, 114, 11, 8909, 112, 1316, 345, 333, 8, 4835, 343, 11, 535, 1866, 15973, 18684, 731, 11, 32049, 2219, 12182, 8, 8909, 112, 21025, 11, 127, 1669, 38106, 8, 9621, 8100, 1882, 1757, 1, 18, 4894, 32, 26455, 41575, 8, 5156, 112, 1, 514, 34591, 11, 244, 332, 8, 14495, 127, 725, 12793, 18, 341, 1840, 32049, 4024, 129, 13631, 442, 1682, 8, 12591, 4870, 18, 17804, 11, 818, 5649, 1866, 6, 5649, 244, 1, 8, 731, 1653, 257, 7569, 313, 26497, 11, 32049, 9502, 248, 8, 5649, 4, 542, 88, 6190, 179, 1761, 8, 556, 11, 5171, 19384, 2832, 8, 4613, 871, 2976, 11, 1840, 25, 6, 32049, 2784, 856, 18, 36697, 11, 12126, 32049, 15357, 60511, 256, 11, 5649, 7827, 92, 12439, 11, 991, 28142, 5335, 433, 11, 77, 5976, 11, 5649, 673, 1011, 47321, 7827, 11, 4626, 4476, 333, 11, 341, 475, 2230, 15290, 4865, 129, 17278, 18, 341, 2415, 754, 16212, 7287, 8, 4892, 18, 3326, 47433, 7765, 85181, 1964, 41588, 90, 16729, 8, 1, 11, 244, 3898, 291, 8, 50936, 11883, 11, 3326, 8, 7827, 88, 1, 2408, 179, 1, 313, 1, 15357, 25384, 28142, 11613, 8, 13568, 11, 103, 7827, 88, 23489, 315, 308, 1, 11, 1327, 281, 8, 8675, 1840, 11613, 7827, 153, 129, 2101, 18, 651, 9942, 1406, 46715, 32049, 341, 24655, 11, 88, 689, 3777, 8, 1, 91, 11, 32049, 7806, 883, 128, 274, 17043, 8, 1, 11, 245, 472, 475, 18, 12929, 11, 244, 254, 12450, 255, 256, 11, 32049], [4495, 11643, 11, 17079, 2196, 865, 2754, 30014, 1993, 0, 31305, 1518, 21201, 2, 1, 109, 7752, 2, 1, 15053, 111, 11, 9802, 2, 1, 11, 30268, 2, 1, 82, 1, 11, 41389, 6177, 2, 483, 4495, 11643, 11, 17079, 2196, 1, 30014, 86437, 112, 1, 1993, 2, 26295, 2178, 1, 495, 11, 22136, 7621, 1518, 2, 28247, 155, 877, 65512, 12, 112, 4490, 112, 11541, 3873, 11, 1583, 284, 8800, 4016, 129, 18, 4552, 11, 5542, 54, 244, 8314, 9264, 11, 17079, 2361, 89223, 467, 68643, 237, 129, 1489, 9614, 865, 2754, 30014, 112, 74020, 112, 86437, 112, 593, 112, 345, 8, 12161, 2946, 19735, 112, 74020, 112, 86437, 112, 1, 82, 86437, 112, 1, 82, 86437, 112, 1, 18, 55, 3550, 4495, 2502, 31452, 11, 89222, 2706, 112, 32116, 112, 7066, 35741, 8, 3574, 11, 57, 89223, 11420, 18, 55, 88, 2706, 82, 9903, 4650, 2763, 82, 48397, 82, 3006, 82, 21974, 82, 1, 112, 107531, 82, 1, 82, 17924, 82, 27132, 82, 1761, 12, 1845, 7829, 7829, 112, 272, 244, 888, 3880, 49107, 112, 32116, 112, 8, 4495, 11, 16, 196, 129, 2358, 1535, 18, 57, 36810, 2, 1, 100517, 6750, 14157, 433, 37, 12794, 18, 485, 6663, 237, 11, 2926, 6695, 37, 1839, 72, 7260, 8085, 18, 991, 7490, 1519, 7433, 8, 2679, 112, 74020, 112, 86437, 112, 593, 112, 345, 8, 4495, 514, 7740, 18, 1964, 6323, 68495, 8, 54694, 2679, 11, 514, 112, 1, 112, 16895, 2885, 11, 991, 4011, 1864, 129, 4943, 18, 84, 112, 1, 112, 689, 54, 112, 32116, 112, 67, 8, 1, 11, 89223, 39, 472, 81, 112, 1, 109, 93731, 112, 1, 111, 18, 2120, 1, 32116, 8, 9926, 622, 127, 3493, 146, 244, 129, 17079, 34, 2241, 98, 2, 8920, 2196, 112, 32116, 244, 4364, 2310, 82, 51603, 19906, 8, 1622, 1, 433, 11, 89223, 8866, 88, 36079, 100517, 6750, 8, 1, 433, 11, 6638, 129, 129, 8483, 112, 86437, 112, 1, 11, 819, 752, 2826, 112, 1, 112, 345, 18, 33430, 11, 74020, 112, 86437, 112, 593, 112, 345, 12171, 5181, 129, 112, 32116, 112, 753, 8, 5098, 55, 1247, 57, 2, 2752, 9361, 112, 1, 112, 1, 112, 1, 8, 5558, 24778, 1861, 313, 1676, 439, 112, 1, 112, 18711, 112, 8, 112, 32116, 11, 8483, 30014, 2254, 196, 112, 1, 112, 906, 26737, 1010, 112, 1, 112, 5558, 313, 1676, 439, 112, 1, 112, 1, 8, 3092, 112, 32116, 11, 196, 741, 689, 2570, 8, 14548, 44627, 2542, 19843, 8, 1, 18, 274, 1, 8, 112, 74020, 112, 86437, 112, 1, 11, 1537, 2502, 358, 88, 1, 1763, 15465, 18, 86437, 112, 1, 112, 54, 5223, 5061, 112, 37262, 112, 5558, 112, 32116, 18, 6870, 6494, 112, 37262, 325, 244, 17079, 4628, 11, 19843, 8, 1307, 1588, 1840, 13170, 682, 2468, 3549, 1, 11, 1840, 13976, 4009, 57741, 892, 60880, 8, 5558, 12477, 11, 1553, 1840, 7484, 2468, 7807, 11, 9352, 42208, 82, 70161, 1, 12, 33169, 34075, 18, 5548, 30014, 689, 20321, 112, 1, 112, 345, 11, 1306, 98, 9614, 55, 249, 66, 148, 57, 8, 63226, 30014, 112, 74020, 112, 86437, 112, 1, 112, 1], [73706, 6870, 1046, 3289, 325, 0, 31305, 1518, 10361, 13527, 2, 1, 871, 401, 109, 7752, 2, 1, 111, 11, 9802, 2, 235, 1, 82, 1, 11, 22136, 7621, 1518, 2, 28247, 11172, 11, 8377, 1623, 55, 11437, 73706, 57, 8, 4151, 11, 244, 3712, 98, 5831, 129, 2119, 8, 32225, 18, 4892, 8, 29015, 54, 3869, 38204, 244, 1320, 98, 18635, 692, 129, 11437, 8, 73706, 343, 11, 1, 7697, 1952, 1, 11, 3520, 245, 19400, 18, 21560, 38204, 10539, 2, 13949, 12982, 8, 1, 1, 1964, 325, 346, 6522, 55, 1, 57, 8, 493, 11, 1, 45836, 46493, 18, 13955, 244, 3440, 346, 3237, 256, 11, 3236, 5473, 55, 4713, 1711, 57, 55, 378, 37, 1, 57, 11, 52532, 67, 129, 11552, 13291, 8, 5532, 11, 22112, 11437, 73706, 22112, 6498, 244, 4151, 445, 14195, 2258, 8, 11129, 151, 11, 211, 95712, 401, 11, 689, 520, 1484, 535, 19758, 8, 55, 24070, 9565, 57, 3415, 26183, 179, 129, 5695, 25672, 18, 475, 82, 73706, 37, 463, 3289, 325, 21, 34, 1090, 1, 8, 1928, 1244, 896, 1, 11, 2034, 129, 877, 895, 8, 1928, 5971, 18098, 967, 50, 11, 73706, 2376, 3160, 1, 18, 991, 34, 1928, 14486, 73706, 8, 796, 1333, 1507, 18, 87151, 11, 34, 88, 4144, 2830, 129, 34728, 73706, 9656, 11, 991, 73706, 22709, 1731, 3289, 129, 11, 74522, 73706, 358, 6207, 1, 11, 633, 8475, 141, 1928, 781, 244, 654, 2760, 1, 30080, 8, 1, 18, 28127, 16899, 11, 73706, 7063, 819, 244, 980, 31812, 6740, 18, 8475, 11, 65136, 16117, 36753, 2178, 248, 52188, 1, 483, 1, 495, 8, 1, 2330, 11, 244, 716, 7913, 8156, 50, 18, 147, 11, 3155, 698, 1326, 2283, 2283, 20204, 8, 1, 82, 1, 8, 1, 82, 1, 8, 1, 12, 1, 8, 91071, 11, 127, 7156, 191, 34, 50, 18, 333, 11, 2010, 235, 352, 6758, 116, 12, 1928, 3767, 396, 7285, 8, 120, 1307, 11, 73706, 82, 1, 82, 1, 244, 34, 50, 8, 17360, 120, 1307, 11, 131, 73706, 8, 17360, 724, 1239, 178, 11, 341, 155, 1360, 1928, 396, 3288, 54, 24466, 8, 8358, 18, 991, 1346, 16505, 650, 1076, 198, 414, 1138, 1, 279, 8, 4889, 11, 73706, 8820, 4668, 967, 819, 129, 1235, 8, 55, 865, 557, 57, 3413, 18, 21, 22283, 8, 73706, 11, 1041, 741, 52048, 622, 81, 2970, 11, 1322, 12629, 1, 73706, 109, 1138, 10275, 36678, 111, 82, 1, 73706, 109, 10275, 8933, 27973, 36678, 111, 12, 5476, 73706, 109, 1657, 27973, 36678, 111, 18, 27162, 1054, 2, 7621, 67, 8, 55, 1, 57, 1634, 81, 55, 1, 57, 7567, 3498, 1928, 8, 1, 81, 21573, 11, 13978, 90, 2288, 4846, 11, 12542, 1894, 2909, 4846, 6744, 9569, 73706, 11, 1046, 21560, 1928, 4843, 976, 654, 1, 1, 83, 95, 1, 1964, 73706, 18, 741, 1, 1894, 8733, 10275, 82, 14277, 1964, 73706, 1894, 8733, 26520, 1242, 11, 341, 7744, 1928, 4843, 976, 21396, 41265, 11, 4228, 1, 4108, 81, 6550, 11, 3192, 2679, 64519, 18, 1041, 6744, 33232, 2542, 82, 73706, 622, 689, 3289, 82, 1, 7761, 11, 21396, 6927, 2542, 18, 2883], [48001, 3560, 8, 4467, 4216, 1, 129, 325, 0, 1061, 3560, 8, 4467, 68810, 9805, 4216, 11, 8866, 40, 55, 535, 57, 1, 129, 18, 496, 11, 4680, 244, 20371, 1211, 67, 675, 11, 5223, 2336, 2678, 274, 1728, 8, 69697, 4216, 472, 475, 2283, 2283, 63051, 514, 85949, 748, 3383, 527, 2336, 8, 93058, 76, 1, 883, 8134, 235, 899, 8018, 18, 125, 1211, 10199, 11, 874, 2183, 6799, 11, 34, 514, 6715, 13, 25121, 7154, 8, 6070, 1036, 810, 32, 4250, 21110, 4918, 8, 873, 313, 118, 11, 125, 4216, 1036, 1333, 11535, 10458, 4216, 2793, 403, 18, 12571, 11, 341, 475, 2648, 6949, 2317, 325, 63051, 8, 68810, 4216, 1489, 2678, 1673, 7000, 325, 855, 4250, 1, 129, 325, 1322, 4962, 8, 54, 11, 63051, 8, 108379, 6930, 245, 4631, 659, 25578, 6715, 1648, 4250, 4918, 18, 8590, 244, 7032, 6715, 2675, 1, 15290, 646, 11, 112864, 109, 1, 111, 724, 514, 63051, 15, 527, 11, 4799, 2971, 514, 1, 8, 1583, 774, 3383, 17023, 244, 17319, 148, 235, 95419, 819, 4250, 4918, 11, 448, 886, 1281, 244, 762, 2301, 3718, 21110, 774, 18, 1047, 2454, 11, 125, 784, 234, 128, 6715, 3812, 71571, 4250, 4918, 18, 2205, 13063, 11, 1, 414, 1056, 257, 2, 55, 1041, 4216, 535, 3765, 403, 11, 1046, 762, 47323, 4645, 244, 6715, 45, 4368, 11, 1280, 5909, 3789, 1083, 27443, 308, 1, 18, 57, 21421, 54, 12669, 6, 11661, 188, 23692, 17867, 8, 3015, 11, 127, 1, 6715, 1273, 6, 1, 8, 2888, 18, 1537, 11, 341, 514, 63051, 2816, 1, 514, 6715, 3356, 8, 9154, 3093, 127, 1, 18, 1, 35611, 3332, 17852, 78001, 11, 1, 1056, 244, 1, 1982, 6858, 11, 38244, 129, 6715, 61224, 18, 12571, 1437, 4195, 1076, 433, 11, 6715, 33542, 9034, 821, 2775, 11, 341, 7964, 4216, 55, 14, 1743, 34, 571, 715, 25578, 6715, 57, 11, 84, 1, 244, 4716, 164, 335, 6695, 18300, 18, 4680, 244, 1211, 67, 414, 2294, 11, 10470, 11, 1, 244, 8604, 67, 31, 129, 341, 475, 6166, 11, 448, 257, 12552, 3585, 125, 527, 11, 234, 4799, 7870, 308, 10458, 4216, 8907, 47217, 18, 40, 244, 14984, 11, 6715, 724, 8127, 514, 1, 69377, 12, 25182, 109, 514, 87304, 2799, 3850, 111, 4194, 11, 741, 395, 6715, 71571, 8, 1440, 18, 43892, 234, 63051, 12, 6715, 527, 4779, 8, 874, 8221, 81, 55, 34, 1, 78, 8, 1, 57, 11, 448, 39, 341, 54, 1, 244, 255, 67, 1145, 10199, 8, 18, 1727, 2641, 22818, 234, 3645, 9692, 81, 32037, 1032, 2585, 8, 69045, 18, 5366, 11, 63051, 244, 11519, 237, 705, 4169, 39, 11, 1, 514, 103, 8, 527, 7631, 4779, 313, 4178, 6923, 6924, 148, 11, 103, 6874, 7631, 254, 24, 485, 4216, 244, 6715, 4250, 4918, 850, 8, 255, 18, 280, 244, 623, 4628, 11, 346, 527, 12621, 54, 9120, 129, 18, 991, 18715, 514, 6715, 8, 527, 4779, 11, 1588, 6, 63051, 8, 4250, 21110, 679, 1482, 1603, 810, 14248, 325, 7781, 4978, 18, 496, 11, 63051, 20480, 55823, 244, 2113, 1303, 1380, 2898, 98, 127, 3899, 11, 103, 4, 514, 463, 464, 461, 2799], [17764, 17760, 819, 31245, 325, 0, 28628, 11, 24040, 237, 129, 877, 2752, 1, 248, 48493, 4835, 2283, 2283, 52711, 52712, 112, 7486, 11, 13763, 129, 13949, 5585, 8, 530, 1912, 427, 729, 11, 1, 52712, 112, 7486, 8801, 12148, 14327, 2720, 1716, 20130, 1974, 13880, 325, 1, 362, 463, 271, 11, 272, 1376, 91, 4835, 11, 52712, 112, 7486, 17764, 81, 1, 2255, 32370, 11, 48493, 456, 1565, 4844, 23912, 8, 1, 18, 1841, 244, 1961, 12, 74, 13, 8263, 404, 11, 52712, 112, 7486, 5709, 12609, 8, 15707, 15708, 1899, 4844, 11, 4844, 56497, 1961, 11, 1, 18, 3519, 48397, 572, 5709, 906, 8769, 25450, 48397, 2763, 18, 48493, 456, 414, 5709, 129, 2201, 31781, 2773, 19845, 17763, 8, 5284, 11, 1322, 244, 2134, 8, 1176, 248, 244, 74, 2976, 12, 1961, 2976, 248, 13476, 1774, 3909, 14540, 185, 1, 11, 341, 16892, 248, 17760, 18715, 54, 54685, 129, 112, 18, 29225, 11, 5548, 4835, 318, 1819, 2632, 11, 1728, 2405, 2574, 76139, 8, 6938, 1882, 15747, 14077, 833], [15708, 17987, 2827, 10596, 0, 7143, 4563, 1, 401, 109, 7752, 2, 1, 111, 9802, 4563, 71288, 741, 1, 11, 30268, 4563, 1, 311, 1, 1, 4563, 1, 15708, 8, 622, 11, 315, 315, 27531, 883, 1259, 4106, 18, 31901, 762, 3405, 8, 5048, 82, 13455, 4299, 4515, 50, 27171, 15707, 11, 22457, 750, 11, 7063, 1912, 1753, 129, 193, 413, 8, 4799, 18, 12571, 11, 414, 9041, 26339, 15708, 622, 88, 4025, 3932, 11, 126, 88, 23534, 1, 11, 100921, 11, 6746, 8, 877, 56097, 22457, 15708, 71, 11, 1589, 1669, 4502, 1400, 7832, 11, 535, 18236, 129, 815, 32706, 8, 38, 18, 4271, 3191, 70283, 11, 11958, 127, 1056, 54, 25965, 8, 55955, 472, 4510, 2, 28127, 16899, 8, 141, 62429, 32211, 644, 472, 475, 313, 16859, 244, 15704, 82, 10065, 472, 185, 11, 244, 1195, 40, 5377, 46957, 22457, 4502, 1400, 8, 1, 18, 9454, 2986, 1481, 38760, 11, 1, 8, 100921, 11, 1588, 244, 19172, 433, 1016, 433, 41623, 8344, 18, 280, 11, 11958, 8, 263, 11, 448, 2415, 34, 15708, 750, 8, 263, 18, 14294, 11, 1184, 8, 15708, 472, 13529, 11, 11958, 2421, 34, 15708, 750, 1, 11, 2358, 15708, 2505, 88, 3405, 6919, 188, 11, 179, 37187, 17980, 11, 1774, 179, 34, 1408, 8, 107909, 18, 2462, 32833, 11958, 8, 4515, 11, 572, 752, 6289, 389, 877, 15708, 750, 88, 4144, 179, 3405, 11, 1774, 88, 3405, 179, 34, 8, 1074, 88305, 11, 752, 2760, 15704, 514, 10065, 1, 27815, 98, 129, 1, 18, 26899, 595, 112, 1, 1899, 877, 895, 8, 9824, 12968, 379, 11, 1195, 11, 877, 53, 8, 62429, 7066, 1, 112, 25443, 112, 8788, 18, 5204, 5542, 244, 1, 11, 9824, 15708, 12795, 378, 379, 14376, 5403, 82, 4409, 82, 2134, 333, 6671, 859, 23829, 12440, 11, 10122, 2068, 1, 18, 877, 3789, 535, 3405, 82, 34, 9931, 1553, 4144, 9436, 4693, 5250, 18, 1, 11, 414, 362, 31812, 12520, 5387, 1, 11, 7490, 92092, 9256, 8, 11, 12166, 2502, 12520, 5387, 2570, 16892, 18, 11176, 1, 11, 20568, 1220, 11, 3919, 12, 5612, 9999, 646, 11, 461, 234, 465, 439, 46957, 2258, 46960, 76, 22457, 15708, 9656, 18, 830, 389, 426, 15803, 11, 7743, 1518, 4144, 8, 1, 64743, 2283, 2283, 1195, 4207, 11, 11958, 646, 741, 53025, 254, 73547, 41128, 31253, 15708, 4368, 530, 1553, 1, 8, 3667, 18, 155, 4552, 4029, 107, 8132, 5980, 846, 8, 11958, 3873, 11, 1, 2418, 2178, 8377, 73547, 1504, 40, 11421, 8, 46957, 1400, 11, 448, 3613, 37516, 7326, 288, 26032, 8, 2224, 18, 244, 8475, 11, 1, 47518, 883, 128, 50, 8, 2427, 866, 11, 12571, 73547, 2530, 40, 3783, 8, 46957, 1400, 11, 336, 368, 4368, 8, 12166, 54, 1, 1553, 1, 823, 20219, 15708, 18, 97, 11, 989, 16570, 129, 188, 38256, 11, 991, 4708, 4108, 1, 18, 991, 6724, 14949, 2417, 91, 11, 1841, 1, 341, 14622, 46957, 1400, 11, 13016, 8, 5029, 48230, 475, 44373, 11, 1376, 13583, 7163, 2703, 1, 129, 87299, 2581, 7071, 18, 161, 13016, 1284, 1, 43820, 8, 766, 17567, 1149, 18288, 81, 34121, 622, 1242, 11, 2255], [241, 2011, 13888, 13888, 129, 6929, 325, 0, 7677, 27113, 908, 18090, 63532, 2333, 109, 1, 3591, 20677, 11, 7677, 51846, 2244, 63532, 111, 18, 835, 10764, 7050, 237, 4649, 129, 11, 272, 1882, 15747, 341, 131, 10026, 892, 8, 1226, 4310, 12, 1081, 18, 5061, 5867, 631, 463, 8, 54, 10189, 535, 43988, 95921, 8, 241, 11, 762, 800, 434, 13588, 37, 241, 8, 1372, 1086, 7066, 11236, 4180, 8, 174, 18, 341, 358, 321, 1467, 325, 3520, 174, 8, 4011, 1481, 11592, 11, 341, 54, 321, 7287, 8, 325, 241, 1379, 1588, 19208, 1582, 6929, 325, 1041, 1461, 241, 82, 20412, 11, 12166, 1088, 187, 1363, 8, 184, 1999, 376, 116, 7349, 18, 54, 1819, 126, 2787, 196, 631, 188, 8, 376, 116, 325, 3767, 25, 1322, 7000, 2175, 325, 1433, 54, 818, 2632, 2333, 54742, 11, 10916, 18, 434, 188, 241, 800, 2267, 11, 13861, 174, 13063, 55, 1, 57, 325, 1927, 11, 112, 1363, 67, 2120, 241, 8, 1460, 9449, 1731, 188, 8, 2657, 11, 50, 883, 13547, 540, 254, 129, 18, 2713, 11, 11753, 241, 174, 4011, 11592, 11, 341, 11989, 241, 8, 871, 2976, 11, 2267, 448, 44052, 2679, 1957, 25082, 24669, 9255, 8, 279, 11, 1727, 1322, 528, 18618, 8, 268, 244, 4131, 21143, 2418, 1674, 11654, 11, 9352, 5722, 6341, 463, 1226, 1999, 5539, 174, 313, 84, 241, 3356, 127, 1588, 9833, 33476, 18, 272, 9344, 362, 1855, 241, 11, 874, 2679, 244, 352, 1086, 177, 8, 2426, 11, 241, 54, 352, 8, 1, 11, 358, 1674, 1226, 55, 14337, 57, 18], [2703, 1006, 650, 8626, 483, 27797, 495, 23545, 13768, 23546, 0, 727, 112, 2376, 112, 2909, 112, 1076, 112, 2033, 112, 621, 18, 1, 483, 1, 495, 244, 716, 1, 11, 27813, 9802, 1, 2897, 18, 565, 281, 254, 610, 255, 11, 1346, 535, 25639, 483, 27797, 495, 6870, 3613, 26200, 13790, 8626, 325, 1, 271, 11, 55, 13790, 8, 1, 11, 5564, 82, 367, 1322, 390, 1322, 33222, 11, 991, 2538, 3613, 390, 11, 392, 1, 18, 483, 27797, 495, 7037, 129, 341, 14622, 274, 10139, 8, 4976, 18, 57, 3198, 11, 1, 625, 5440, 8, 31219, 392, 408, 2427, 31219, 11, 17429, 483, 27797, 495, 127, 7037, 129, 11, 55, 2415, 271, 5306, 3613, 8626, 11, 5204, 906, 1698, 8, 5440, 54, 4450, 3147, 8, 18, 57, 991, 4548, 11, 44149, 112, 3008, 54, 358, 8626, 483, 27797, 495, 129, 18, 44149, 8, 483, 27797, 495, 109506, 234, 2760, 483, 92921, 495, 79773, 3087, 112, 1, 12, 20122, 595, 9667, 595, 112, 1, 2998, 483, 1, 495, 1, 250, 650, 88223, 112, 1, 1960, 11, 1, 1, 12, 12573, 1, 1, 3539, 1271, 60590, 11, 1, 82, 1, 12, 1, 8, 1, 112, 9667, 3539, 2109, 40081, 18, 1, 724, 8015, 1, 18, 3087, 112, 1, 12, 20122, 595, 9667, 595, 112, 1, 39, 11, 483, 27797, 495, 54, 894, 1145, 10227, 107, 8, 274, 23786, 8, 18114, 345, 11, 894, 1974, 389, 1964, 413, 1726, 90, 234, 32, 34474, 4021, 11, 83295, 9208, 12158, 18, 4021, 11131, 88, 26818, 1882, 325, 88, 7119, 1882, 18, 1041, 5306, 16566, 1061, 244, 726, 483, 27797, 495, 8, 65842, 11, 40, 9682, 15748, 1, 472, 185, 1177, 8, 5564, 18, 29879, 112, 2376, 11, 483, 27797, 495, 5440, 27497, 11, 2760, 1, 67614, 11, 1, 82, 1, 57997, 18, 341, 5440, 32343, 112, 29879, 112, 2376, 40, 8626, 4649, 129, 11, 2925, 244, 112, 75, 112, 2376, 112, 1060, 112, 1685, 12614, 11, 2460, 40, 1, 129, 11, 1223, 1, 1, 12, 20266, 11, 32708, 45387, 18, 8590, 244, 7119, 4552, 3309, 248, 483, 27797, 495, 11131, 256, 11, 8475, 8, 7119, 13387, 291, 1, 109, 1, 111, 13949, 3440, 5203, 8, 12793, 2, 55, 34, 12091, 82, 98, 14591, 2732, 8, 13949, 8845, 17043, 8, 1, 11, 6494, 18677, 2223, 1882, 8626, 11, 358, 35895, 127, 358, 35895, 179, 272, 18677, 6848, 18, 57, 76464, 112, 29879, 112, 2376, 8, 3712, 353, 11, 1, 9682, 54, 3595, 8, 2, 7119, 13387, 271, 2223, 1, 11, 52048, 10, 112, 2901, 112, 5084, 11, 358, 8626, 1, 18, 7119, 1, 271, 358, 8626, 34, 8, 483, 1, 495, 18, 1, 4511, 129, 1, 11, 70013, 271, 22, 1, 22529, 1719, 68836, 10, 18, 7918, 8475, 157, 13916, 11, 9461, 3021, 5440, 54, 9041, 2732, 18, 991, 1, 78889, 9041, 2570, 2732, 1853, 58610, 11, 472, 185, 4450, 1507, 6924, 11, 85710, 4151, 1481, 11005, 8, 54, 2, 5440, 483, 27797, 495, 244, 1, 448, 16574, 389, 10958, 8, 1674, 4031, 68836, 11, 2327, 65729, 28581, 6023, 11, 20826, 1974, 18, 429, 414, 1702, 107, 13949, 8377, 4151, 11, 9682, 61612, 54, 2, 483, 31417], [58307, 8, 1, 11, 1467, 2720, 33473, 8, 1, 3415, 0, 31305, 1518, 21201, 55, 19202, 1, 57, 109, 7752, 2, 1, 111, 11, 9802, 2, 1, 11, 30268, 2, 1, 11, 22136, 7621, 1518, 48753, 112, 1, 18, 34, 1, 45889, 8, 4889, 11, 358, 7677, 5711, 1, 18, 483, 1, 495, 81953, 35673, 1390, 5084, 11, 1, 483, 1, 495, 1055, 8088, 40, 5944, 98, 129, 11, 34611, 483, 109374, 495, 2348, 42450, 19422, 617, 2116, 58279, 18, 1, 2980, 11, 26464, 47943, 11, 1, 3356, 1481, 12093, 55, 1, 57, 8, 9043, 129, 18, 2720, 12548, 1, 806, 245, 8733, 11, 362, 29886, 2348, 1, 55, 1, 21447, 1, 90, 57, 8, 57167, 51912, 18, 113, 1, 652, 157, 483, 1, 495, 11, 514, 1, 5850, 55, 4601, 32896, 1, 57, 18, 55, 1, 127, 1686, 57, 8, 1, 1, 11, 1840, 5203, 6541, 1, 129, 1, 8, 1, 18, 23189, 63024, 1, 652, 514, 1, 54622, 11, 1, 271, 55, 2223, 54, 1, 8, 57, 18, 1, 39417, 1, 2, 55, 4964, 43756, 514, 1, 3757, 11857, 11, 2223, 9459, 1, 11, 164, 1, 1, 129, 11, 2223, 9459, 2348, 67137, 14499, 129, 18, 57, 1, 1953, 2725, 11, 48875, 3554, 1672, 18, 26464, 1, 11, 572, 358, 62244, 7686, 18, 26464, 1774, 9617, 11, 11367, 5440, 127, 2415, 894, 8626, 8, 18, 84, 1, 1774, 1, 11, 272, 127, 13319, 6, 281, 271, 55, 1, 8314, 26464, 81869, 57, 18, 989, 1, 8, 5440, 1531, 35673, 7986, 244, 877, 1, 11, 1529, 2939, 1, 12, 1, 11, 991, 281, 5185, 54, 879, 1184, 7881, 34, 69443, 15554, 8, 5711, 32896, 18, 23635, 6747, 37, 11173, 65214, 23540, 11, 1, 26953, 3117

In [4]:
import json
import gensim
import os
import LAC
import tensorflow as tf
import numpy as np
import pandas as pd
import sklearn.utils

APP_DIR  = os.path.dirname(os.path.realpath('__file__'))

def trans_gensim_word2vec2tf_embedding(word2vector_file_path:str):
    """把gensim的word2vec结果转化为tf.keras.layers.Embedding需要的结果
    """

    word2vec_model = gensim.models.Word2Vec.load(word2vector_file_path)

    #所有的词
    word_list = [word for word, word_info in word2vec_model.wv.vocab.items()]

    #词到index的映射
    word2index_dict = {"<PADDING>": 0, "<UNK>":1}

    #保存特殊词的padding
    specical_word_count = len(word2index_dict)

    #词到词向量的映射
    word2vector_dict = {}

    #初始化embeddings_matrix

    embeddings_matrix = np.zeros((len(word_list) + specical_word_count, word2vec_model.vector_size))
    #初始化unk为-1,1分布
    embeddings_matrix[word2index_dict["<UNK>"]] = (1 / np.sqrt(len(word_list) + specical_word_count) * (2 * np.random.rand(word2vec_model.vector_size) - 1))

    for i,word in enumerate(word_list):
        #从0开始
        word_index = i + specical_word_count
        word2index_dict[str(word)] = word_index
        word2vector_dict[str(word)] = word2vec_model.wv[word] # 词语：词向量
        embeddings_matrix[word_index] = word2vec_model.wv[word]  # 词向量矩阵

    #写入文件
    with open(os.path.join(APP_DIR,"data","word2index.json"),"w",encoding="utf8") as f:
        json.dump(word2index_dict,f,ensure_ascii=False)

    return embeddings_matrix,word2vector_dict,word2index_dict


def trans2index(word2index_dict,word):
    """转换"""
    if word in word2index_dict:
        return word2index_dict[word]
    else:
        if "<UNK>" in word2index_dict:
            return word2index_dict["<UNK>"]
        else:
            raise ValueError("没有这个值，请检查")


# def trans_data2tf_data(data_file_path:str,x_max_length:int=None,word2index_dict=None):
#     """把data文件转化为tf.data
#     """

#     tag2index_dict = {}
#     tag_index_count = len(tag2index_dict)
#     lac = LAC.LAC(mode="seg")

#     df = pd.read_csv(data_file_path)

#     x_list = []
#     for doc in df["content"]:
#         word_list = lac.run(doc)
#         x_list.append([trans2index(word2index_dict,word) for word in word_list])
#     x_npa = np.array(x_list)

#     y_list = []
#     for tag in df["tag"]:
#         tag = tag.strip()
#         if not (tag in tag2index_dict):
#             tag2index_dict[tag] = tag_index_count
#             tag_index_count += 1
#         y_list.append(tag2index_dict[tag])
#     y_npa = np.array(y_list,dtype=np.uint8)

#     print("x_list[:1]:{}".format(x_list[:1]))
#     print("y_list[:1]:{}".format(y_list[:1]))

#     #写入文件
#     with open(os.path.join(APP_DIR,"data/tag2index.json"),"w",encoding="utf8") as f:
#         json.dump(tag2index_dict,f,ensure_ascii=False)

#     if not x_max_length:
#         x_max_length0 = np.max(np.array([len(v) for v in x_list]))
#         x_max_length = int(np.max(np.percentile(np.array([len(v) for v in x_list]),99.7)))
#         print("数据集中最长的句子长度为:{},设定的最长的句子长度为:{}".format(x_max_length0,x_max_length))

#     x_npa = tf.keras.preprocessing.sequence.pad_sequences(x_npa,maxlen=x_max_length,dtype=np.int32,truncating="post", padding='post',value=0)

#     x_npa,y_npa = sklearn.utils.shuffle(x_npa,y_npa,random_state=0)
#     print("x_npa[:1]:{}".format(x_npa[:1]))
#     print("y_npa[:1]:{}".format(y_npa[:1]))
#     print("x_npa.shape = {}".format(x_npa.shape))
#     print("y_npa.shape = {}".format(y_npa.shape))

#     return x_npa,y_npa,tag2index_dict



# def trans_tokenize_data2tf_data(data_file_path:str,x_max_length:int=None,word2index_dict=None):
#     """把已经分好词的data文件转化为tf.data
#     """

#     tag2index_dict = {}
#     tag_index_count = len(tag2index_dict)
#     lac = LAC.LAC(mode="seg")

#     x_list = []
#     y_list = []
#     with open(data_file_path) as f:
#         for line in f:
#             temp_dict = json.loads(line.strip())
#             word_list = temp_dict["content_tokenize"]
#             tag = temp_dict["tag"].strip()
#             if not (tag in tag2index_dict):
#                 tag2index_dict[tag] = tag_index_count
#                 tag_index_count += 1
#             x_list.append([trans2index(word2index_dict,word) for word in word_list])
#             y_list.append(tag2index_dict[tag])
#     x_npa = np.array(x_list)
#     y_npa = np.array(y_list,dtype=np.uint8)

#     print("x_list[:1]:{}".format(x_list[:1]))
#     print("y_list[:1]:{}".format(y_list[:1]))

#     #写入文件
#     with open(os.path.join(APP_DIR,"data/tag2index.json"),"w",encoding="utf8") as f:
#         json.dump(tag2index_dict,f,ensure_ascii=False)

#     if not x_max_length:
#         x_max_length0 = np.max(np.array([len(v) for v in x_list]))
#         x_max_length = int(np.max(np.percentile(np.array([len(v) for v in x_list]),99.7)))
#         print("数据集中最长的句子长度为:{},设定的最长的句子长度为:{}".format(x_max_length0,x_max_length))

#     x_npa = tf.keras.preprocessing.sequence.pad_sequences(x_npa,maxlen=x_max_length,dtype=np.int32,truncating="post", padding='post',value=0)

#     x_npa,y_npa = sklearn.utils.shuffle(x_npa,y_npa,random_state=0)
#     print("x_npa[:1]:{}".format(x_npa[:1]))
#     print("y_npa[:1]:{}".format(y_npa[:1]))
#     print("x_npa.shape = {}".format(x_npa.shape))
#     print("y_npa.shape = {}".format(y_npa.shape))

#     return x_npa,y_npa,tag2index_dict


def trans_multi_input_tokenize_data2npa(data_file_path:str,x_max_length:int=None,word2index_dict=None):
    """把已经分好词的data文件转化为tf.data , 多输入版本
    """

    tag2index_dict = {}
    tag_index_count = len(tag2index_dict)

    x_list = []
    y_list = []
    with open(data_file_path) as f:
        for line in f:
            temp_dict = json.loads(line.strip())
            text_tokenize_list = temp_dict["all_content_tokenize"]
            tag = temp_dict["tag"].strip()
            if not (tag in tag2index_dict):
                tag2index_dict[tag] = tag_index_count
                tag_index_count += 1
            x_list.append([[trans2index(word2index_dict,word) for word in word_list] for word_list in text_tokenize_list])
            y_list.append(tag2index_dict[tag])
    y_npa = np.array(y_list,dtype=np.uint8)

    print("x_list[:1]:{}".format(x_list[:1]))
    print("y_list[:1]:{}".format(y_list[:1]))

    #写入文件
    with open(os.path.join(APP_DIR,"data/tag2index.json"),"w",encoding="utf8") as f:
        json.dump(tag2index_dict,f,ensure_ascii=False)

    if not x_max_length:
        x_max_length0 = np.max(np.array([len(v) for v in x_list]))
        x_max_length = int(np.max(np.percentile(np.array([len(v) for v in x_list]),99.7)))
        print("数据集中最长的句子长度为:{},设定的最长的句子长度为:{}".format(x_max_length0,x_max_length))
    
    for i in range(len(x_list)):
        x_list[i] = tf.keras.preprocessing.sequence.pad_sequences(x_list[i],maxlen=x_max_length,dtype=np.int32,truncating="post", padding='post',value=0)
    x_npa = np.array(x_list,dtype=np.int32)

    x_npa,y_npa = sklearn.utils.shuffle(x_npa,y_npa,random_state=0)
    print("x_npa[:1]:{}".format(x_npa[:1]))
    print("y_npa[:1]:{}".format(y_npa[:1]))
    print("x_npa.shape = {}".format(x_npa.shape))
    print("y_npa.shape = {}".format(y_npa.shape))

    return x_npa,y_npa,tag2index_dict

In [2]:
import json
import gensim
import os
import LAC
import tensorflow as tf
import numpy as np
import pandas as pd
import sklearn.utils
import time
import collections
import sklearn.model_selection

APP_DIR  = os.path.dirname(os.path.realpath('__file__'))
class Number_Transform(object):
    
    def trans_gensim_word2vec2tf_embedding(self,word2vector_file_path):
        """把gensim的word2vec结果转化为tf.keras.layers.Embedding需要的结果
        """
        word2vec_model = gensim.models.Word2Vec.load(word2vector_file_path)
        #所有的词
        word_list = [word for word, word_info in word2vec_model.wv.vocab.items()]
        #词到index的映射
        word2index_dict = {"<PADDING>": 0, "<UNK>":1}
        #保存特殊词的padding
        specical_word_count = len(word2index_dict)
        #词到词向量的映射
        word2vector_dict = {}
        #初始化embeddings_matrix
        embeddings_matrix = np.zeros((len(word_list) + specical_word_count, word2vec_model.vector_size))
        #初始化unk为-1,1分布
        embeddings_matrix[word2index_dict["<UNK>"]] = (1 / np.sqrt(len(word_list) + specical_word_count) * (2 * np.random.rand(word2vec_model.vector_size) - 1))
        for i,word in enumerate(word_list):
            #从0开始
            word_index = i + specical_word_count
            word2index_dict[str(word)] = word_index
            word2vector_dict[str(word)] = word2vec_model.wv[word] # 词语：词向量
            embeddings_matrix[word_index] = word2vec_model.wv[word]  # 词向量矩阵
        #写入文件
        with open(os.path.join(APP_DIR,"data","word2index.json"),"w",encoding="utf8") as f:
            json.dump(word2index_dict,f,ensure_ascii=False)
        return embeddings_matrix,word2vector_dict,word2index_dict


    def trans2index(self,word2index_dict,word):
        """转换"""
        if word in word2index_dict:
            return word2index_dict[word]
        else:
            if "<UNK>" in word2index_dict:
                return word2index_dict["<UNK>"]
            else:
                raise ValueError("没有这个值，请检查")

    def trans_multi_input_tokenize_data2npa(self,data_file_path,x_max_length,word2index_dict):
        """把已经分好词的data文件转化为tf.data , 多输入版本
        """
        tag2index_dict = {}
        tag_index_count = len(tag2index_dict)
        x_list = []
        y_list = []
        with open(data_file_path) as f:
            for line in f:
                temp_dict = json.loads(line.strip())
                text_tokenize_list = temp_dict["all_content_tokenize"]
                tag = temp_dict["tag"].strip()
                if not (tag in tag2index_dict):
                    tag2index_dict[tag] = tag_index_count
                    tag_index_count += 1
                x_list.append([[Number_Transform.trans2index(self,word2index_dict,word) for word in word_list] for word_list in text_tokenize_list])
                y_list.append(tag2index_dict[tag])
        y_npa = np.array(y_list,dtype=np.uint8)

      #  print("x_list[:1]:{}".format(x_list[:1]))
      #  print("y_list[:1]:{}".format(y_list[:1]))

        #写入文件
        with open(os.path.join(APP_DIR,"data/tag2index.json"),"w",encoding="utf8") as f:
            json.dump(tag2index_dict,f,ensure_ascii=False)

        if not x_max_length:
            x_max_length0 = np.max(np.array([len(v) for v in x_list]))
            x_max_length = int(np.max(np.percentile(np.array([len(v) for v in x_list]),99.7)))
            print("数据集中最长的句子长度为:{},设定的最长的句子长度为:{}".format(x_max_length0,x_max_length))

        for i in range(len(x_list)):
            x_list[i] = tf.keras.preprocessing.sequence.pad_sequences(x_list[i],maxlen=x_max_length,dtype=np.int32,truncating="post", padding='post',value=0)
        x_npa = np.array(x_list,dtype=np.int32)

        x_npa,y_npa = sklearn.utils.shuffle(x_npa,y_npa,random_state=0)
    #     print("x_npa[:1]:{}".format(x_npa[:1]))
    #     print("y_npa[:1]:{}".format(y_npa[:1]))
    #     print("x_npa.shape = {}".format(x_npa.shape))
    #     print("y_npa.shape = {}".format(y_npa.shape))

        return x_npa,y_npa,tag2index_dict

    def out_x_y(self,input_number,sentence_maxlen,data_jsonl,word2vector_file_path):

        input_number = input_number
        #句子的最大长度
        sentence_maxlen = sentence_maxlen

       # data_jsonl = r"/mnt/d/zourui/predict_user_attribute20201214/age/raw_data/user_profile/position/最终数据集tokenize8.jsonl"
        #word2vec路径
        #word2vector_file_path = os.path.join(APP_DIR,"data","word2vector.bin")
        word2vector_file_path = word2vector_file_path

        #导入gensim的word2vector
        embedding_matrix,word2vector_dict,word2index_dict = Number_Transform.trans_gensim_word2vec2tf_embedding(self,word2vector_file_path)
        vocab_size,embedding_dim = embedding_matrix.shape

        #x_npa,y_npa,tag2index_dict = trans_data2tf_data(data_csv,sentence_maxlen,word2index_dict)
        x_npa,y_npa,tag2index_dict = Number_Transform.trans_multi_input_tokenize_data2npa(self,data_jsonl,sentence_maxlen,word2index_dict)
        class_weight_dict = {tag:np.sqrt(len(y_npa)/number) for tag,number in enumerate(np.bincount(y_npa))}
        tag_size = len(tag2index_dict)
        print('转换完毕！')
        return x_npa,y_npa

In [3]:
data_jsonl = r"/mnt/d/zourui/predict_user_attribute20201214/age/raw_data/user_profile/position/最终数据集tokenize8.jsonl"
word2vector_file_path = r"/home/zourui/data/dim256/word2vector.bin"
input_number = 10
sentence_maxlen = 512
nt = Number_Transform()
x_npa,y_npa = nt.out_x_y(input_number,sentence_maxlen,data_jsonl,word2vector_file_path)

转换完毕！

In [2]:
import os
import time
import collections
import sklearn.model_selection
import gensim
import numpy as np
import tensorflow as tf
#from utils import trans_gensim_word2vec2tf_embedding,trans_data2tf_data,trans_tokenize_data2tf_data,trans_multi_input_tokenize_data2npa
#from model_multi_textcnn import build_model

APP_DIR  = os.path.dirname(os.path.realpath('__file__'))
if not os.path.exists(os.path.join(APP_DIR,"data")):
    os.makedirs(os.path.join(APP_DIR,"data"))

if __name__ == "__main__":

    input_number = 10
    #句子的最大长度
    sentence_maxlen = 512

    data_jsonl = r"/mnt/d/zourui/predict_user_attribute20201214/age/raw_data/user_profile/position/最终数据集tokenize8.jsonl"
    #word2vec路径
    #word2vector_file_path = os.path.join(APP_DIR,"data","word2vector.bin")
    word2vector_file_path = r"/home/zourui/data/dim256/word2vector.bin"

    #导入gensim的word2vector
    embedding_matrix,word2vector_dict,word2index_dict = trans_gensim_word2vec2tf_embedding(word2vector_file_path)
    vocab_size,embedding_dim = embedding_matrix.shape

    #x_npa,y_npa,tag2index_dict = trans_data2tf_data(data_csv,sentence_maxlen,word2index_dict)
    x_npa,y_npa,tag2index_dict = trans_multi_input_tokenize_data2npa(data_jsonl,sentence_maxlen,word2index_dict)
    class_weight_dict = {tag:np.sqrt(len(y_npa)/number) for tag,number in enumerate(np.bincount(y_npa))}
    tag_size = len(tag2index_dict)

x_list[:1]:[[[64145, 60511, 11, 32049, 1674, 6, 129, 0, 31305, 9802, 2, 1, 11, 22136, 7621, 1518, 2, 28247, 341, 54, 12126, 11, 1006, 11786, 39276, 11, 1, 18, 1, 20828, 15290, 8973, 692, 11, 244, 341, 740, 8909, 112, 67716, 4256, 98, 11, 463, 2732, 129, 1583, 15550, 24570, 11, 21143, 19024, 389, 55, 14236, 57, 18, 11367, 54, 60511, 8, 14236, 6205, 11, 281, 1669, 19591, 245, 2897, 341, 740, 4256, 18, 40, 244, 20139, 11, 21560, 1036, 54, 5066, 274, 17043, 1380, 103, 8, 2361, 1, 18, 15357, 281, 128, 5649, 102, 20681, 8, 11, 54, 10361, 1333, 8479, 8, 33166, 18, 60511, 514, 71010, 76381, 8, 13568, 11, 32049, 4197, 6227, 12447, 3898, 6725, 103, 8, 291, 11, 991, 7631, 2585, 5203, 8, 2065, 18, 2789, 11367, 28422, 14236, 8, 15550, 24570, 2793, 11, 4155, 4450, 1507, 8, 6924, 1763, 11, 32049, 12552, 388, 3595, 1583, 2993, 2, 21421, 281, 883, 128, 6725, 103, 8, 1, 11, 991, 5203, 2502, 1, 60511, 11, 6, 281, 21560, 24034, 291, 1, 1, 18, 32049, 535, 12793, 3613, 50327, 11, 5649, 14521, 535, 5221, 15148, 18, 21421, 244, 1, 8, 1015, 11, 5649, 7827, 1011, 19136, 18311, 11, 128, 914, 796, 98, 13213, 1011, 47267, 8, 44, 11, 5649, 127, 128, 5223, 274, 12237, 8, 835, 11, 1152, 32049, 8, 12793, 2002, 782, 18, 1, 3591, 16365, 32049, 28142, 5649, 93324, 8, 3901, 11, 991, 894, 16636, 11, 244, 32049, 8, 747, 248, 11, 5649, 4, 11567, 60511, 12161, 8, 731, 2314, 514, 1, 53459, 11, 128, 1348, 689, 1, 82, 689, 2416, 8, 871, 71, 18, 32049, 28142, 5649, 114, 11, 8909, 112, 1316, 345, 333, 8, 4835, 343, 11, 535, 1866, 15973, 18684, 731, 11, 32049, 2219, 12182, 8, 8909, 112, 21025, 11, 127, 1669, 38106, 8, 9621, 8100, 1882, 1757, 1, 18, 4894, 32, 26455, 41575, 8, 5156, 112, 1, 514, 34591, 11, 244, 332, 8, 14495, 127, 725, 12793, 18, 341, 1840, 32049, 4024, 129, 13631, 442, 1682, 8, 12591, 4870, 18, 17804, 11, 818, 5649, 1866, 6, 5649, 244, 1, 8, 731, 1653, 257, 7569, 313, 26497, 11, 32049, 9502, 248, 8, 5649, 4, 542, 88, 6190, 179, 1761, 8, 556, 11, 5171, 19384, 2832, 8, 4613, 871, 2976, 11, 1840, 25, 6, 32049, 2784, 856, 18, 36697, 11, 12126, 32049, 15357, 60511, 256, 11, 5649, 7827, 92, 12439, 11, 991, 28142, 5335, 433, 11, 77, 5976, 11, 5649, 673, 1011, 47321, 7827, 11, 4626, 4476, 333, 11, 341, 475, 2230, 15290, 4865, 129, 17278, 18, 341, 2415, 754, 16212, 7287, 8, 4892, 18, 3326, 47433, 7765, 85181, 1964, 41588, 90, 16729, 8, 1, 11, 244, 3898, 291, 8, 50936, 11883, 11, 3326, 8, 7827, 88, 1, 2408, 179, 1, 313, 1, 15357, 25384, 28142, 11613, 8, 13568, 11, 103, 7827, 88, 23489, 315, 308, 1, 11, 1327, 281, 8, 8675, 1840, 11613, 7827, 153, 129, 2101, 18, 651, 9942, 1406, 46715, 32049, 341, 24655, 11, 88, 689, 3777, 8, 1, 91, 11, 32049, 7806, 883, 128, 274, 17043, 8, 1, 11, 245, 472, 475, 18, 12929, 11, 244, 254, 12450, 255, 256, 11, 32049], [4495, 11643, 11, 17079, 2196, 865, 2754, 30014, 1993, 0, 31305, 1518, 21201, 2, 1, 109, 7752, 2, 1, 15053, 111, 11, 9802, 2, 1, 11, 30268, 2, 1, 82, 1, 11, 41389, 6177, 2, 483, 4495, 11643, 11, 17079, 2196, 1, 30014, 86437, 112, 1, 1993, 2, 26295, 2178, 1, 495, 11, 22136, 7621, 1518, 2, 28247, 155, 877, 65512, 12, 112, 4490, 112, 11541, 3873, 11, 1583, 284, 8800, 4016, 129, 18, 4552, 11, 5542, 54, 244, 8314, 9264, 11, 17079, 2361, 89223, 467, 68643, 237, 129, 1489, 9614, 865, 2754, 30014, 112, 74020, 112, 86437, 112, 593, 112, 345, 8, 12161, 2946, 19735, 112, 74020, 112, 86437, 112, 1, 82, 86437, 112, 1, 82, 86437, 112, 1, 18, 55, 3550, 4495, 2502, 31452, 11, 89222, 2706, 112, 32116, 112, 7066, 35741, 8, 3574, 11, 57, 89223, 11420, 18, 55, 88, 2706, 82, 9903, 4650, 2763, 82, 48397, 82, 3006, 82, 21974, 82, 1, 112, 107531, 82, 1, 82, 17924, 82, 27132, 82, 1761, 12, 1845, 7829, 7829, 112, 272, 244, 888, 3880, 49107, 112, 32116, 112, 8, 4495, 11, 16, 196, 129, 2358, 1535, 18, 57, 36810, 2, 1, 100517, 6750, 14157, 433, 37, 12794, 18, 485, 6663, 237, 11, 2926, 6695, 37, 1839, 72, 7260, 8085, 18, 991, 7490, 1519, 7433, 8, 2679, 112, 74020, 112, 86437, 112, 593, 112, 345, 8, 4495, 514, 7740, 18, 1964, 6323, 68495, 8, 54694, 2679, 11, 514, 112, 1, 112, 16895, 2885, 11, 991, 4011, 1864, 129, 4943, 18, 84, 112, 1, 112, 689, 54, 112, 32116, 112, 67, 8, 1, 11, 89223, 39, 472, 81, 112, 1, 109, 93731, 112, 1, 111, 18, 2120, 1, 32116, 8, 9926, 622, 127, 3493, 146, 244, 129, 17079, 34, 2241, 98, 2, 8920, 2196, 112, 32116, 244, 4364, 2310, 82, 51603, 19906, 8, 1622, 1, 433, 11, 89223, 8866, 88, 36079, 100517, 6750, 8, 1, 433, 11, 6638, 129, 129, 8483, 112, 86437, 112, 1, 11, 819, 752, 2826, 112, 1, 112, 345, 18, 33430, 11, 74020, 112, 86437, 112, 593, 112, 345, 12171, 5181, 129, 112, 32116, 112, 753, 8, 5098, 55, 1247, 57, 2, 2752, 9361, 112, 1, 112, 1, 112, 1, 8, 5558, 24778, 1861, 313, 1676, 439, 112, 1, 112, 18711, 112, 8, 112, 32116, 11, 8483, 30014, 2254, 196, 112, 1, 112, 906, 26737, 1010, 112, 1, 112, 5558, 313, 1676, 439, 112, 1, 112, 1, 8, 3092, 112, 32116, 11, 196, 741, 689, 2570, 8, 14548, 44627, 2542, 19843, 8, 1, 18, 274, 1, 8, 112, 74020, 112, 86437, 112, 1, 11, 1537, 2502, 358, 88, 1, 1763, 15465, 18, 86437, 112, 1, 112, 54, 5223, 5061, 112, 37262, 112, 5558, 112, 32116, 18, 6870, 6494, 112, 37262, 325, 244, 17079, 4628, 11, 19843, 8, 1307, 1588, 1840, 13170, 682, 2468, 3549, 1, 11, 1840, 13976, 4009, 57741, 892, 60880, 8, 5558, 12477, 11, 1553, 1840, 7484, 2468, 7807, 11, 9352, 42208, 82, 70161, 1, 12, 33169, 34075, 18, 5548, 30014, 689, 20321, 112, 1, 112, 345, 11, 1306, 98, 9614, 55, 249, 66, 148, 57, 8, 63226, 30014, 112, 74020, 112, 86437, 112, 1, 112, 1], [73706, 6870, 1046, 3289, 325, 0, 31305, 1518, 10361, 13527, 2, 1, 871, 401, 109, 7752, 2, 1, 111, 11, 9802, 2, 235, 1, 82, 1, 11, 22136, 7621, 1518, 2, 28247, 11172, 11, 8377, 1623, 55, 11437, 73706, 57, 8, 4151, 11, 244, 3712, 98, 5831, 129, 2119, 8, 32225, 18, 4892, 8, 29015, 54, 3869, 38204, 244, 1320, 98, 18635, 692, 129, 11437, 8, 73706, 343, 11, 1, 7697, 1952, 1, 11, 3520, 245, 19400, 18, 21560, 38204, 10539, 2, 13949, 12982, 8, 1, 1, 1964, 325, 346, 6522, 55, 1, 57, 8, 493, 11, 1, 45836, 46493, 18, 13955, 244, 3440, 346, 3237, 256, 11, 3236, 5473, 55, 4713, 1711, 57, 55, 378, 37, 1, 57, 11, 52532, 67, 129, 11552, 13291, 8, 5532, 11, 22112, 11437, 73706, 22112, 6498, 244, 4151, 445, 14195, 2258, 8, 11129, 151, 11, 211, 95712, 401, 11, 689, 520, 1484, 535, 19758, 8, 55, 24070, 9565, 57, 3415, 26183, 179, 129, 5695, 25672, 18, 475, 82, 73706, 37, 463, 3289, 325, 21, 34, 1090, 1, 8, 1928, 1244, 896, 1, 11, 2034, 129, 877, 895, 8, 1928, 5971, 18098, 967, 50, 11, 73706, 2376, 3160, 1, 18, 991, 34, 1928, 14486, 73706, 8, 796, 1333, 1507, 18, 87151, 11, 34, 88, 4144, 2830, 129, 34728, 73706, 9656, 11, 991, 73706, 22709, 1731, 3289, 129, 11, 74522, 73706, 358, 6207, 1, 11, 633, 8475, 141, 1928, 781, 244, 654, 2760, 1, 30080, 8, 1, 18, 28127, 16899, 11, 73706, 7063, 819, 244, 980, 31812, 6740, 18, 8475, 11, 65136, 16117, 36753, 2178, 248, 52188, 1, 483, 1, 495, 8, 1, 2330, 11, 244, 716, 7913, 8156, 50, 18, 147, 11, 3155, 698, 1326, 2283, 2283, 20204, 8, 1, 82, 1, 8, 1, 82, 1, 8, 1, 12, 1, 8, 91071, 11, 127, 7156, 191, 34, 50, 18, 333, 11, 2010, 235, 352, 6758, 116, 12, 1928, 3767, 396, 7285, 8, 120, 1307, 11, 73706, 82, 1, 82, 1, 244, 34, 50, 8, 17360, 120, 1307, 11, 131, 73706, 8, 17360, 724, 1239, 178, 11, 341, 155, 1360, 1928, 396, 3288, 54, 24466, 8, 8358, 18, 991, 1346, 16505, 650, 1076, 198, 414, 1138, 1, 279, 8, 4889, 11, 73706, 8820, 4668, 967, 819, 129, 1235, 8, 55, 865, 557, 57, 3413, 18, 21, 22283, 8, 73706, 11, 1041, 741, 52048, 622, 81, 2970, 11, 1322, 12629, 1, 73706, 109, 1138, 10275, 36678, 111, 82, 1, 73706, 109, 10275, 8933, 27973, 36678, 111, 12, 5476, 73706, 109, 1657, 27973, 36678, 111, 18, 27162, 1054, 2, 7621, 67, 8, 55, 1, 57, 1634, 81, 55, 1, 57, 7567, 3498, 1928, 8, 1, 81, 21573, 11, 13978, 90, 2288, 4846, 11, 12542, 1894, 2909, 4846, 6744, 9569, 73706, 11, 1046, 21560, 1928, 4843, 976, 654, 1, 1, 83, 95, 1, 1964, 73706, 18, 741, 1, 1894, 8733, 10275, 82, 14277, 1964, 73706, 1894, 8733, 26520, 1242, 11, 341, 7744, 1928, 4843, 976, 21396, 41265, 11, 4228, 1, 4108, 81, 6550, 11, 3192, 2679, 64519, 18, 1041, 6744, 33232, 2542, 82, 73706, 622, 689, 3289, 82, 1, 7761, 11, 21396, 6927, 2542, 18, 2883], [48001, 3560, 8, 4467, 4216, 1, 129, 325, 0, 1061, 3560, 8, 4467, 68810, 9805, 4216, 11, 8866, 40, 55, 535, 57, 1, 129, 18, 496, 11, 4680, 244, 20371, 1211, 67, 675, 11, 5223, 2336, 2678, 274, 1728, 8, 69697, 4216, 472, 475, 2283, 2283, 63051, 514, 85949, 748, 3383, 527, 2336, 8, 93058, 76, 1, 883, 8134, 235, 899, 8018, 18, 125, 1211, 10199, 11, 874, 2183, 6799, 11, 34, 514, 6715, 13, 25121, 7154, 8, 6070, 1036, 810, 32, 4250, 21110, 4918, 8, 873, 313, 118, 11, 125, 4216, 1036, 1333, 11535, 10458, 4216, 2793, 403, 18, 12571, 11, 341, 475, 2648, 6949, 2317, 325, 63051, 8, 68810, 4216, 1489, 2678, 1673, 7000, 325, 855, 4250, 1, 129, 325, 1322, 4962, 8, 54, 11, 63051, 8, 108379, 6930, 245, 4631, 659, 25578, 6715, 1648, 4250, 4918, 18, 8590, 244, 7032, 6715, 2675, 1, 15290, 646, 11, 112864, 109, 1, 111, 724, 514, 63051, 15, 527, 11, 4799, 2971, 514, 1, 8, 1583, 774, 3383, 17023, 244, 17319, 148, 235, 95419, 819, 4250, 4918, 11, 448, 886, 1281, 244, 762, 2301, 3718, 21110, 774, 18, 1047, 2454, 11, 125, 784, 234, 128, 6715, 3812, 71571, 4250, 4918, 18, 2205, 13063, 11, 1, 414, 1056, 257, 2, 55, 1041, 4216, 535, 3765, 403, 11, 1046, 762, 47323, 4645, 244, 6715, 45, 4368, 11, 1280, 5909, 3789, 1083, 27443, 308, 1, 18, 57, 21421, 54, 12669, 6, 11661, 188, 23692, 17867, 8, 3015, 11, 127, 1, 6715, 1273, 6, 1, 8, 2888, 18, 1537, 11, 341, 514, 63051, 2816, 1, 514, 6715, 3356, 8, 9154, 3093, 127, 1, 18, 1, 35611, 3332, 17852, 78001, 11, 1, 1056, 244, 1, 1982, 6858, 11, 38244, 129, 6715, 61224, 18, 12571, 1437, 4195, 1076, 433, 11, 6715, 33542, 9034, 821, 2775, 11, 341, 7964, 4216, 55, 14, 1743, 34, 571, 715, 25578, 6715, 57, 11, 84, 1, 244, 4716, 164, 335, 6695, 18300, 18, 4680, 244, 1211, 67, 414, 2294, 11, 10470, 11, 1, 244, 8604, 67, 31, 129, 341, 475, 6166, 11, 448, 257, 12552, 3585, 125, 527, 11, 234, 4799, 7870, 308, 10458, 4216, 8907, 47217, 18, 40, 244, 14984, 11, 6715, 724, 8127, 514, 1, 69377, 12, 25182, 109, 514, 87304, 2799, 3850, 111, 4194, 11, 741, 395, 6715, 71571, 8, 1440, 18, 43892, 234, 63051, 12, 6715, 527, 4779, 8, 874, 8221, 81, 55, 34, 1, 78, 8, 1, 57, 11, 448, 39, 341, 54, 1, 244, 255, 67, 1145, 10199, 8, 18, 1727, 2641, 22818, 234, 3645, 9692, 81, 32037, 1032, 2585, 8, 69045, 18, 5366, 11, 63051, 244, 11519, 237, 705, 4169, 39, 11, 1, 514, 103, 8, 527, 7631, 4779, 313, 4178, 6923, 6924, 148, 11, 103, 6874, 7631, 254, 24, 485, 4216, 244, 6715, 4250, 4918, 850, 8, 255, 18, 280, 244, 623, 4628, 11, 346, 527, 12621, 54, 9120, 129, 18, 991, 18715, 514, 6715, 8, 527, 4779, 11, 1588, 6, 63051, 8, 4250, 21110, 679, 1482, 1603, 810, 14248, 325, 7781, 4978, 18, 496, 11, 63051, 20480, 55823, 244, 2113, 1303, 1380, 2898, 98, 127, 3899, 11, 103, 4, 514, 463, 464, 461, 2799], [17764, 17760, 819, 31245, 325, 0, 28628, 11, 24040, 237, 129, 877, 2752, 1, 248, 48493, 4835, 2283, 2283, 52711, 52712, 112, 7486, 11, 13763, 129, 13949, 5585, 8, 530, 1912, 427, 729, 11, 1, 52712, 112, 7486, 8801, 12148, 14327, 2720, 1716, 20130, 1974, 13880, 325, 1, 362, 463, 271, 11, 272, 1376, 91, 4835, 11, 52712, 112, 7486, 17764, 81, 1, 2255, 32370, 11, 48493, 456, 1565, 4844, 23912, 8, 1, 18, 1841, 244, 1961, 12, 74, 13, 8263, 404, 11, 52712, 112, 7486, 5709, 12609, 8, 15707, 15708, 1899, 4844, 11, 4844, 56497, 1961, 11, 1, 18, 3519, 48397, 572, 5709, 906, 8769, 25450, 48397, 2763, 18, 48493, 456, 414, 5709, 129, 2201, 31781, 2773, 19845, 17763, 8, 5284, 11, 1322, 244, 2134, 8, 1176, 248, 244, 74, 2976, 12, 1961, 2976, 248, 13476, 1774, 3909, 14540, 185, 1, 11, 341, 16892, 248, 17760, 18715, 54, 54685, 129, 112, 18, 29225, 11, 5548, 4835, 318, 1819, 2632, 11, 1728, 2405, 2574, 76139, 8, 6938, 1882, 15747, 14077, 833], [15708, 17987, 2827, 10596, 0, 7143, 4563, 1, 401, 109, 7752, 2, 1, 111, 9802, 4563, 71288, 741, 1, 11, 30268, 4563, 1, 311, 1, 1, 4563, 1, 15708, 8, 622, 11, 315, 315, 27531, 883, 1259, 4106, 18, 31901, 762, 3405, 8, 5048, 82, 13455, 4299, 4515, 50, 27171, 15707, 11, 22457, 750, 11, 7063, 1912, 1753, 129, 193, 413, 8, 4799, 18, 12571, 11, 414, 9041, 26339, 15708, 622, 88, 4025, 3932, 11, 126, 88, 23534, 1, 11, 100921, 11, 6746, 8, 877, 56097, 22457, 15708, 71, 11, 1589, 1669, 4502, 1400, 7832, 11, 535, 18236, 129, 815, 32706, 8, 38, 18, 4271, 3191, 70283, 11, 11958, 127, 1056, 54, 25965, 8, 55955, 472, 4510, 2, 28127, 16899, 8, 141, 62429, 32211, 644, 472, 475, 313, 16859, 244, 15704, 82, 10065, 472, 185, 11, 244, 1195, 40, 5377, 46957, 22457, 4502, 1400, 8, 1, 18, 9454, 2986, 1481, 38760, 11, 1, 8, 100921, 11, 1588, 244, 19172, 433, 1016, 433, 41623, 8344, 18, 280, 11, 11958, 8, 263, 11, 448, 2415, 34, 15708, 750, 8, 263, 18, 14294, 11, 1184, 8, 15708, 472, 13529, 11, 11958, 2421, 34, 15708, 750, 1, 11, 2358, 15708, 2505, 88, 3405, 6919, 188, 11, 179, 37187, 17980, 11, 1774, 179, 34, 1408, 8, 107909, 18, 2462, 32833, 11958, 8, 4515, 11, 572, 752, 6289, 389, 877, 15708, 750, 88, 4144, 179, 3405, 11, 1774, 88, 3405, 179, 34, 8, 1074, 88305, 11, 752, 2760, 15704, 514, 10065, 1, 27815, 98, 129, 1, 18, 26899, 595, 112, 1, 1899, 877, 895, 8, 9824, 12968, 379, 11, 1195, 11, 877, 53, 8, 62429, 7066, 1, 112, 25443, 112, 8788, 18, 5204, 5542, 244, 1, 11, 9824, 15708, 12795, 378, 379, 14376, 5403, 82, 4409, 82, 2134, 333, 6671, 859, 23829, 12440, 11, 10122, 2068, 1, 18, 877, 3789, 535, 3405, 82, 34, 9931, 1553, 4144, 9436, 4693, 5250, 18, 1, 11, 414, 362, 31812, 12520, 5387, 1, 11, 7490, 92092, 9256, 8, 11, 12166, 2502, 12520, 5387, 2570, 16892, 18, 11176, 1, 11, 20568, 1220, 11, 3919, 12, 5612, 9999, 646, 11, 461, 234, 465, 439, 46957, 2258, 46960, 76, 22457, 15708, 9656, 18, 830, 389, 426, 15803, 11, 7743, 1518, 4144, 8, 1, 64743, 2283, 2283, 1195, 4207, 11, 11958, 646, 741, 53025, 254, 73547, 41128, 31253, 15708, 4368, 530, 1553, 1, 8, 3667, 18, 155, 4552, 4029, 107, 8132, 5980, 846, 8, 11958, 3873, 11, 1, 2418, 2178, 8377, 73547, 1504, 40, 11421, 8, 46957, 1400, 11, 448, 3613, 37516, 7326, 288, 26032, 8, 2224, 18, 244, 8475, 11, 1, 47518, 883, 128, 50, 8, 2427, 866, 11, 12571, 73547, 2530, 40, 3783, 8, 46957, 1400, 11, 336, 368, 4368, 8, 12166, 54, 1, 1553, 1, 823, 20219, 15708, 18, 97, 11, 989, 16570, 129, 188, 38256, 11, 991, 4708, 4108, 1, 18, 991, 6724, 14949, 2417, 91, 11, 1841, 1, 341, 14622, 46957, 1400, 11, 13016, 8, 5029, 48230, 475, 44373, 11, 1376, 13583, 7163, 2703, 1, 129, 87299, 2581, 7071, 18, 161, 13016, 1284, 1, 43820, 8, 766, 17567, 1149, 18288, 81, 34121, 622, 1242, 11, 2255], [241, 2011, 13888, 13888, 129, 6929, 325, 0, 7677, 27113, 908, 18090, 63532, 2333, 109, 1, 3591, 20677, 11, 7677, 51846, 2244, 63532, 111, 18, 835, 10764, 7050, 237, 4649, 129, 11, 272, 1882, 15747, 341, 131, 10026, 892, 8, 1226, 4310, 12, 1081, 18, 5061, 5867, 631, 463, 8, 54, 10189, 535, 43988, 95921, 8, 241, 11, 762, 800, 434, 13588, 37, 241, 8, 1372, 1086, 7066, 11236, 4180, 8, 174, 18, 341, 358, 321, 1467, 325, 3520, 174, 8, 4011, 1481, 11592, 11, 341, 54, 321, 7287, 8, 325, 241, 1379, 1588, 19208, 1582, 6929, 325, 1041, 1461, 241, 82, 20412, 11, 12166, 1088, 187, 1363, 8, 184, 1999, 376, 116, 7349, 18, 54, 1819, 126, 2787, 196, 631, 188, 8, 376, 116, 325, 3767, 25, 1322, 7000, 2175, 325, 1433, 54, 818, 2632, 2333, 54742, 11, 10916, 18, 434, 188, 241, 800, 2267, 11, 13861, 174, 13063, 55, 1, 57, 325, 1927, 11, 112, 1363, 67, 2120, 241, 8, 1460, 9449, 1731, 188, 8, 2657, 11, 50, 883, 13547, 540, 254, 129, 18, 2713, 11, 11753, 241, 174, 4011, 11592, 11, 341, 11989, 241, 8, 871, 2976, 11, 2267, 448, 44052, 2679, 1957, 25082, 24669, 9255, 8, 279, 11, 1727, 1322, 528, 18618, 8, 268, 244, 4131, 21143, 2418, 1674, 11654, 11, 9352, 5722, 6341, 463, 1226, 1999, 5539, 174, 313, 84, 241, 3356, 127, 1588, 9833, 33476, 18, 272, 9344, 362, 1855, 241, 11, 874, 2679, 244, 352, 1086, 177, 8, 2426, 11, 241, 54, 352, 8, 1, 11, 358, 1674, 1226, 55, 14337, 57, 18], [2703, 1006, 650, 8626, 483, 27797, 495, 23545, 13768, 23546, 0, 727, 112, 2376, 112, 2909, 112, 1076, 112, 2033, 112, 621, 18, 1, 483, 1, 495, 244, 716, 1, 11, 27813, 9802, 1, 2897, 18, 565, 281, 254, 610, 255, 11, 1346, 535, 25639, 483, 27797, 495, 6870, 3613, 26200, 13790, 8626, 325, 1, 271, 11, 55, 13790, 8, 1, 11, 5564, 82, 367, 1322, 390, 1322, 33222, 11, 991, 2538, 3613, 390, 11, 392, 1, 18, 483, 27797, 495, 7037, 129, 341, 14622, 274, 10139, 8, 4976, 18, 57, 3198, 11, 1, 625, 5440, 8, 31219, 392, 408, 2427, 31219, 11, 17429, 483, 27797, 495, 127, 7037, 129, 11, 55, 2415, 271, 5306, 3613, 8626, 11, 5204, 906, 1698, 8, 5440, 54, 4450, 3147, 8, 18, 57, 991, 4548, 11, 44149, 112, 3008, 54, 358, 8626, 483, 27797, 495, 129, 18, 44149, 8, 483, 27797, 495, 109506, 234, 2760, 483, 92921, 495, 79773, 3087, 112, 1, 12, 20122, 595, 9667, 595, 112, 1, 2998, 483, 1, 495, 1, 250, 650, 88223, 112, 1, 1960, 11, 1, 1, 12, 12573, 1, 1, 3539, 1271, 60590, 11, 1, 82, 1, 12, 1, 8, 1, 112, 9667, 3539, 2109, 40081, 18, 1, 724, 8015, 1, 18, 3087, 112, 1, 12, 20122, 595, 9667, 595, 112, 1, 39, 11, 483, 27797, 495, 54, 894, 1145, 10227, 107, 8, 274, 23786, 8, 18114, 345, 11, 894, 1974, 389, 1964, 413, 1726, 90, 234, 32, 34474, 4021, 11, 83295, 9208, 12158, 18, 4021, 11131, 88, 26818, 1882, 325, 88, 7119, 1882, 18, 1041, 5306, 16566, 1061, 244, 726, 483, 27797, 495, 8, 65842, 11, 40, 9682, 15748, 1, 472, 185, 1177, 8, 5564, 18, 29879, 112, 2376, 11, 483, 27797, 495, 5440, 27497, 11, 2760, 1, 67614, 11, 1, 82, 1, 57997, 18, 341, 5440, 32343, 112, 29879, 112, 2376, 40, 8626, 4649, 129, 11, 2925, 244, 112, 75, 112, 2376, 112, 1060, 112, 1685, 12614, 11, 2460, 40, 1, 129, 11, 1223, 1, 1, 12, 20266, 11, 32708, 45387, 18, 8590, 244, 7119, 4552, 3309, 248, 483, 27797, 495, 11131, 256, 11, 8475, 8, 7119, 13387, 291, 1, 109, 1, 111, 13949, 3440, 5203, 8, 12793, 2, 55, 34, 12091, 82, 98, 14591, 2732, 8, 13949, 8845, 17043, 8, 1, 11, 6494, 18677, 2223, 1882, 8626, 11, 358, 35895, 127, 358, 35895, 179, 272, 18677, 6848, 18, 57, 76464, 112, 29879, 112, 2376, 8, 3712, 353, 11, 1, 9682, 54, 3595, 8, 2, 7119, 13387, 271, 2223, 1, 11, 52048, 10, 112, 2901, 112, 5084, 11, 358, 8626, 1, 18, 7119, 1, 271, 358, 8626, 34, 8, 483, 1, 495, 18, 1, 4511, 129, 1, 11, 70013, 271, 22, 1, 22529, 1719, 68836, 10, 18, 7918, 8475, 157, 13916, 11, 9461, 3021, 5440, 54, 9041, 2732, 18, 991, 1, 78889, 9041, 2570, 2732, 1853, 58610, 11, 472, 185, 4450, 1507, 6924, 11, 85710, 4151, 1481, 11005, 8, 54, 2, 5440, 483, 27797, 495, 244, 1, 448, 16574, 389, 10958, 8, 1674, 4031, 68836, 11, 2327, 65729, 28581, 6023, 11, 20826, 1974, 18, 429, 414, 1702, 107, 13949, 8377, 4151, 11, 9682, 61612, 54, 2, 483, 31417], [58307, 8, 1, 11, 1467, 2720, 33473, 8, 1, 3415, 0, 31305, 1518, 21201, 55, 19202, 1, 57, 109, 7752, 2, 1, 111, 11, 9802, 2, 1, 11, 30268, 2, 1, 11, 22136, 7621, 1518, 48753, 112, 1, 18, 34, 1, 45889, 8, 4889, 11, 358, 7677, 5711, 1, 18, 483, 1, 495, 81953, 35673, 1390, 5084, 11, 1, 483, 1, 495, 1055, 8088, 40, 5944, 98, 129, 11, 34611, 483, 109374, 495, 2348, 42450, 19422, 617, 2116, 58279, 18, 1, 2980, 11, 26464, 47943, 11, 1, 3356, 1481, 12093, 55, 1, 57, 8, 9043, 129, 18, 2720, 12548, 1, 806, 245, 8733, 11, 362, 29886, 2348, 1, 55, 1, 21447, 1, 90, 57, 8, 57167, 51912, 18, 113, 1, 652, 157, 483, 1, 495, 11, 514, 1, 5850, 55, 4601, 32896, 1, 57, 18, 55, 1, 127, 1686, 57, 8, 1, 1, 11, 1840, 5203, 6541, 1, 129, 1, 8, 1, 18, 23189, 63024, 1, 652, 514, 1, 54622, 11, 1, 271, 55, 2223, 54, 1, 8, 57, 18, 1, 39417, 1, 2, 55, 4964, 43756, 514, 1, 3757, 11857, 11, 2223, 9459, 1, 11, 164, 1, 1, 129, 11, 2223, 9459, 2348, 67137, 14499, 129, 18, 57, 1, 1953, 2725, 11, 48875, 3554, 1672, 18, 26464, 1, 11, 572, 358, 62244, 7686, 18, 26464, 1774, 9617, 11, 11367, 5440, 127, 2415, 894, 8626, 8, 18, 84, 1, 1774, 1, 11, 272, 127, 13319, 6, 281, 271, 55, 1, 8314, 26464, 81869, 57, 18, 989, 1, 8, 5440, 1531, 35673, 7986, 244, 877, 1, 11, 1529, 2939, 1, 12, 1, 11, 991, 281, 5185, 54, 879, 1184, 7881, 34, 69443, 15554, 8, 5711, 32896, 18, 23635, 6747, 37, 11173, 65214, 23540, 11, 1, 26953, 3117

In [4]:
sklearn.__version__

'0.23.2'

In [5]:
y_npa = pd.DataFrame(y_npa)
y_npa.columns = ['position']
x_npa = x_npa.reshape(13134,5120)
x_npa = pd.DataFrame(x_npa)
x_npa

,0,1,2,3,4,5,6,7,8,9,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
0,73413,64116,21779,0,13097,4563,27162,1380,5936,9802,...,2845,5872,2418,1,8,3131,11,3021,1481,3591
1,475,6,80083,485,64138,8,5850,2,272,125,...,0,0,0,0,0,0,0,0,0,0
2,346,50,11,272,4761,55,62032,57,11,991,...,1294,128,1583,1,8,21732,1303,4837,11,1651
3,1363,102,55,1,57,8,15596,0,1,5936,...,112,38075,112,15846,11,54,1006,467,26613,2258
4,14791,1,55,15538,57,272,325,0,31305,1518,...,11,155,40016,8,46715,4,135,2468,5442,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13129,44825,17315,55,13888,13888,57,11,378,2348,1406,...,1081,111,12,112,887,112,1685,237,8,483
13130,5394,1010,535,1006,55,1850,14271,57,11,341,...,14796,109,3664,44425,1181,111,313,1,109,1
13131,2361,15057,5886,55,1,57,325,1,818,66220,...,0,0,0,0,0,0,0,0,0,0
13132,55,1,44274,13056,57,2432,11,2440,60109,7000,...,244,22001,11,10996,80,81,1,82,22443,24917
13133,54,1675,44895,129,1006,650,55,1,57,8,...,4190,1,18,14069,8845,5440,11,483,109374,495

In [6]:
position_data = pd.merge(y_npa,x_npa,on = y_npa.index)
position_data = position_data.drop('key_0',axis=1)

In [7]:
position_data

,position,0,1,2,3,4,5,6,7,8,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
0,0,73413,64116,21779,0,13097,4563,27162,1380,5936,...,2845,5872,2418,1,8,3131,11,3021,1481,3591
1,1,475,6,80083,485,64138,8,5850,2,272,...,0,0,0,0,0,0,0,0,0,0
2,1,346,50,11,272,4761,55,62032,57,11,...,1294,128,1583,1,8,21732,1303,4837,11,1651
3,2,1363,102,55,1,57,8,15596,0,1,...,112,38075,112,15846,11,54,1006,467,26613,2258
4,1,14791,1,55,15538,57,272,325,0,31305,...,11,155,40016,8,46715,4,135,2468,5442,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13129,1,44825,17315,55,13888,13888,57,11,378,2348,...,1081,111,12,112,887,112,1685,237,8,483
13130,3,5394,1010,535,1006,55,1850,14271,57,11,...,14796,109,3664,44425,1181,111,313,1,109,1
13131,4,2361,15057,5886,55,1,57,325,1,818,...,0,0,0,0,0,0,0,0,0,0
13132,1,55,1,44274,13056,57,2432,11,2440,60109,...,244,22001,11,10996,80,81,1,82,22443,24917
13133,2,54,1675,44895,129,1006,650,55,1,57,...,4190,1,18,14069,8845,5440,11,483,109374,495

In [8]:
temp_0 = position_data.groupby(position_data.index).filter(lambda x : float(x['position'])==0)
temp_1 = position_data.groupby(position_data.index).filter(lambda x : float(x['position'])==1)
temp_2 = position_data.groupby(position_data.index).filter(lambda x : float(x['position'])==2)
temp_3 = position_data.groupby(position_data.index).filter(lambda x : float(x['position'])==3)
temp_4 = position_data.groupby(position_data.index).filter(lambda x : float(x['position'])==4)
temp_5 = position_data.groupby(position_data.index).filter(lambda x : float(x['position'])==5)
temp_6 = position_data.groupby(position_data.index).filter(lambda x : float(x['position'])==6)

In [9]:
temp_0 = temp_0.drop('position',axis = 1)
temp_1 = temp_1.drop('position',axis = 1)
temp_2 = temp_2.drop('position',axis = 1)
temp_3 = temp_3.drop('position',axis = 1)
temp_4 = temp_4.drop('position',axis = 1)
temp_5 = temp_5.drop('position',axis = 1)
temp_6 = temp_6.drop('position',axis = 1)

In [10]:
#聚类
model = KMeans(n_clusters=2)
model.fit(temp_0)
labels = model.predict(temp_0)
labels = pd.DataFrame(labels)
labels.columns = ['b']
temp_00 = pd.merge(labels,temp_0,on = labels.index)
temp_00 = temp_00.drop('key_0',axis=1)
temp_000 = position_data.groupby(position_data.index).filter(lambda x : float(x['position'])==0)
temp_000 = temp_000['position']
temp_end_0 = pd.merge(temp_000,temp_00,on = temp_00.index)
temp_end_0 = temp_end_0.drop('key_0',axis = 1)
a = dict(collections.Counter(temp_end_0['b']))
b = max(a,key = a.get)
temp_end_0 = temp_end_0.groupby(temp_end_0.index).filter(lambda x:float(x['b'])==b)
temp_end_0

,position,b,0,1,2,3,4,5,6,7,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
0,0,1,73413,64116,21779,0,13097,4563,27162,1380,...,2845,5872,2418,1,8,3131,11,3021,1481,3591
1,0,1,5304,68859,8,55,48915,57,2,1,...,5203,1327,55,1808,1,57,540,45,107,9847
2,0,1,47256,11551,2470,2,7827,15813,11,9310,...,82,6936,82,44149,164,1022,2094,2085,624,916
4,0,1,3712,1,1,2,2986,1588,54,248,...,18,5366,11,1,66947,8,1,1537,97896,18
5,0,1,238,44,12779,1774,586,6929,325,3533,...,2976,11,17076,1322,1674,8,4892,1333,463,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562,0,1,91353,43210,1325,2224,8,8315,0,1,...,39481,48399,15370,11,535,154,9114,166,11,103
563,0,1,3534,55,836,57,535,942,8,5886,...,9034,17476,495,610,11,38938,1674,129,1622,8
565,0,1,15218,2255,60199,1711,1,11,64483,3369,...,11,260,196,845,3347,18,538,1,3645,893
566,0,1,57058,6496,1323,1771,55,51025,57,6496,...,67,11,3132,3383,3146,8,5061,16721,2679,1675
567,0,1,244,40321,98,37204,8,5374,650,0,...,25174,5649,58764,8,21301,98,313,4719,112,2376

In [11]:
model = KMeans(n_clusters=2)
model.fit(temp_1)
labels = model.predict(temp_1)
labels = pd.DataFrame(labels)
labels.columns = ['b']
temp_11 = pd.merge(labels,temp_1,on = labels.index)
temp_11 = temp_11.drop('key_0',axis=1)
temp_111 = position_data.groupby(position_data.index).filter(lambda x : float(x['position'])==1)
temp_111 = temp_111['position']
temp_end_1 = pd.merge(temp_111,temp_11,on = temp_11.index)
temp_end_1 = temp_end_1.drop('key_0',axis = 1)
temp_end_1.groupby('b').count()
a = dict(collections.Counter(temp_end_1['b']))
b = max(a,key = a.get)
temp_end_1 = temp_end_1.groupby(temp_end_1.index).filter(lambda x:float(x['b'])==b)
temp_end_1

,position,b,0,1,2,3,4,5,6,7,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
0,1,1,475,6,80083,485,64138,8,5850,2,...,0,0,0,0,0,0,0,0,0,0
1,1,1,346,50,11,272,4761,55,62032,57,...,1294,128,1583,1,8,21732,1303,4837,11,1651
2,1,1,14791,1,55,15538,57,272,325,0,...,11,155,40016,8,46715,4,135,2468,5442,18
3,1,1,1,0,13097,4563,27162,1,9802,4563,...,8115,483,1,495,67,11,1,10132,8,1
4,1,1,4738,523,245,111031,11,5558,12684,245,...,11,1,54,515,5558,54190,83,44824,11,244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6376,1,1,55,1,57,1,409,876,0,55,...,347,8,54,1675,325,4548,4628,11,2679,14258
6377,1,1,1016,8523,1,2,5389,10,1467,1675,...,17137,15218,266,983,1,899,1326,1094,18,85
6379,1,1,321,244,35404,322,179,274,396,8,...,389,1,2,1,11,1006,483,1,112,88616
6380,1,1,44825,17315,55,13888,13888,57,11,378,...,1081,111,12,112,887,112,1685,237,8,483
6381,1,1,55,1,44274,13056,57,2432,11,2440,...,244,22001,11,10996,80,81,1,82,22443,24917

In [12]:
model = KMeans(n_clusters=2)
model.fit(temp_2)
labels = model.predict(temp_2)
labels = pd.DataFrame(labels)
labels.columns = ['b']
temp_22 = pd.merge(labels,temp_2,on = labels.index)
temp_22 = temp_22.drop('key_0',axis=1)
temp_222 = position_data.groupby(position_data.index).filter(lambda x : float(x['position'])==2)
temp_222 = temp_222['position']
temp_end_2 = pd.merge(temp_222,temp_22,on = temp_22.index)
temp_end_2 = temp_end_2.drop('key_0',axis = 1)
a = dict(collections.Counter(temp_end_2['b']))
b = max(a,key = a.get)
temp_end_2 = temp_end_2.groupby(temp_end_2.index).filter(lambda x:float(x['b'])==b)
temp_end_2

,position,b,0,1,2,3,4,5,6,7,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
0,2,1,1363,102,55,1,57,8,15596,0,...,112,38075,112,15846,11,54,1006,467,26613,2258
1,2,1,15220,11005,129,464,40910,11,4554,30268,...,11,991,3053,47752,934,1,40,1669,5374,244
2,2,1,1,112,3533,112,352,2951,2,2345,...,1,35451,18,3198,106330,883,3286,2206,8,1
3,2,1,272,5904,2134,2762,53851,325,0,1562,...,67,11,1484,774,23601,6954,3291,4255,6954,4750
4,2,1,1015,272,535,1845,55,1176,57,129,...,54,1,1,8,483,1,495,11,185,3192
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2802,2,1,2581,11,54,13916,535,61316,47852,19181,...,741,2570,12470,463,55303,50263,1,18,244,1
2803,2,1,57058,6496,1323,1771,55,51025,57,6496,...,8,5500,1964,110511,2177,14499,111,18,6235,7852
2804,2,1,55,1,57,8,86903,1181,11,1481,...,0,0,0,0,0,0,0,0,0,0
2805,2,1,362,12120,8,102,55,24148,57,2,...,28457,8,810,11,9352,126,3559,10103,11,1553
2806,2,1,54,1675,44895,129,1006,650,55,1,...,4190,1,18,14069,8845,5440,11,483,109374,495

In [13]:
#聚类
model = KMeans(n_clusters=2)
model.fit(temp_3)
labels = model.predict(temp_3)
labels = pd.DataFrame(labels)
labels.columns = ['b']
temp_33 = pd.merge(labels,temp_3,on = labels.index)
temp_33 = temp_33.drop('key_0',axis=1)
temp_333 = position_data.groupby(position_data.index).filter(lambda x : float(x['position'])==3)
temp_333 = temp_333['position']
temp_end_3 = pd.merge(temp_333,temp_33,on = temp_33.index)
temp_end_3 = temp_end_3.drop('key_0',axis = 1)
a = dict(collections.Counter(temp_end_3['b']))
b = max(a,key = a.get)
temp_end_3 = temp_end_3.groupby(temp_end_3.index).filter(lambda x:float(x['b'])==b)
temp_end_3

,position,b,0,1,2,3,4,5,6,7,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
0,3,1,112143,8547,1,11,19596,1,1002,362,...,2460,2348,16988,129,483,1,109,65082,112,38642
1,3,1,15220,11005,129,464,40910,11,4554,30268,...,3793,7589,38968,41699,62527,37957,1,18,57,11176
3,3,1,26018,2298,1577,8,5282,6190,126,11,...,472,185,40,1,18,244,1,8,9329,1
4,3,1,57058,6496,1323,1771,55,51025,57,6496,...,1460,119821,11,2255,1076,153,229,81,1563,18
6,3,1,55,1,57,8,15449,11,8626,892,...,4835,244,34,50,54,3719,1688,8,93460,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1618,3,1,2263,6493,1674,55,1,57,325,0,...,14814,20637,1562,110107,11,1069,3591,1,899,1
1619,3,1,1765,39375,423,32399,2,1952,2267,11,...,11,1,3955,1,40,271,2,55,5299,565
1621,3,1,1,2406,892,948,32918,11,234,3428,...,3793,7589,38968,41699,62527,37957,1,18,57,11176
1623,3,1,1015,11,378,265,129,378,8,1,...,16899,2377,11,4144,58067,1232,15416,104868,2068,2143
1624,3,1,5394,1010,535,1006,55,1850,14271,57,...,14796,109,3664,44425,1181,111,313,1,109,1

In [14]:
#聚类
model = KMeans(n_clusters=2)
model.fit(temp_4)
labels = model.predict(temp_4)
labels = pd.DataFrame(labels)
labels.columns = ['b']
temp_44 = pd.merge(labels,temp_4,on = labels.index)
temp_44 = temp_44.drop('key_0',axis=1)
temp_444 = position_data.groupby(position_data.index).filter(lambda x : float(x['position'])==4)
temp_444 = temp_444['position']
temp_end_4 = pd.merge(temp_444,temp_44,on = temp_44.index)
temp_end_4 = temp_end_4.drop('key_0',axis = 1)
a = dict(collections.Counter(temp_end_4['b']))
b = max(a,key = a.get)
temp_end_4 = temp_end_4.groupby(temp_end_4.index).filter(lambda x:float(x['b'])==b)
temp_end_4

,position,b,0,1,2,3,4,5,6,7,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
0,4,0,5306,38649,1,8,1,11,12166,1518,...,311,1,11,1597,716,12,1283,8,1,11
1,4,0,53496,8,2196,12865,2,272,415,1,...,1,18,599,483,7673,495,244,1211,67,8605
3,4,0,2263,3914,1231,185,751,3891,26775,26776,...,82,2616,11,441,38935,244,657,9512,237,8
4,4,0,279,1711,2494,11,3698,1711,6207,2,...,0,0,0,0,0,0,0,0,0,0
5,4,0,42356,8,55,16077,15426,57,11,37,...,126,2364,526,244,6738,10862,674,850,38,244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338,4,0,57058,6496,1323,1771,55,51025,57,6496,...,0,0,0,0,0,0,0,0,0,0
339,4,0,2986,54,296,297,8,1376,72219,0,...,311,1,11,1597,716,12,1283,8,1,11
340,4,0,71511,20300,4885,34383,6340,2,2120,1808,...,23189,129,81466,14447,3314,18,55,1047,22524,1582
341,4,0,4760,535,43890,2229,2,2263,717,11883,...,0,0,0,0,0,0,0,0,0,0
342,4,0,2361,15057,5886,55,1,57,325,1,...,0,0,0,0,0,0,0,0,0,0

In [15]:
#聚类
model = KMeans(n_clusters=2)
model.fit(temp_5)
labels = model.predict(temp_5)
labels = pd.DataFrame(labels)
labels.columns = ['b']
temp_55 = pd.merge(labels,temp_5,on = labels.index)
temp_55 = temp_55.drop('key_0',axis=1)
temp_555 = position_data.groupby(position_data.index).filter(lambda x : float(x['position'])==5)
temp_555 = temp_555['position']
temp_end_5 = pd.merge(temp_555,temp_55,on = temp_55.index)
temp_end_5 = temp_end_5.drop('key_0',axis = 1)
a = dict(collections.Counter(temp_end_5['b']))
b = max(a,key = a.get)
temp_end_5 = temp_end_5.groupby(temp_end_5.index).filter(lambda x:float(x['b'])==b)
temp_end_5

,position,b,0,1,2,3,4,5,6,7,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
0,5,0,57058,6496,1323,1771,55,51025,57,6496,...,5203,1327,55,1808,1,57,540,45,107,9847
1,5,0,2288,4846,11,15871,54775,5335,15712,8,...,244,3232,3233,8,165,248,11,1630,1340,51281
2,5,0,378,244,2613,50,1674,9017,2,55,...,3849,25845,55,1,57,11,1,2278,1,11009
3,5,0,3014,752,237,23810,112,1050,11,2827,...,11,5306,8,10744,2679,1,18,4155,11,1
4,5,0,4837,63929,975,12968,3701,11,260,1865,...,5203,1327,55,1808,1,57,540,45,107,9847
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1129,5,0,281,36710,9912,1669,4490,1,25807,8,...,543,37,1,8,65026,11,192,7433,8,2576
1130,5,0,6866,21960,55,1,57,12863,0,31305,...,11,1324,154,10304,1336,21794,1010,22,8419,72765
1131,5,0,6969,11,1840,1006,2726,17043,325,0,...,3545,8,1,3920,82,5053,7731,11,2853,4467
1132,5,0,1,2,1583,6519,11,13631,13102,0,...,1291,109,77,111,11,8284,689,5585,8,30032
1133,5,0,47,27162,1,62,19162,650,71251,21078,...,1228,1333,6799,10518,8,9692,11,84,6799,741

In [16]:
#聚类找异常值
model = KMeans(n_clusters=2)
model.fit(temp_6)
labels = model.predict(temp_6)
labels = pd.DataFrame(labels)
labels.columns = ['b']
temp_66 = pd.merge(labels,temp_6,on = labels.index)
temp_66 = temp_66.drop('key_0',axis=1)
temp_666 = position_data.groupby(position_data.index).filter(lambda x : float(x['position'])==6)
temp_666 = temp_666['position']
temp_end_6 = pd.merge(temp_666,temp_66,on = temp_66.index)
temp_end_6 = temp_end_6.drop('key_0',axis = 1)
a = dict(collections.Counter(temp_end_5['b']))
b = max(a,key = a.get)
temp_end_6 = temp_end_6.groupby(temp_end_6.index).filter(lambda x:float(x['b'])==b)
temp_end_6

,position,b,0,1,2,3,4,5,6,7,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
0,6,0,46328,92794,514,73463,325,346,1762,1588,...,34,12653,50,9485,81,6760,1375,11,336,7123
1,6,0,45169,38809,1763,0,55,4713,11602,11,...,1,18,599,483,7673,495,244,1211,67,8605
2,6,0,81793,2134,29781,31252,2134,11,6663,272,...,0,0,0,0,0,0,0,0,0,0
3,6,0,13788,102,30207,30233,13246,948,39393,650,...,24623,21081,11,991,1,47943,11,40,5944,244
4,6,0,5374,1774,7206,1,34,732,11,65661,...,65729,28581,6023,11,20826,1974,18,429,414,1702
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,6,0,1326,54,321,1964,55,4590,57,2703,...,79541,2732,18,378,20931,4450,7653,18,378,11367
271,6,0,21794,68756,55,25679,57,244,3920,1763,...,249,15449,7822,4416,24104,244,4142,2248,1,3420
272,6,0,66654,786,325,29629,13861,8866,2598,6412,...,4523,11,1630,5990,2720,1583,5751,1481,56159,18
273,6,0,750,3712,8,12383,3006,54,1675,325,...,8,527,57,18,1537,11,7490,1481,15748,11
274,6,0,1467,129,14255,27036,1,1,11,1774,...,39499,3873,11,7000,12026,28996,1,8,2951,11

In [17]:
x_npa1 = pd.concat([temp_end_0, temp_end_1], axis=0, ignore_index=True)
x_npa1 = pd.concat([x_npa1, temp_end_2], axis=0, ignore_index=True)
x_npa1 = pd.concat([x_npa1, temp_end_3], axis=0, ignore_index=True)
x_npa1 = pd.concat([x_npa1, temp_end_4], axis=0, ignore_index=True)
x_npa1 = pd.concat([x_npa1, temp_end_5], axis=0, ignore_index=True)
x_npa1 = pd.concat([x_npa1, temp_end_6], axis=0, ignore_index=True)
x_npa1

,position,b,0,1,2,3,4,5,6,7,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
0,0,1,73413,64116,21779,0,13097,4563,27162,1380,...,2845,5872,2418,1,8,3131,11,3021,1481,3591
1,0,1,5304,68859,8,55,48915,57,2,1,...,5203,1327,55,1808,1,57,540,45,107,9847
2,0,1,47256,11551,2470,2,7827,15813,11,9310,...,82,6936,82,44149,164,1022,2094,2085,624,916
3,0,1,3712,1,1,2,2986,1588,54,248,...,18,5366,11,1,66947,8,1,1537,97896,18
4,0,1,238,44,12779,1774,586,6929,325,3533,...,2976,11,17076,1322,1674,8,4892,1333,463,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11877,6,0,1326,54,321,1964,55,4590,57,2703,...,79541,2732,18,378,20931,4450,7653,18,378,11367
11878,6,0,21794,68756,55,25679,57,244,3920,1763,...,249,15449,7822,4416,24104,244,4142,2248,1,3420
11879,6,0,66654,786,325,29629,13861,8866,2598,6412,...,4523,11,1630,5990,2720,1583,5751,1481,56159,18
11880,6,0,750,3712,8,12383,3006,54,1675,325,...,8,527,57,18,1537,11,7490,1481,15748,11
11881,6,0,1467,129,14255,27036,1,1,11,1774,...,39499,3873,11,7000,12026,28996,1,8,2951,11

In [18]:
x_npa1 = x_npa1.drop('b',axis = 1)
x_npa1

,position,0,1,2,3,4,5,6,7,8,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
0,0,73413,64116,21779,0,13097,4563,27162,1380,5936,...,2845,5872,2418,1,8,3131,11,3021,1481,3591
1,0,5304,68859,8,55,48915,57,2,1,822,...,5203,1327,55,1808,1,57,540,45,107,9847
2,0,47256,11551,2470,2,7827,15813,11,9310,311,...,82,6936,82,44149,164,1022,2094,2085,624,916
3,0,3712,1,1,2,2986,1588,54,248,2853,...,18,5366,11,1,66947,8,1,1537,97896,18
4,0,238,44,12779,1774,586,6929,325,3533,112,...,2976,11,17076,1322,1674,8,4892,1333,463,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11877,6,1326,54,321,1964,55,4590,57,2703,5306,...,79541,2732,18,378,20931,4450,7653,18,378,11367
11878,6,21794,68756,55,25679,57,244,3920,1763,11,...,249,15449,7822,4416,24104,244,4142,2248,1,3420
11879,6,66654,786,325,29629,13861,8866,2598,6412,70144,...,4523,11,1630,5990,2720,1583,5751,1481,56159,18
11880,6,750,3712,8,12383,3006,54,1675,325,0,...,8,527,57,18,1537,11,7490,1481,15748,11
11881,6,1467,129,14255,27036,1,1,11,1774,127,...,39499,3873,11,7000,12026,28996,1,8,2951,11

In [19]:
x_data = x_npa1.drop('position',axis = 1)
y_data = x_npa1['position']

In [20]:
ss = StandardScaler()
x_data = ss.fit_transform(x_data)
x_data = pd.DataFrame(x_data)
x_data

,0,1,2,3,4,5,6,7,8,9,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
0,2.924969,3.073260,0.752454,-0.480162,0.249183,-0.201926,1.095525,-0.407545,-0.144874,0.037442,...,-0.234935,-0.070254,-0.263520,-0.416174,-0.433443,-0.174471,-0.400720,-0.177328,-0.284635,-0.157485
1,-0.364179,3.338564,-0.481780,-0.476866,2.380966,-0.495061,-0.489934,-0.498806,-0.465233,0.011059,...,-0.084389,-0.315562,-0.427641,-0.309810,-0.433904,-0.404960,-0.361640,-0.382623,-0.374844,0.291175
2,1.661784,0.132978,-0.342205,-0.480042,-0.064472,0.529935,-0.489408,0.117254,-0.497244,0.734856,...,-0.411338,-0.012827,-0.425765,2.182458,-0.423166,-0.332604,-0.246841,-0.241896,-0.340901,-0.349327
3,-0.441060,-0.513084,-0.482176,-0.480042,-0.352595,-0.395463,-0.486898,-0.482459,-0.338004,-0.498723,...,-0.415424,-0.097565,-0.430697,-0.416174,3.976402,-0.408634,-0.401458,-0.279699,6.045400,-0.413729
4,-0.608828,-0.510679,0.242229,-0.373856,-0.495436,-0.048008,-0.471078,-0.265062,-0.509710,-0.529619,...,-0.226571,-0.386590,0.754539,-0.338417,-0.323689,-0.408634,-0.040143,-0.293772,-0.351471,-0.414231
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11877,-0.556286,-0.510119,-0.464035,-0.362470,-0.527039,-0.200170,-0.486723,-0.319990,-0.184339,-0.529619,...,4.661700,-0.239730,-0.430211,-0.393983,0.944934,-0.075572,0.163821,-0.384486,-0.357052,0.400185
11878,0.432163,3.332803,-0.479115,1.058638,-0.526920,-0.482896,-0.261221,-0.382198,-0.516037,-0.128378,...,-0.400676,0.446646,0.111810,-0.156299,1.153967,-0.390939,-0.095548,-0.230652,-0.381803,-0.169748
11879,2.598560,-0.469174,-0.463808,1.295339,0.294654,0.078003,-0.338393,-0.074532,3.877347,2.214965,...,-0.127804,-0.386590,-0.318250,-0.063650,-0.254780,-0.290540,0.023314,-0.283562,3.305197,-0.413729
11880,-0.584102,-0.305505,-0.481780,0.261883,-0.351404,-0.495256,-0.392273,-0.477364,-0.516726,1.281551,...,-0.416063,-0.358740,-0.427502,-0.415173,-0.332715,-0.408409,0.151780,-0.283562,0.652051,-0.414231
11881,-0.549477,-0.505924,0.325906,1.139955,-0.530253,-0.498704,-0.489408,-0.381470,-0.508771,0.250994,...,2.105230,-0.178146,-0.430697,-0.004200,0.358286,1.764889,-0.401458,-0.385175,-0.188124,-0.414231

In [20]:
estimator = SVC(kernel = "linear")
selector = RFE(estimator,n_features_to_select = 200,step = 128)
selector = selector.fit(x_data,y_data)
rank = selector.ranking_
rank = pd.DataFrame(rank)

In [21]:
rank.columns = ['rank']
rank.to_csv('/home/zourui/data/predict_user_attribute20200911/raw_data/age/rank/position_rank.csv',index = False)

In [21]:
rank = pd.read_csv('/home/zourui/data/predict_user_attribute20200911/raw_data/age/rank/position_rank.csv')

In [22]:
x_T = x_data.T

In [23]:
rank_data = pd.merge(rank,x_T,on = rank.index)
rank_data = rank_data.drop('key_0',axis = 1)
rank_data

,rank,0,1,2,3,4,5,6,7,8,...,11872,11873,11874,11875,11876,11877,11878,11879,11880,11881
0,21,2.924969,-0.364179,1.661784,-0.441060,-0.608828,-0.400688,-0.386731,0.485816,-0.080944,...,-0.620273,-0.571305,-0.620273,0.204319,-0.620273,-0.556286,0.432163,2.598560,-0.584102,-0.549477
1,3,3.073260,3.338564,0.132978,-0.513084,-0.510679,-0.510119,3.062799,-0.499436,0.889290,...,0.308338,-0.497925,0.256821,-0.075328,-0.351261,-0.510119,3.332803,-0.469174,-0.305505,-0.505924
2,34,0.752454,-0.481780,-0.342205,-0.482176,0.242229,-0.434952,-0.426959,2.589887,-0.168161,...,-0.482233,-0.451903,-0.481780,-0.428489,-0.479172,-0.464035,-0.479115,-0.463808,-0.481780,0.325906
3,25,-0.480162,-0.476866,-0.480042,-0.480042,-0.373856,0.007803,0.296938,-0.480162,0.566598,...,1.395772,-0.369601,-0.168015,4.415064,-0.300089,-0.362470,1.058638,1.295339,0.261883,1.139955
4,25,0.249183,2.380966,-0.064472,-0.352595,-0.495436,0.385774,-0.310040,1.332870,-0.510970,...,-0.439966,-0.527039,-0.530253,-0.529658,1.442262,-0.527039,-0.526920,0.294654,-0.351404,-0.530253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5115,5,-0.174471,-0.404960,-0.332604,-0.408634,-0.408634,-0.154151,1.296788,-0.408334,-0.409234,...,-0.405110,-0.407884,-0.404960,-0.400836,-0.298113,-0.075572,-0.390939,-0.290540,-0.408409,1.764889
5116,7,-0.400720,-0.361640,-0.246841,-0.401458,-0.040143,-0.398060,-0.278016,0.280024,-0.401532,...,0.794996,-0.361788,-0.361640,-0.401458,-0.392002,0.163821,-0.095548,0.023314,0.151780,-0.401458
5117,9,-0.177328,-0.382623,-0.241896,-0.279699,-0.293772,0.686763,-0.384486,-0.384486,-0.385727,...,-0.366412,-0.385658,-0.382623,-0.385658,-0.326263,-0.384486,-0.230652,-0.283562,-0.283562,-0.385175
5118,29,-0.284635,-0.374844,-0.340901,6.045400,-0.351471,-0.283388,-0.236839,0.102330,-0.381869,...,-0.378126,-0.142560,-0.374844,-0.346416,-0.381147,-0.357052,-0.381803,3.305197,0.652051,-0.188124
5119,29,-0.157485,0.291175,-0.349327,-0.413729,-0.414231,4.879686,-0.387409,-0.414231,-0.415020,...,-0.207543,-0.350977,0.291175,-0.317628,0.358517,0.400185,-0.169748,-0.413729,-0.414231,-0.414231

In [24]:
rank_data_200 = rank_data.groupby(rank_data.index).filter(lambda x : float(x['rank'])==1)
rank_data_200 = rank_data_200.drop('rank',axis = 1)
rank_data_200 = rank_data_200.T

In [25]:
all_data = pd.merge(y_data,rank_data_200,on = y_data.index)
all_data = all_data.drop('key_0',axis = 1)
all_data

,position,11,34,69,74,90,140,155,182,201,...,4879,4899,4929,4957,5025,5027,5028,5034,5048,5104
0,0,-0.532670,-0.461405,-0.391201,-0.294919,-0.122935,-0.442809,-0.151833,-0.388940,-0.427510,...,-0.228909,0.096380,-0.004375,3.718615,-0.400705,-0.415991,-0.385584,3.590275,-0.385347,-0.388032
1,0,-0.527347,-0.455876,-0.409182,-0.426788,-0.421671,1.707684,-0.429419,-0.301274,-0.406118,...,-0.419811,0.084052,-0.362562,-0.438753,-0.397531,-0.051812,-0.322192,-0.443158,-0.382892,-0.326540
2,0,-0.212996,-0.364480,-0.398166,-0.383660,-0.426004,-0.442809,-0.292524,0.391351,-0.262642,...,1.044505,-0.386528,-0.072413,-0.429868,-0.400705,-0.284066,-0.382397,3.356945,-0.362566,4.649172
3,0,-0.532210,-0.468026,-0.264133,2.158851,0.387490,2.098589,-0.408270,-0.403983,-0.271573,...,-0.411443,-0.387232,0.024686,0.226291,-0.378411,0.218731,0.469343,-0.387856,-0.318307,-0.387612
4,0,-0.532736,-0.381339,-0.412094,-0.365507,-0.406569,-0.428681,-0.068744,0.289487,-0.253782,...,0.135521,-0.386528,-0.371905,-0.447280,-0.352869,6.352194,0.127926,-0.446238,0.923074,-0.321980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11877,6,-0.511376,0.257958,-0.288319,-0.436673,-0.361835,-0.442809,2.314569,-0.285988,0.398847,...,-0.420520,-0.386528,-0.228378,-0.447280,-0.400188,-0.219003,1.410594,-0.446696,-0.293378,-0.389552
11878,6,-0.532210,4.841427,0.967041,-0.415803,-0.419887,-0.314932,3.712683,0.044615,-0.432695,...,-0.111049,-0.248242,-0.354824,-0.447280,-0.374794,-0.414768,-0.399717,-0.446041,-0.386651,-0.276058
11879,6,-0.351407,-0.459289,-0.412094,-0.429909,0.138458,-0.436685,2.582274,-0.403983,-0.372842,...,-0.416620,-0.269305,0.165806,3.063101,-0.301636,-0.318541,-0.333069,-0.416424,-0.367705,-0.075962
11880,6,0.860647,0.052094,-0.318772,-0.436500,-0.281033,-0.216585,-0.145747,-0.387248,-0.351522,...,-0.415840,-0.114465,-0.290168,0.254237,-0.271370,1.258224,0.250415,0.137774,-0.344540,-0.389395
11881,6,-0.269123,-0.460517,-0.411651,0.344886,-0.426450,-0.442384,0.470461,0.956313,-0.436009,...,-0.416762,-0.177444,-0.205164,-0.351977,-0.277349,-0.410161,-0.287690,-0.431429,-0.200873,-0.367272

In [26]:
data_x = all_data.drop('position',axis = 1)
data_y = all_data['position']

In [27]:
x_train_svm, x_test_svm, y_train_svm, y_test_svm = train_test_split(data_x, data_y, random_state=155)

In [32]:
svm = SVC(C = 10,kernel = 'linear')
svm.fit(x_train_svm, y_train_svm) 
#lr.fit(x_train,y_train)
preds = svm.predict(x_test_svm)
print('准确率为%f' %((preds==y_test_svm).sum()/float(y_test_svm.shape[0])))
#joblib.dump(svm, '../code/model_svm')

准确率为0.489398

In [32]:
preds.tolist()

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 ...]

In [33]:
a = pd.DataFrame(preds)

In [34]:
a.columns = ['position']

In [35]:
a['position'].value_counts()

1    2993
Name: position, dtype: int64

In [ ]:
def svm(C):
    val = cross_val_score(
        SVC(C=C
           ),
        x_train_svm, y_train_svm, scoring='accuracy',cv=10).mean()
    return val
t_start = time.time()
params = {
    'C': (100,500)
    }
svm_bo = BayesianOptimization(svm,params)
svm_bo.maximize(init_points = 5,n_iter =5)
params_1 = svm_bo
params = svm_bo.max
params = params["params"]
L = list()
L.append(params)
val = svm(**params)
print(params)
print(val)
t_end = time.time()
print(t_end - t_start)
svm_classifier=SVC(C=L[0]['C'],kernel='linear')

# 拟合模型
svm_classifier.fit(x_train_svm, y_train_svm)

# 使用模型预测
preds = svm_classifier.predict(x_test_svm)

print('准确率为%f' %((preds==y_test_svm).sum()/float(y_test_svm.shape[0])))
#joblib.dump(svm_classifier, '../code/model_svm')

|   iter    |  target   |     C     |
-------------------------------------
|  1        |  0.4515   |  471.9    |
|  2        |  0.4515   |  311.4    |
|  3        |  0.4515   |  301.9    |
|  4        |  0.4515   |  416.4    |
|  5        |  0.4515   |  450.1    |
|  6        |  0.4515   |  100.0    |
|  7        |  0.4515   |  100.1    |
|  8        |  0.4515   |  100.1    |
|  9        |  0.4515   |  500.0    |
|  10       |  0.4515   |  100.1    |
=====================================
{'C': 471.9232854934403}
0.4515175730669626
2800.8100554943085

In [27]:
from sklearn.svm import OneClassSVM
classer=OneClassSVM()
classer.fit(temp_0)
yHat=classer.predict(temp_0)
yHat = pd.DataFrame(yHat)
print(yHat)

     0
0    1
1   -1
2   -1
3    1
4   -1
..  ..
563 -1
564  1
565 -1
566  1
567  1

[568 rows x 1 columns]

In [38]:
yHat.columns = ['b']
temp_00 = pd.merge(yHat,temp_0,on = yHat.index)

In [42]:
#temp_00 = temp_00.drop('key_0',axis=1)
temp_00.groupby('b').count()

,0,1,2,3,4,5,6,7,8,9,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
b,,,,,,,,,,,,,,,,,,,,,
-1,287,287,287,287,287,287,287,287,287,287,...,287,287,287,287,287,287,287,287,287,287
1,281,281,281,281,281,281,281,281,281,281,...,281,281,281,281,281,281,281,281,281,281

In [43]:
classer=OneClassSVM()
classer.fit(temp_1)
yHat_1=classer.predict(temp_1)
yHat_1 = pd.DataFrame(yHat_1)
print(yHat_1)

      0
0     1
1    -1
2    -1
3    -1
4     1
...  ..
6377 -1
6378 -1
6379  1
6380  1
6381 -1

[6382 rows x 1 columns]

In [44]:
yHat_1.columns = ['b']
temp_11 = pd.merge(yHat_1,temp_1,on = yHat_1.index)
temp_11 = temp_11.drop('key_0',axis=1)
temp_11.groupby('b').count()

,0,1,2,3,4,5,6,7,8,9,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
b,,,,,,,,,,,,,,,,,,,,,
-1,3189,3189,3189,3189,3189,3189,3189,3189,3189,3189,...,3189,3189,3189,3189,3189,3189,3189,3189,3189,3189
1,3193,3193,3193,3193,3193,3193,3193,3193,3193,3193,...,3193,3193,3193,3193,3193,3193,3193,3193,3193,3193

In [14]:
#聚类
model = KMeans(n_clusters=2)
model.fit(temp_0)
labels = model.predict(temp_0)
labels = pd.DataFrame(labels)

In [15]:
labels.columns = ['b']
temp_00 = pd.merge(labels,temp_0,on = labels.index)
temp_00 = temp_00.drop('key_0',axis=1)

In [16]:
temp_00.groupby('b').count()

,0,1,2,3,4,5,6,7,8,9,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
b,,,,,,,,,,,,,,,,,,,,,
0,40,40,40,40,40,40,40,40,40,40,...,40,40,40,40,40,40,40,40,40,40
1,528,528,528,528,528,528,528,528,528,528,...,528,528,528,528,528,528,528,528,528,528

In [17]:
temp_000 = position_total.groupby(position_total.index).filter(lambda x : float(x['a'])==0)
temp_000 = temp_000['a']

In [18]:
temp_end_0 = pd.merge(temp_000,temp_00,on = temp_00.index)
temp_end_0 = temp_end_0.drop('key_0',axis = 1)

In [19]:
temp_end_0 = temp_end_0.groupby(temp_end_0.index).filter(lambda x:float(x['b'])==1)
temp_end_0

,a,b,0,1,2,3,4,5,6,7,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
0,0,1,73413,64116,21779,0,13097,4563,27162,1380,...,2845,5872,2418,1,8,3131,11,3021,1481,3591
1,0,1,5304,68859,8,55,48915,57,2,1,...,5203,1327,55,1808,1,57,540,45,107,9847
2,0,1,47256,11551,2470,2,7827,15813,11,9310,...,82,6936,82,44149,164,1022,2094,2085,624,916
4,0,1,3712,1,1,2,2986,1588,54,248,...,18,5366,11,1,66947,8,1,1537,97896,18
5,0,1,238,44,12779,1774,586,6929,325,3533,...,2976,11,17076,1322,1674,8,4892,1333,463,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
563,0,1,3534,55,836,57,535,942,8,5886,...,9034,17476,495,610,11,38938,1674,129,1622,8
564,0,1,13770,389,20441,1589,4843,1582,6769,1,...,1,244,1,8547,88181,819,11,35982,8,47217
565,0,1,15218,2255,60199,1711,1,11,64483,3369,...,11,260,196,845,3347,18,538,1,3645,893
566,0,1,57058,6496,1323,1771,55,51025,57,6496,...,67,11,3132,3383,3146,8,5061,16721,2679,1675
567,0,1,244,40321,98,37204,8,5374,650,0,...,25174,5649,58764,8,21301,98,313,4719,112,2376

In [21]:
#聚类普通企业员工
model = KMeans(n_clusters=2)
model.fit(temp_1)
labels = model.predict(temp_1)
labels = pd.DataFrame(labels)
labels.columns = ['b']
temp_11 = pd.merge(labels,temp_1,on = labels.index)
temp_11 = temp_11.drop('key_0',axis=1)
temp_111 = position_total.groupby(position_total.index).filter(lambda x : float(x['a'])==1)
temp_111 = temp_111['a']
temp_end_1 = pd.merge(temp_111,temp_11,on = temp_11.index)
temp_end_1 = temp_end_1.drop('key_0',axis = 1)
temp_end_1 = temp_end_1.groupby(temp_end_1.index).filter(lambda x:float(x['b'])==1)
temp_end_1

,a,b,0,1,2,3,4,5,6,7,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
0,1,1,475,6,80083,485,64138,8,5850,2,...,0,0,0,0,0,0,0,0,0,0
1,1,1,346,50,11,272,4761,55,62032,57,...,1294,128,1583,1,8,21732,1303,4837,11,1651
2,1,1,14791,1,55,15538,57,272,325,0,...,11,155,40016,8,46715,4,135,2468,5442,18
3,1,1,1,0,13097,4563,27162,1,9802,4563,...,8115,483,1,495,67,11,1,10132,8,1
4,1,1,4738,523,245,111031,11,5558,12684,245,...,11,1,54,515,5558,54190,83,44824,11,244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6376,1,1,55,1,57,1,409,876,0,55,...,347,8,54,1675,325,4548,4628,11,2679,14258
6377,1,1,1016,8523,1,2,5389,10,1467,1675,...,17137,15218,266,983,1,899,1326,1094,18,85
6379,1,1,321,244,35404,322,179,274,396,8,...,389,1,2,1,11,1006,483,1,112,88616
6380,1,1,44825,17315,55,13888,13888,57,11,378,...,1081,111,12,112,887,112,1685,237,8,483
6381,1,1,55,1,44274,13056,57,2432,11,2440,...,244,22001,11,10996,80,81,1,82,22443,24917

In [24]:
#聚类
model = KMeans(n_clusters=2)
model.fit(temp_2)
labels = model.predict(temp_2)
labels = pd.DataFrame(labels)
labels.columns = ['b']
temp_22 = pd.merge(labels,temp_2,on = labels.index)
temp_22 = temp_22.drop('key_0',axis=1)
temp_222 = position_total.groupby(position_total.index).filter(lambda x : float(x['a'])==2)
temp_222 = temp_222['a']
temp_end_2 = pd.merge(temp_222,temp_22,on = temp_22.index)
temp_end_2 = temp_end_2.drop('key_0',axis = 1)

In [25]:
temp_end_2.groupby('b').count()

,a,0,1,2,3,4,5,6,7,8,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
b,,,,,,,,,,,,,,,,,,,,,
0,97,97,97,97,97,97,97,97,97,97,...,97,97,97,97,97,97,97,97,97,97
1,2710,2710,2710,2710,2710,2710,2710,2710,2710,2710,...,2710,2710,2710,2710,2710,2710,2710,2710,2710,2710

In [26]:
temp_end_2 = temp_end_2.groupby(temp_end_2.index).filter(lambda x:float(x['b'])==1)
temp_end_2

,a,b,0,1,2,3,4,5,6,7,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
0,2,1,1363,102,55,1,57,8,15596,0,...,112,38075,112,15846,11,54,1006,467,26613,2258
1,2,1,15220,11005,129,464,40910,11,4554,30268,...,11,991,3053,47752,934,1,40,1669,5374,244
2,2,1,1,112,3533,112,352,2951,2,2345,...,1,35451,18,3198,106330,883,3286,2206,8,1
3,2,1,272,5904,2134,2762,53851,325,0,1562,...,67,11,1484,774,23601,6954,3291,4255,6954,4750
4,2,1,1015,272,535,1845,55,1176,57,129,...,54,1,1,8,483,1,495,11,185,3192
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2802,2,1,2581,11,54,13916,535,61316,47852,19181,...,741,2570,12470,463,55303,50263,1,18,244,1
2803,2,1,57058,6496,1323,1771,55,51025,57,6496,...,8,5500,1964,110511,2177,14499,111,18,6235,7852
2804,2,1,55,1,57,8,86903,1181,11,1481,...,0,0,0,0,0,0,0,0,0,0
2805,2,1,362,12120,8,102,55,24148,57,2,...,28457,8,810,11,9352,126,3559,10103,11,1553
2806,2,1,54,1675,44895,129,1006,650,55,1,...,4190,1,18,14069,8845,5440,11,483,109374,495

In [29]:
#聚类
model = KMeans(n_clusters=2)
model.fit(temp_3)
labels = model.predict(temp_3)
labels = pd.DataFrame(labels)
labels.columns = ['b']
temp_33 = pd.merge(labels,temp_3,on = labels.index)
temp_33 = temp_33.drop('key_0',axis=1)
temp_333 = position_total.groupby(position_total.index).filter(lambda x : float(x['a'])==3)
temp_333 = temp_333['a']
temp_end_3 = pd.merge(temp_333,temp_33,on = temp_33.index)
temp_end_3 = temp_end_3.drop('key_0',axis = 1)

In [30]:
temp_end_3.groupby('b').count()

,a,0,1,2,3,4,5,6,7,8,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
b,,,,,,,,,,,,,,,,,,,,,
0,157,157,157,157,157,157,157,157,157,157,...,157,157,157,157,157,157,157,157,157,157
1,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468,...,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468

In [31]:
temp_end_3 = temp_end_3.groupby(temp_end_3.index).filter(lambda x:float(x['b'])==1)
temp_end_3

,a,b,0,1,2,3,4,5,6,7,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
0,3,1,112143,8547,1,11,19596,1,1002,362,...,2460,2348,16988,129,483,1,109,65082,112,38642
1,3,1,15220,11005,129,464,40910,11,4554,30268,...,3793,7589,38968,41699,62527,37957,1,18,57,11176
3,3,1,26018,2298,1577,8,5282,6190,126,11,...,472,185,40,1,18,244,1,8,9329,1
4,3,1,57058,6496,1323,1771,55,51025,57,6496,...,1460,119821,11,2255,1076,153,229,81,1563,18
6,3,1,55,1,57,8,15449,11,8626,892,...,4835,244,34,50,54,3719,1688,8,93460,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1618,3,1,2263,6493,1674,55,1,57,325,0,...,14814,20637,1562,110107,11,1069,3591,1,899,1
1619,3,1,1765,39375,423,32399,2,1952,2267,11,...,11,1,3955,1,40,271,2,55,5299,565
1621,3,1,1,2406,892,948,32918,11,234,3428,...,3793,7589,38968,41699,62527,37957,1,18,57,11176
1623,3,1,1015,11,378,265,129,378,8,1,...,16899,2377,11,4144,58067,1232,15416,104868,2068,2143
1624,3,1,5394,1010,535,1006,55,1850,14271,57,...,14796,109,3664,44425,1181,111,313,1,109,1

In [34]:
#聚类
model = KMeans(n_clusters=2)
model.fit(temp_4)
labels = model.predict(temp_4)
labels = pd.DataFrame(labels)
labels.columns = ['b']
temp_44 = pd.merge(labels,temp_4,on = labels.index)
temp_44 = temp_44.drop('key_0',axis=1)
temp_444 = position_total.groupby(position_total.index).filter(lambda x : float(x['a'])==4)
temp_444 = temp_444['a']
temp_end_4 = pd.merge(temp_444,temp_44,on = temp_44.index)
temp_end_4 = temp_end_4.drop('key_0',axis = 1)

In [35]:
temp_end_4.groupby('b').count()

,a,0,1,2,3,4,5,6,7,8,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
b,,,,,,,,,,,,,,,,,,,,,
0,325,325,325,325,325,325,325,325,325,325,...,325,325,325,325,325,325,325,325,325,325
1,18,18,18,18,18,18,18,18,18,18,...,18,18,18,18,18,18,18,18,18,18

In [36]:
temp_end_4 = temp_end_4.groupby(temp_end_4.index).filter(lambda x:float(x['b'])==0)
temp_end_4

,a,b,0,1,2,3,4,5,6,7,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
1,4,0,53496,8,2196,12865,2,272,415,1,...,1,18,599,483,7673,495,244,1211,67,8605
2,4,0,1,0,13097,4563,27162,1,9802,4563,...,0,0,0,0,0,0,0,0,0,0
3,4,0,2263,3914,1231,185,751,3891,26775,26776,...,82,2616,11,441,38935,244,657,9512,237,8
4,4,0,279,1711,2494,11,3698,1711,6207,2,...,0,0,0,0,0,0,0,0,0,0
5,4,0,42356,8,55,16077,15426,57,11,37,...,126,2364,526,244,6738,10862,674,850,38,244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,4,0,8909,732,13041,11,1,5602,8,54,...,4973,390,82,34189,188,82,5859,362,6920,5374
338,4,0,57058,6496,1323,1771,55,51025,57,6496,...,0,0,0,0,0,0,0,0,0,0
340,4,0,71511,20300,4885,34383,6340,2,2120,1808,...,23189,129,81466,14447,3314,18,55,1047,22524,1582
341,4,0,4760,535,43890,2229,2,2263,717,11883,...,0,0,0,0,0,0,0,0,0,0
342,4,0,2361,15057,5886,55,1,57,325,1,...,0,0,0,0,0,0,0,0,0,0

In [39]:
#聚类
model = KMeans(n_clusters=2)
model.fit(temp_5)
labels = model.predict(temp_5)
labels = pd.DataFrame(labels)
labels.columns = ['b']
temp_55 = pd.merge(labels,temp_5,on = labels.index)
temp_55 = temp_55.drop('key_0',axis=1)
temp_555 = position_total.groupby(position_total.index).filter(lambda x : float(x['a'])==5)
temp_555 = temp_555['a']
temp_end_5 = pd.merge(temp_555,temp_55,on = temp_55.index)
temp_end_5 = temp_end_5.drop('key_0',axis = 1)

In [40]:
temp_end_5.groupby('b').count()

,a,0,1,2,3,4,5,6,7,8,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
b,,,,,,,,,,,,,,,,,,,,,
0,1118,1118,1118,1118,1118,1118,1118,1118,1118,1118,...,1118,1118,1118,1118,1118,1118,1118,1118,1118,1118
1,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16

In [41]:
temp_end_5 = temp_end_5.groupby(temp_end_5.index).filter(lambda x:float(x['b'])==0)
temp_end_5

,a,b,0,1,2,3,4,5,6,7,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
0,5,0,57058,6496,1323,1771,55,51025,57,6496,...,5203,1327,55,1808,1,57,540,45,107,9847
1,5,0,2288,4846,11,15871,54775,5335,15712,8,...,244,3232,3233,8,165,248,11,1630,1340,51281
2,5,0,378,244,2613,50,1674,9017,2,55,...,3849,25845,55,1,57,11,1,2278,1,11009
4,5,0,4837,63929,975,12968,3701,11,260,1865,...,5203,1327,55,1808,1,57,540,45,107,9847
5,5,0,63408,322,34342,325,1,66936,2502,23980,...,17137,15218,266,983,1,899,1326,1094,18,85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1129,5,0,281,36710,9912,1669,4490,1,25807,8,...,543,37,1,8,65026,11,192,7433,8,2576
1130,5,0,6866,21960,55,1,57,12863,0,31305,...,11,1324,154,10304,1336,21794,1010,22,8419,72765
1131,5,0,6969,11,1840,1006,2726,17043,325,0,...,3545,8,1,3920,82,5053,7731,11,2853,4467
1132,5,0,1,2,1583,6519,11,13631,13102,0,...,1291,109,77,111,11,8284,689,5585,8,30032
1133,5,0,47,27162,1,62,19162,650,71251,21078,...,1228,1333,6799,10518,8,9692,11,84,6799,741

In [42]:
#聚类找异常值
model = KMeans(n_clusters=2)
model.fit(temp_6)
labels = model.predict(temp_6)
labels = pd.DataFrame(labels)
labels.columns = ['b']
temp_66 = pd.merge(labels,temp_6,on = labels.index)
temp_66 = temp_66.drop('key_0',axis=1)
temp_666 = position_total.groupby(position_total.index).filter(lambda x : float(x['a'])==6)
temp_666 = temp_666['a']
temp_end_6 = pd.merge(temp_666,temp_66,on = temp_66.index)
temp_end_6 = temp_end_6.drop('key_0',axis = 1)

In [43]:
temp_end_6.groupby('b').count()

,a,0,1,2,3,4,5,6,7,8,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
b,,,,,,,,,,,,,,,,,,,,,
0,267,267,267,267,267,267,267,267,267,267,...,267,267,267,267,267,267,267,267,267,267
1,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8

In [44]:
temp_end_6 = temp_end_6.groupby(temp_end_6.index).filter(lambda x:float(x['b'])==0)
temp_end_6

,a,b,0,1,2,3,4,5,6,7,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
0,6,0,46328,92794,514,73463,325,346,1762,1588,...,34,12653,50,9485,81,6760,1375,11,336,7123
1,6,0,45169,38809,1763,0,55,4713,11602,11,...,1,18,599,483,7673,495,244,1211,67,8605
2,6,0,81793,2134,29781,31252,2134,11,6663,272,...,0,0,0,0,0,0,0,0,0,0
3,6,0,13788,102,30207,30233,13246,948,39393,650,...,24623,21081,11,991,1,47943,11,40,5944,244
4,6,0,5374,1774,7206,1,34,732,11,65661,...,65729,28581,6023,11,20826,1974,18,429,414,1702
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,6,0,1326,54,321,1964,55,4590,57,2703,...,79541,2732,18,378,20931,4450,7653,18,378,11367
271,6,0,21794,68756,55,25679,57,244,3920,1763,...,249,15449,7822,4416,24104,244,4142,2248,1,3420
272,6,0,66654,786,325,29629,13861,8866,2598,6412,...,4523,11,1630,5990,2720,1583,5751,1481,56159,18
273,6,0,750,3712,8,12383,3006,54,1675,325,...,8,527,57,18,1537,11,7490,1481,15748,11
274,6,0,1467,129,14255,27036,1,1,11,1774,...,39499,3873,11,7000,12026,28996,1,8,2951,11

In [45]:
x_npa1 = pd.concat([temp_end_0, temp_end_1], axis=0, ignore_index=True)

In [46]:
x_npa1 = pd.concat([x_npa1, temp_end_2], axis=0, ignore_index=True)
x_npa1

,a,b,0,1,2,3,4,5,6,7,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
0,0,1,73413,64116,21779,0,13097,4563,27162,1380,...,2845,5872,2418,1,8,3131,11,3021,1481,3591
1,0,1,5304,68859,8,55,48915,57,2,1,...,5203,1327,55,1808,1,57,540,45,107,9847
2,0,1,47256,11551,2470,2,7827,15813,11,9310,...,82,6936,82,44149,164,1022,2094,2085,624,916
3,0,1,3712,1,1,2,2986,1588,54,248,...,18,5366,11,1,66947,8,1,1537,97896,18
4,0,1,238,44,12779,1774,586,6929,325,3533,...,2976,11,17076,1322,1674,8,4892,1333,463,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9003,2,1,2581,11,54,13916,535,61316,47852,19181,...,741,2570,12470,463,55303,50263,1,18,244,1
9004,2,1,57058,6496,1323,1771,55,51025,57,6496,...,8,5500,1964,110511,2177,14499,111,18,6235,7852
9005,2,1,55,1,57,8,86903,1181,11,1481,...,0,0,0,0,0,0,0,0,0,0
9006,2,1,362,12120,8,102,55,24148,57,2,...,28457,8,810,11,9352,126,3559,10103,11,1553
9007,2,1,54,1675,44895,129,1006,650,55,1,...,4190,1,18,14069,8845,5440,11,483,109374,495

In [47]:
x_npa1 = pd.concat([x_npa1, temp_end_3], axis=0, ignore_index=True)
x_npa1

,a,b,0,1,2,3,4,5,6,7,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
0,0,1,73413,64116,21779,0,13097,4563,27162,1380,...,2845,5872,2418,1,8,3131,11,3021,1481,3591
1,0,1,5304,68859,8,55,48915,57,2,1,...,5203,1327,55,1808,1,57,540,45,107,9847
2,0,1,47256,11551,2470,2,7827,15813,11,9310,...,82,6936,82,44149,164,1022,2094,2085,624,916
3,0,1,3712,1,1,2,2986,1588,54,248,...,18,5366,11,1,66947,8,1,1537,97896,18
4,0,1,238,44,12779,1774,586,6929,325,3533,...,2976,11,17076,1322,1674,8,4892,1333,463,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10471,3,1,2263,6493,1674,55,1,57,325,0,...,14814,20637,1562,110107,11,1069,3591,1,899,1
10472,3,1,1765,39375,423,32399,2,1952,2267,11,...,11,1,3955,1,40,271,2,55,5299,565
10473,3,1,1,2406,892,948,32918,11,234,3428,...,3793,7589,38968,41699,62527,37957,1,18,57,11176
10474,3,1,1015,11,378,265,129,378,8,1,...,16899,2377,11,4144,58067,1232,15416,104868,2068,2143
10475,3,1,5394,1010,535,1006,55,1850,14271,57,...,14796,109,3664,44425,1181,111,313,1,109,1

In [48]:
x_npa1 = pd.concat([x_npa1, temp_end_4], axis=0, ignore_index=True)
x_npa1

,a,b,0,1,2,3,4,5,6,7,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
0,0,1,73413,64116,21779,0,13097,4563,27162,1380,...,2845,5872,2418,1,8,3131,11,3021,1481,3591
1,0,1,5304,68859,8,55,48915,57,2,1,...,5203,1327,55,1808,1,57,540,45,107,9847
2,0,1,47256,11551,2470,2,7827,15813,11,9310,...,82,6936,82,44149,164,1022,2094,2085,624,916
3,0,1,3712,1,1,2,2986,1588,54,248,...,18,5366,11,1,66947,8,1,1537,97896,18
4,0,1,238,44,12779,1774,586,6929,325,3533,...,2976,11,17076,1322,1674,8,4892,1333,463,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10796,4,0,8909,732,13041,11,1,5602,8,54,...,4973,390,82,34189,188,82,5859,362,6920,5374
10797,4,0,57058,6496,1323,1771,55,51025,57,6496,...,0,0,0,0,0,0,0,0,0,0
10798,4,0,71511,20300,4885,34383,6340,2,2120,1808,...,23189,129,81466,14447,3314,18,55,1047,22524,1582
10799,4,0,4760,535,43890,2229,2,2263,717,11883,...,0,0,0,0,0,0,0,0,0,0
10800,4,0,2361,15057,5886,55,1,57,325,1,...,0,0,0,0,0,0,0,0,0,0

In [49]:
x_npa1 = pd.concat([x_npa1, temp_end_5], axis=0, ignore_index=True)
x_npa1

,a,b,0,1,2,3,4,5,6,7,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
0,0,1,73413,64116,21779,0,13097,4563,27162,1380,...,2845,5872,2418,1,8,3131,11,3021,1481,3591
1,0,1,5304,68859,8,55,48915,57,2,1,...,5203,1327,55,1808,1,57,540,45,107,9847
2,0,1,47256,11551,2470,2,7827,15813,11,9310,...,82,6936,82,44149,164,1022,2094,2085,624,916
3,0,1,3712,1,1,2,2986,1588,54,248,...,18,5366,11,1,66947,8,1,1537,97896,18
4,0,1,238,44,12779,1774,586,6929,325,3533,...,2976,11,17076,1322,1674,8,4892,1333,463,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11914,5,0,281,36710,9912,1669,4490,1,25807,8,...,543,37,1,8,65026,11,192,7433,8,2576
11915,5,0,6866,21960,55,1,57,12863,0,31305,...,11,1324,154,10304,1336,21794,1010,22,8419,72765
11916,5,0,6969,11,1840,1006,2726,17043,325,0,...,3545,8,1,3920,82,5053,7731,11,2853,4467
11917,5,0,1,2,1583,6519,11,13631,13102,0,...,1291,109,77,111,11,8284,689,5585,8,30032
11918,5,0,47,27162,1,62,19162,650,71251,21078,...,1228,1333,6799,10518,8,9692,11,84,6799,741

In [50]:
x_npa1 = pd.concat([x_npa1, temp_end_6], axis=0, ignore_index=True)
x_npa1

,a,b,0,1,2,3,4,5,6,7,...,5110,5111,5112,5113,5114,5115,5116,5117,5118,5119
0,0,1,73413,64116,21779,0,13097,4563,27162,1380,...,2845,5872,2418,1,8,3131,11,3021,1481,3591
1,0,1,5304,68859,8,55,48915,57,2,1,...,5203,1327,55,1808,1,57,540,45,107,9847
2,0,1,47256,11551,2470,2,7827,15813,11,9310,...,82,6936,82,44149,164,1022,2094,2085,624,916
3,0,1,3712,1,1,2,2986,1588,54,248,...,18,5366,11,1,66947,8,1,1537,97896,18
4,0,1,238,44,12779,1774,586,6929,325,3533,...,2976,11,17076,1322,1674,8,4892,1333,463,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12181,6,0,1326,54,321,1964,55,4590,57,2703,...,79541,2732,18,378,20931,4450,7653,18,378,11367
12182,6,0,21794,68756,55,25679,57,244,3920,1763,...,249,15449,7822,4416,24104,244,4142,2248,1,3420
12183,6,0,66654,786,325,29629,13861,8866,2598,6412,...,4523,11,1630,5990,2720,1583,5751,1481,56159,18
12184,6,0,750,3712,8,12383,3006,54,1675,325,...,8,527,57,18,1537,11,7490,1481,15748,11
12185,6,0,1467,129,14255,27036,1,1,11,1774,...,39499,3873,11,7000,12026,28996,1,8,2951,11

In [51]:
x_npa_end = x_npa1.drop(['b','a'],axis=1)
y_npa_end = x_npa1['a']

In [54]:
x_npa_end = np.array(x_npa_end)
np.shape(x_npa_end)

x_npa_end = x_npa_end.reshape(12186,10,512)

In [55]:
y_npa_end = np.array(y_npa_end)
np.shape(y_npa_end)

(12186,)

In [58]:
x_npa_svm = x_npa1.drop(['b','a'],axis = 1)
y_npa_svm = x_npa1['a']
ss = StandardScaler()
x_npa_svm = ss.fit_transform(x_npa_svm)
x_train_svm,y_train_svm,x_test_svm,y_test_svm = split_train_eval_test_npa(x_npa_svm,y_npa_svm)


def svm(C,gamma):
    val = cross_val_score(
        SVC(C=C,
            gamma = gamma),
        x_train_svm, y_train_svm, scoring='r2', cv=10).mean()
    return val
t_start = time.time()
params = {
    'C': (0.001,50),
    'gamma':(1,20),
    }
svm_bo = BayesianOptimization(svm,params)
svm_bo.maximize(init_points = 1,n_iter =1)
params = svm_bo.max
params = params["params"]
L = list()
L.append(params)
val = svm(**params)
print(params)
print(val)
t_end = time.time()
svm_classifier=SVC(C=L[0]['C'],gamma=L[0]['gamma'],kernel = 'rbf')

## 初始化模型
#xgb_classifier = xgb.XGBClassifier(n_estimators=20,\
     #                              max_depth=4, \
       #                            learning_rate=0.1, \
         #                          subsample=0.7, \
           #                        colsample_bytree=0.7)

# 拟合模型
svm_classifier.fit(x_train_svm, y_train_svm)

# 使用模型预测
preds = svm_classifier.predict(x_test_svm)

print('准确率为%f' %((preds==test_y).sum()/float(test_y.shape[0])))

# 模型存储
joblib.dump(svm_classifier, 'D:\huxiu\position\position_svm_model_data8.model')

|   iter    |  target   |     C     |   gamma   |
-------------------------------------------------

KeyboardInterrupt:

In [ ]:
x_npa_svm = x_npa1.drop(['b','a'],axis = 1)
y_npa_svm = x_npa1['a']
ss = StandardScaler()
x_npa_svm = ss.fit_transform(x_npa_svm)
x_train_svm,y_train_svm,x_test_svm,y_test_svm = split_train_eval_test_npa(x_npa_svm,y_npa_svm)
svm = SVC(C = 15,
         gamma = 0.15,
         kernel = 'linear')
  #              x_train = np.array(x_train)
 #               x_test = np.array(x_test)
svm.fit(x_train_svm, y_train_svm)
               # validation_error.append(np.mean((xgboost.predict(x_test) - y_test) ** 2) ** 0.5)
    #            y_test = np.array(y_test)
#validation_error.append(np.mean((RF.predict(x_test)!= y_test).sum()/float(y_test.shape[0]))) 
pre_x_test = svm.predict(x_test_svm)
print('准确率为%f' %((pre_x_test==y_test_svm).sum()/float(y_test_svm.shape[0])))

In [179]:
x_train_end,y_train_end,x_test_end,y_test_end = split_train_eval_test_npa(x_npa_end,y_npa_end)

In [196]:
model = build_model(
        input_number = input_number,
        sentence_maxlen = sentence_maxlen,
        vocab_size = vocab_size,
        tag_size = tag_size,
        embedding_dim = embedding_dim,
        embedding_matrix = embedding_matrix,
        is_embedding_training = is_embedding_training,
        embedding_dropout_rate = embedding_dropout_rate,
        learning_rate = learning_rate
    )

    #model_callback = build_model_callback()

print(model.summary())

history = model.fit(
    {"input{}".format(i):x_train_end[:,i] for i in range(input_number)},
    y_train_end,
    validation_split = 0.25,
    batch_size=batch_size,
    epochs=epochs,
    verbose=1,
        #callbacks=list(model_callback),
        #class_weight = class_weight_dict,
    )

#测试集
model.evaluate({"input{}".format(i):x_test_end[:,i] for i in range(input_number)},y_test_end)
#保存模型
print("即将保存模型：{}".format(model_path))
model.save(model_path)

这是一个多分类模型
Model: "multi_textcnn"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input0 (InputLayer)             [(None, 512)]        0
__________________________________________________________________________________________________
input1 (InputLayer)             [(None, 512)]        0
__________________________________________________________________________________________________
input2 (InputLayer)             [(None, 512)]        0
__________________________________________________________________________________________________
input3 (InputLayer)             [(None, 512)]        0
__________________________________________________________________________________________________
input4 (InputLayer)             [(None, 512)]        0
__________________________________________________________________________________________________
input5 (InputLayer)             [(None, 512)]        0
__________________________________________________________________________________________________
input6 (InputLayer)             [(None, 512)]        0
__________________________________________________________________________________________________
input7 (InputLayer)             [(None, 512)]        0
__________________________________________________________________________________________________
input8 (InputLayer)             [(None, 512)]        0
__________________________________________________________________________________________________
input9 (InputLayer)             [(None, 512)]        0
__________________________________________________________________________________________________
embedding_11 (Embedding)        (None, 512, 256)     31448064    input0[0][0]
                                                                 input1[0][0]
                                                                 input2[0][0]
                                                                 input3[0][0]
                                                                 input4[0][0]
                                                                 input5[0][0]
                                                                 input6[0][0]
                                                                 input7[0][0]
                                                                 input8[0][0]
                                                                 input9[0][0]
__________________________________________________________________________________________________
dropout_22 (Dropout)            (None, 512, 256)     0           embedding_11[0][0]
                                                                 embedding_11[1][0]
                                                                 embedding_11[2][0]
                                                                 embedding_11[3][0]
                                                                 embedding_11[4][0]
                                                                 embedding_11[5][0]
                                                                 embedding_11[6][0]
                                                                 embedding_11[7][0]
                                                                 embedding_11[8][0]
                                                                 embedding_11[9][0]
__________________________________________________________________________________________________
conv1d_11 (Conv1D)              (None, 503, 128)     327808      dropout_22[0][0]
                                                                 dropout_22[1][0]
                                                                 dropout_22[2][0]
                                                                 dropout_22[3][0]
                                                                 dropout_22[4][0]
                                                                 dropout_22[5][0]
                                                                 dropout_22[6][0]
                                                                 dropout_22[7][0]
                                                                 dropout_22[8][0]
                                                                 dropout_22[9][0]
__________________________________________________________________________________________________
max_pooling1d_11 (MaxPooling1D) (None, 251, 128)     0           conv1d_11[0][0]
                                                                 conv1d_11[1][0]
                                                                 conv1d_11[2][0]
                                                                 conv1d_11[3][0]
                                                                 conv1d_11[4][0]
                                                                 conv1d_11[5][0]
                                                                 conv1d_11[6][0]
                                                                 conv1d_11[7][0]
                                                                 conv1d_11[8][0]
                                                                 conv1d_11[9][0]
__________________________________________________________________________________________________
flatten_11 (Flatten)            (None, 32128)        0           max_pooling1d_11[0][0]
                                                                 max_pooling1d_11[1][0]
                                                                 max_pooling1d_11[2][0]
                                                                 max_pooling1d_11[3][0]
                                                                 max_pooling1d_11[4][0]
                                                                 max_pooling1d_11[5][0]
                                                                 max_pooling1d_11[6][0]
                                                                 max_pooling1d_11[7][0]
                                                                 max_pooling1d_11[8][0]
                                                                 max_pooling1d_11[9][0]
__________________________________________________________________________________________________
concatenate_11 (Concatenate)    (None, 321280)       0           flatten_11[0][0]
                                                                 flatten_11[1][0]
                                                                 flatten_11[2][0]
                                                                 flatten_11[3][0]
                                                                 flatten_11[4][0]
                                                                 flatten_11[5][0]
                                                                 flatten_11[6][0]
                                                                 flatten_11[7][0]
                                                                 flatten_11[8][0]
                                                                 flatten_11[9][0]
__________________________________________________________________________________________________
dropout_23 (Dropout)            (None, 321280)       0           concatenate_11[0][0]
__________________________________________________________________________________________________
dense_11 (Dense)                (None, 7)            2248967     dropout_23[0][0]
==================================================================================================
Total params: 34,024,839
Trainable params: 2,576,775
Non-trainable params: 31,448,064
__________________________________________________________________________________________________
None
Epoch 1/7
113/113 [==============================] - 172s 2s/step - loss: 15.6563 - sparse_categorical_accuracy: 0.3006 - val_loss: 15.5910 - val_sparse_categorical_accuracy: 0.2316
Epoch 2/7
113/113 [==============================] - 172s 2s/step - loss: 10.1754 - sparse_categorical_accuracy: 0.5921 - val_loss: 20.1988 - val_sparse_categorical_accuracy: 0.3311
Epoch 3/7
113/113 [==============================] - 172s 2s/step - loss: 11.0164 - sparse_categorical_accuracy: 0.6614 - val_loss: 25.8546 - val_sparse_categorical_accuracy: 0.3449
Epoch 4/7
113/113 [==============================] - 173s 2s/step - loss: 11.7621 - sparse_categorical_accuracy: 0.7057 - val_loss: 29.1651 - val_sparse_categorical_accuracy: 0.3007
Epoch 5/7
113/113 [==============================] - 173s 2s/step - loss: 12.4484 - sparse_categorical_accuracy: 0.7462 - val_loss: 32.3500 - val_sparse_categorical_accuracy: 0.3299
Epoch 6/7
113/113 [==============================] - 173s 2s/step - loss: 13.1715 - sparse_categorical_accuracy: 0.7636 - val_loss: 36.2010 - val_sparse_categorical_accuracy: 0.3211
Epoch 7/7
113/113 [==============================] - 173s 2s/step - loss: 13.7278 - sparse_categorical_accuracy: 0.7831 - val_loss: 39.3492 - val_sparse_categorical_accuracy: 0.3078
76/76 [==============================] - 12s 162ms/step - loss: 39.6672 - sparse_categorical_accuracy: 0.2949
即将保存模型：/home/zourui/code/model_output2
INFO:tensorflow:Assets written to: /home/zourui/code/model_output2/assets